[2022-10-18 21:36] extinah commented on #601
Per art and christina's meeting:
Google survey
•	Instructions (one page per survey)
•	Page link:
•	What did you like:
•	What needs improvement:
•	How useful is this for your department website:
•	1 - 5
•	Not useful  -  very useful
•	Comment box

[2022-10-18 21:37] yesenia-gtz opened #602 "Update alert banner to link to survey - beta research"
Need simple banner to link to google survey for research purposes to get feedback from Nov 7- 11

[2022-10-18 21:41] yesenia-gtz opened #603 "Content update to add in framework links to get started page"
Content update to make it easy to link to the different frameworks on get started page

Example: https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/blob/master/README.md

![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/98193284/196549967-963066d5-24ba-47e4-9d88-39a1c02f81eb.png)

[2022-10-18 21:47] ashleydraper commented on #524
@artuoma @extinah Not super satisfied with this draft, but I don't want to hold this any longer.
Please review the [**About page**](https://docs.google.com/document/d/1lzx-s0uAgfjEJ09atcSN6_s2XwP4N6VSGpyZ6P70MvQ/edit#) as soon as you can and fill in the holes I've highlighted with any insight  you have.

[2022-10-18 22:05] artuoma commented on #340
Assigned to @korifan

[2022-10-18 22:08] yesenia-gtz commented on #602
@Greg-Watanabe @extinah  please work together to style banner and configure appropriately.

[2022-10-18 22:34] kkoryaka commented on #341
@sharon-rabang please review it once more. https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design/icons.html

[2022-10-18 22:35] kkoryaka commented on #408
@sharon-rabang I made the updates. Please review it one more time.

[2022-10-18 22:39] kkoryaka commented on #351
@ashleydraper card is now part of the patterns. Please review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/card.html

[2022-10-18 22:41] yesenia-gtz commented on #525
@carterm I have invited you to the OET research Airtable account for testing and configuration. Please let me know if you need further access or if you run into issues with your research.

https://airtable.com/appu01tGlmTTMm5uX/tblN7oCcLMOSPvbM6/viwBA9aiJfgaPQzga?blocks=hide

cc @artuoma @kkoryaka @ashleydraper

[2022-10-18 22:50] sharon-rabang commented on #299
@sharon-rabang @ashleydraper completed review of the Components landing page and all the other components pages.
Sharon will refine the landing page graphics for P2, to prioritize the placement of the content and design on all of the components pages in Figma.

[2022-10-18 22:56] sharon-rabang commented on #306
@sharon-rabang @ashleydraper completed review of the Structure landing page and all the other structural elements pages.
Sharon will revise some of the visual examples in Figma.

[2022-10-18 23:12] kkoryaka commented on #479
@sharon-rabang @ashleydraper this is now updated https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/card-grid.html

[2022-10-18 23:20] kkoryaka commented on #523
@artuoma this we have to keep, because this footer will be consumed by CAWeb. And in CAWeb options they have social icons in the footer (and it's the only place to put social media Icons in CAWeb because we took them away from the header). That is why I kept this layout. Unless you want me to ignore CAWeb. Remember that in v6 we are trying to preserve the structure and adding DS look and feel to i

[2022-10-19 00:23] Greg-Watanabe commented on #512
I see two pages of headings on that figma, which one am I supposed to use?

[2022-10-19 00:27] sharon-rabang commented on #512
@Greg-Watanabe Figma: [Settings banner colors](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=345%3A8786)

[2022-10-19 00:30] sharon-rabang commented on #280
Figma: [Settings banner colors](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=345%3A8786)

[2022-10-19 00:30] sharon-rabang commented on #466
Figma: [Settings banner colors](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=345%3A8786)

[2022-10-19 00:30] sharon-rabang commented on #568
Figma: [Settings banner colors](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=345%3A8786)

[2022-10-19 00:46] kkoryaka commented on #523
@sharon-rabang I have added the site footer also, see my comments above to Artem about footer layout.

[2022-10-19 00:47] Greg-Watanabe commented on #512
I don't see the site-settings background colors in the themes. Are they derived from one of the existing colors or do I need to add them as entirely new colors?

[2022-10-19 13:59] sharon-rabang commented on #512
@Greg-Watanabe I worked with @kkoryaka to create new colors to add.

[2022-10-19 14:13] sharon-rabang commented on #341
@kkoryaka Looks good, thanks!

[2022-10-19 14:37] sharon-rabang commented on #408
@kkoryaka The updated blue arrows look great!

After reviewing other examples yesterday, we needed to update the Text field example for consistency and clarity in Figma: [Forms elements](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=137%3A5469) page
![image](https://user-images.githubusercontent.com/99768807/196721835-8220fb8d-1887-47d6-a727-36169cb10f01

[2022-10-19 15:04] sharon-rabang commented on #523
@kkoryaka @artuoma Thanks! Here's are some design fixes to make:

1. Change More on V6 to State Web Template
2. Change links to white text
3. Change CA.gov logo colors to be consistent with the Design System (Ca = yellow, .gov = blue)
4. Thanks for explaining the footer limitations. If we must keep within the CaWeb footer limitations, can the Copyright info be right-aligned beneath the GitHub soci

[2022-10-19 15:30] sharon-rabang commented on #479
@kkoryaka @ashleydraper Thanks! I will find an image for the card sample and let you know when it's ready in Figma.

[2022-10-19 15:41] extinah commented on #587
Further refine the side nav interaction. The on page nav needs more visual hierarchy. It's confusing what is one page nav (anchor links) and what is a page link.

Example:
![image](https://user-images.githubusercontent.com/33840424/196739166-9511fcac-58e3-4fca-8836-bfe5276496c6.png)
![image](https://user-images.githubusercontent.com/33840424/196739265-ce48761d-9972-4557-b841-504268557c94.png)

[2022-10-19 17:33] ashleydraper commented on #299
@kkoryaka The components landing page is ready for dev. Please use the **[google doc](https://docs.google.com/document/d/1EV1vr5HskpNkl9S-Zsq_55JxkvQONiJrb-GDzxEt6aQ/edit#)** language as written and the **[Figma prototype](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A5622)** for reference.

[2022-10-19 17:39] sharon-rabang commented on #479
@kkoryaka @ashleydraper The card example's image is ready for dev in Figma: [Patterns: Card](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=365%3A8311)
The link to this royalty-free image is at the bottom of the Patterns Figma page, if needed.

[2022-10-19 18:04] kkoryaka commented on #568
@sharon-rabang I have updated the settings bar and search colors. Please review

[2022-10-19 18:36] sharon-rabang commented on #568
@kkoryaka How exciting, thanks!

Looking good! Here's are some design fixes to make:
**Settings bar design**
- Extra borders: Remove the gray borders/lines above and below the settings banner.
- Buttons:
-- Text: Change to use sentence case. Example: "High contrast"
-- Spacing: Add more space between the buttons if the spaces aren't at least 12px like in Figma
- "x" icon: Reduce size to the text h

[2022-10-19 18:39] kkoryaka commented on #299
@ashleydraper this is now updated, please review https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components.html

[2022-10-19 19:03] kkoryaka commented on #520
@sharon-rabang i have updated favicon to this one. (make sure you do couple of good hard refreshes to see it)
![favion](https://user-images.githubusercontent.com/31669748/196781169-c672410f-b5ec-4133-965c-c515001723f6.png)

[2022-10-19 19:10] kkoryaka commented on #523
@sharon-rabang will do items 1, 3 and 4. But as far as #2 go please make sure you do hard refresh because sometimes old css sits in your cache

[2022-10-19 19:18] ashleydraper commented on #453
Looks great. Ready to close.

[2022-10-19 19:32] kkoryaka commented on #523
@sharon-rabang this should be updated now. please review.

[2022-10-19 19:34] kkoryaka commented on #341
@yesenia-gtz this one is good to go and ready to be closed.

[2022-10-19 19:35] #341 closed

[2022-10-19 19:35] ashleydraper commented on #218
![image](https://user-images.githubusercontent.com/62437425/196787086-9f73c979-3fd0-4171-b871-3f920c746ecc.png)

[2022-10-19 19:41] sharon-rabang commented on #520
@kkoryaka Thanks! I made revisions - please replace with this updated version: [V6 favicon](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=312%3A8207)

[2022-10-19 20:11] ashleydraper commented on #351
Looks good. Ready to close.

[2022-10-19 20:23] ashleydraper commented on #479
This looks excellent. Great work team. Ready to close.

[2022-10-19 20:23] sharon-rabang commented on #523
@kkoryaka Looks good, thanks!

[2022-10-19 20:25] #351 closed

[2022-10-19 20:28] #596 closed

[2022-10-19 20:28] #588 closed

[2022-10-19 20:28] #453 closed

[2022-10-19 20:28] #479 closed

[2022-10-19 20:39] ashleydraper commented on #299
Looks good. Ready to close.

[2022-10-19 20:48] sharon-rabang commented on #523
@yesenia-gtz Yes, thanks!

[2022-10-19 20:49] #523 closed

[2022-10-19 20:58] sharon-rabang opened #627 ""All components" pages in Figma"
Create ["All components"](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A1060) pages in Figma
- Add content from the google docs
- Design examples based on the Design System's use of general or basic text (Link 1, Link 2, Section 1, Section 2, etc.)

@sharon-rabang @hamiltonryan

**All Components:**

- [x] Accordion
- [x] Alert
- [ ] #680
- [ ] #681
-

[2022-10-19 20:58] sharon-rabang opened #628 ""Structural elements" pages in Figma"
Create ["Structural elements"](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A1056) pages in Figma
- Ensure all the content has been placed from the google docs
- Design examples based on the Design System's use of general or basic text (Link 1, Link 2, Section 1, Section 2, etc.)

@sharon-rabang @hamiltonryan

Structural elements:
- [x] #682
- [x] #6

[2022-10-19 21:21] sharon-rabang commented on #306
@kkoryaka @ashleydraper The Structure landing page is ready for dev. Please use the [**google doc**](https://docs.google.com/document/d/1Mnw_Do_Ra8ozhCN-89DVraihOqTBJvjom6p1Zgmb_VI/edit) language as written and the **[Figma prototype](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A3950)** for reference.

[2022-10-19 21:35] sharon-rabang commented on #466
@kkoryaka Looks good! All the statewide utility header options displayed the correct s-1 on the [Color themes](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design/color/?delta) page.
There's one design fix to make: Change CA.gov logo colors to be consistent with the Design System (Ca = yellow, .gov = blue)

[2022-10-19 22:02] kkoryaka commented on #218
@ashleydraper this one is updated

[2022-10-19 22:04] ashleydraper commented on #218
Looks great. Ready to close.

[2022-10-19 22:16] #218 closed

[2022-10-19 22:34] kkoryaka commented on #408
@sharon-rabang this is now updated

[2022-10-19 22:35] kkoryaka commented on #520
@sharon-rabang icons is now updated

[2022-10-19 22:36] kkoryaka commented on #466
@sharon-rabang  the logo should be updated there too.

[2022-10-19 22:41] sharon-rabang commented on #520
@kkoryaka Looks good, thanks!

[2022-10-19 22:46] sharon-rabang commented on #408
@kkoryaka I don't see your Text field example updates. I refreshed many times.

[2022-10-19 22:48] sharon-rabang commented on #466
@kkoryaka Logo looks good and ready, thanks!

[2022-10-19 23:27] #520 closed

[2022-10-20 00:16] kkoryaka commented on #306
@sharon-rabang structure page should be now now up

[2022-10-20 00:18] kkoryaka commented on #408
@sharon-rabang I have added those two gray-50 blocks that i could not notice the first time

[2022-10-20 00:31] sharon-rabang commented on #408
@kkoryaka Looking good! Please make one design fix: Add white space between the 2 different examples, as shown here:
![image](https://user-images.githubusercontent.com/99768807/196829317-578d3e0b-1348-4b41-b9fc-533691478f22.png)

[2022-10-20 00:46] sharon-rabang commented on #306
@kkoryaka Looking good. Here are some design fixes to make:
- Side nav, Structural elements: Fix spelling for "Structural"
- Tabs for Example, Code, and Nunjucks: Does this not need Nunjucks? If not, we'll update the google doc and Figma
- Structural components heading: Fix spelling and change heading to "Structural elements"

[2022-10-20 00:46] kkoryaka commented on #408
@sharon-rabang sorry about that.  (it seems like my productivity goes below zero by the end of the day :) . i have added that space.

[2022-10-20 03:32] kkoryaka commented on #306
@sharon-rabang no nunjucka are needed for this page. I have updated those spelling errors

[2022-10-20 14:34] #466 closed

[2022-10-20 15:08] yesenia-gtz commented on #525
@carterm See below for form setup in airtable. I added the field values to the table for you and a link to review Design System feedback form configuration here: https://airtable.com/app4B5KqaCTSHAdCS/tbliV5kSgz7jBnIyT/viwDkwTUo3wZOqYhF?blocks=hide

**State Template contact form responses**

![Screen Shot 2022-10-20 at 8 01 33 AM](https://user-images.githubusercontent.com/98193284/196985502-e687b2

[2022-10-20 15:37] extinah commented on #408
@kkoryaka @ashleydraper
cc: @artuoma @yesenia-gtz @sharon-rabang

On Friday, we need to discuss the process moving forward for changes. Kon has good feedback but we need a better way to provide those (e.g. suggestions in google doc). We just need to be on the same page to allow folks feedback and to know when the edit should happen (or if it should happen).

[2022-10-20 16:24] Greg-Watanabe commented on #512
This is done
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design/color.html
@sharon-rabang

[2022-10-20 16:56] yesenia-gtz commented on #525
@carterm bummer, it is a link to the screenshot I attached for **Review Design System feedback form configuration**. just wanted to show you what was done in the Automations area of airtable.. you should be able to do that in our database.

[2022-10-20 17:49] sharon-rabang commented on #306
@kkoryaka Looks good and ready, thanks! The Nunjucks tab has been removed from Figma.

[2022-10-20 18:04] sharon-rabang commented on #470
@timothyshambra Thanks! Here are some fixes to make:
- Update the first 2 paragraphs with the content from the [Link grid](https://docs.google.com/document/d/1pQN5tNBUJZK8V3R1Uc-jX5-TkDNFk7ID8abskr3-h8w/edit#) google doc.
- Update the example with the image used on the [Link grid](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=46%3A4771) page in the Figma

[2022-10-20 18:30] yesenia-gtz commented on #525
@extinah @sharon-rabang  is there a design for the contact page ? are we using a generic form layout for this?

[2022-10-20 18:33] ashleydraper commented on #525
@yesenia-gtz It existed on the last board, I just copied it to our new environment. Here's the [**contact us**](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=431%3A8229) design from Courtney. Sharon may want to redesign.

[2022-10-20 18:57] extinah commented on #601
Here's the airtable link
https://airtable.com/shro9V6ry2Cf4mpgG
And what it looks like
![image](https://user-images.githubusercontent.com/33840424/197034294-95b731ba-bcaa-4a2c-8cef-5397b2ee6e31.png)

[2022-10-20 20:22] #306 closed

[2022-10-20 20:24] sharon-rabang commented on #519
@kkoryaka The link you provided isn't working for me.

[2022-10-20 20:28] kkoryaka commented on #519
@sharon-rabang does it downloading something? You should see this.
![Screen Shot 2022-10-20 at 1 26 50 PM](https://user-images.githubusercontent.com/31669748/197051301-c89e9b1c-fe00-42f2-ac94-8919f5653fda.png)

[2022-10-20 20:36] yesenia-gtz commented on #307
@sharon-rabang or @extinah can you review?

https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/

https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A441

[2022-10-20 20:45] sharon-rabang commented on #519
@kkoryaka It does - thanks for the screenshot. Is this information meant to update this page in Figma and then become a link in the footer after the 'Accessibility' link? [Sitemap](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A7039)

[2022-10-20 21:09] sharon-rabang commented on #512
@Greg-Watanabe Thanks! Here are some design fixes to make:
- Colors page:
-- Add a color theme section: Fix the first bullet with "Change the primary and secondary theme color variables in the SASS file (/src/scss/colortheme/oceanside.scss).
- Color themes page:
-- Swatches: I revised the design on the Figma [Color themes](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-of

[2022-10-20 21:16] Greg-Watanabe commented on #577
This is done.
Note that the meta tag requires the full path to the image, so it will need to be updated when the site is moved to a different domain name.

[2022-10-20 21:20] yesenia-gtz commented on #340
Assigning to @carterm per discussion with @artuoma and @kkoryaka

We should meet the design recommendations to include pagination below icon section for December production release. This was discussed and clarified in our team call on 9/23.

**See notes in https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/340#issuecomment-1279133116**

[2022-10-20 21:22] sharon-rabang commented on #577
@Greg-Watanabe Thanks! Can you provide us with a screenshot of how it displays in Teams, so we can review the design and content for edits? (When you and I were testing for this for ODP, I was having issues with clearing my cache to see our latest version in Teams.)

[2022-10-20 21:27] Greg-Watanabe commented on #577
![image](https://user-images.githubusercontent.com/24966826/197061724-7b46ec03-933f-43d1-88c0-d82ce969024b.png)

Here it is ... Try posting the url of a page you haven't posted before, then it might fetch the new image.

[2022-10-20 21:29] sharon-rabang commented on #577
@Greg-Watanabe The image looks great, thanks! As for content, is it set to display "California State Web Template" when we're ready to share the official link?

[2022-10-20 22:13] Greg-Watanabe commented on #577
The content comes from the title tag and the description meta tag

[2022-10-20 22:18] sharon-rabang commented on #577
@Greg-Watanabe Great, thanks! We can keep this issue open until its time to update the meta tag with the required full path to the image, when the site is moved to a different domain name.

[2022-10-20 23:14] sharon-rabang commented on #307
@timothyshambra Looking good! Here are some homepage design fixes to make:
 **- Featured banner section:**
 - -- Headline, bold text: Change 'Web' to 'State' Template!
 - -- Download button label: Delete 'span' and add a space between V6 and the icon
 **- Featured icons section:**
 - -- Background color: Ensure it's Gray-100
 - -- Icons and text: Is it possible to make the icons and their text be

[2022-10-20 23:16] kkoryaka commented on #519
@sharon-rabang  No need to update it in figma. We already have those URLs in our spreadsheet. i will close it out

[2022-10-20 23:21] kkoryaka commented on #568
@sharon-rabang i have updated the settings bar, and search bar on the serp page: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/serp.html?q=examples

Also, i have updated breadcrumbs look.

[2022-10-20 23:21] kkoryaka commented on #518
@sharon-rabang this is now updated https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/404.html

[2022-10-20 23:22] sharon-rabang commented on #307
Main landing pages update: There are no graphics that extend from the homepage to review on the main landing pages. That was part of an early concept we decided not to go with.

This GitHub issue is just for the homepage design now. Thanks!

[2022-10-20 23:28] sharon-rabang commented on #518
@kkoryaka The text sizes look better, thanks!
One last thing - is the sitemap link supposed to continue to be on this page, if it's not going to webpage?

[2022-10-20 23:35] kkoryaka commented on #518
@sharon-rabang unless we want to make public facing sitemap page. But sitemaps are meant for search engines.

[2022-10-20 23:39] sharon-rabang commented on #568
@kkoryaka Great, thanks! Here are a couple more design fixes to make:

- Settings bar, last button label: Use lowercase 'f' in "Dyslexic font"
- serp.html Search bar border/outline: Add a 5px corner radius to the top and bottom corners of the left side for consistency.

[2022-10-20 23:47] kkoryaka commented on #340
@carterm if  add that relevance logic that you mentioned on our dev's meeting that would be awesome.
1. by whole name first,
2. by whole tag word second,
3. by matching string at the beginning of name/tag
4. by matching string anywhere in the name/tag

[2022-10-20 23:51] extinah opened #649 "Create user-friendly sitemap (December)"
Create and link to a user-friendly sitemap when all or almost all of the pages have been created.

[2022-10-20 23:55] sharon-rabang commented on #649
Use [#519](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/519) Site map, for reference.

[2022-10-21 00:01] sharon-rabang commented on #518
@kkoryaka We will create a public facing sitemap page with [#649](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/649).
 Will update this 404 page's sitemap link, and also add it to the footer, when the sitemap page is ready.

[2022-10-21 00:10] sharon-rabang commented on #649
When the page is ready, add a link to the 404 page and the statewide footer.

[2022-10-21 15:01] sharon-rabang commented on #525
@yesenia-gtz @ashleydraper @extinah Here is the redesigned form in Figma: [Contact us](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=471%3A8653) | [Contact us error messages](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=471%3A9101)
Please let me know if we'll need to make any changes. Thanks!

[2022-10-21 15:52] yesenia-gtz commented on #525
@hamiltonryan @artuoma @kkoryaka @extinah should we include a section for Department in the contact form? Would be great to know who is reaching out to keep track of interested persons.

[2022-10-21 15:53] #519 closed

[2022-10-21 16:11] kkoryaka commented on #568
@sharon-rabang this is now updated https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/serp.html?q=examples

[2022-10-21 16:20] sharon-rabang commented on #568
@kkoryaka Looks good to go, thanks!

[2022-10-21 16:38] yesenia-gtz commented on #411
@timothyshambra  please review the attached recording.

- I noticed the line element on vertical tracker goes away on smaller device sizes.
- Menu drop down activated when viewing a smaller screen.

Can this be corrected?

**Link to recording:**
https://www.loom.com/share/eb0277bac5374bee8439835c7958f2b1

Cc @sharon-rabang

[2022-10-21 16:57] timothyshambra commented on #411
@yesenia-gtz
1. If we add a vertical line, It would go through the text and decrease legibility. I was not a part of the design of that component, but can look into it further.
2. I was not able to replicate that behavior on my end. Does it keep happening on your end?

[2022-10-21 18:08] kkoryaka commented on #577
@Greg-Watanabe place image into CDN directory instead

[2022-10-21 18:13] kkoryaka commented on #525
@yesenia-gtz Carter asked to move this item to production release date instead of Nov 4, because a lot of research involved.

[2022-10-21 18:15] yesenia-gtz commented on #525
Moved to production release

[2022-10-21 18:16] kkoryaka commented on #279
@yesenia-gtz please review the main nav

[2022-10-21 18:17] kkoryaka commented on #524
@artuoma assigning it to you

[2022-10-21 18:19] yesenia-gtz commented on #628
Note that all items except Side Navigation to be ready for Beta release, Side navigation will be reviewed and updated on Production relase

[2022-10-21 18:20] kkoryaka commented on #627
@yesenia-gtz please review the milestone

[2022-10-21 18:22] yesenia-gtz commented on #627
Milestone updated. @extinah @sharon-rabang I will schedule review session with Design team to workshop how to best approach to meet production release 12/23

[2022-10-21 18:22] kkoryaka commented on #602
@extinah please provide content for this one

[2022-10-21 18:24] kkoryaka commented on #601
@hamiltonryan please work with @extinah on this one

[2022-10-21 18:25] kkoryaka commented on #601
Link to this survey will be in alert banner

[2022-10-21 18:27] kkoryaka commented on #603
@artuoma work with @ashleydraper to add this section to get started page

[2022-10-21 18:50] yesenia-gtz commented on #602
Need to have this ready for Nov 4 beta launch

[2022-10-21 18:53] extinah commented on #601
@hamiltonryan  the link and what it looks like is above (I had to move fast for the dwsn yesterday).

Let me know if this looks good and we can send for internal review/approval

[2022-10-21 19:06] yesenia-gtz opened #652 "Build out Beta QA doc in Coda"
Duplicate format from ODP QA for state template Beta QA

[2022-10-21 19:20] yesenia-gtz commented on #652
Beta QA doc: https://coda.io/d/_dWUrhoQSm6T/Beta-Release_suBJE

[2022-10-21 20:06] hamiltonryan commented on #601
I would say it looks good for now. I'll be interested to see how the per page feedback goes, but if it doesn't work we may consider a more general one later. Fingers crossed though, per page feedback would be awesome!

[2022-10-21 20:29] sharon-rabang commented on #408
@yesenia-gtz Thanks for going over our content review process moving forward, at today's V6 weekly meeting.

Please take a look at the Form elements content between these three pages for Internal/Lead review and approval. The approved content will help us ensure consistency between all three.

- [Form elements - staging doc](https://docs.google.com/document/d/1JTKuRKCaaUDJb2SyGHtjpBcGpySt7yJG6pAOK

[2022-10-21 20:30] sharon-rabang commented on #628
@yesenia-gtz Thanks for going over our content review process moving forward, at today's V6 weekly meeting.

Please take a look at the Site navigation content between these three pages for Internal/Lead review and approval. The approved content will help us ensure consistency between all three.

- [Site navigation - staging doc](https://docs.google.com/document/d/1do8n7bgzpuSlPqtcQRgnijS92El8--T5z

[2022-10-21 21:02] extinah commented on #602
@Greg-Watanabe  @kkoryaka
Here's the figma link. And the content.

- **Figma**: https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=511%3A8649
- **Content**: [BETA] We’d love your feedback to make the template better. You have from November 4 to November 11.
- **Button link**: https://airtable.com/shro9V6ry2Cf4mpgG

[2022-10-21 21:03] extinah commented on #602
@artuoma can you review and approve?
![image](https://user-images.githubusercontent.com/33840424/197288303-6f884d76-498a-401b-bdc3-382f3cf5464d.png)

[2022-10-21 21:36] yesenia-gtz commented on #408
@extinah [ Content doc has been updated](https://docs.google.com/document/d/1JTKuRKCaaUDJb2SyGHtjpBcGpySt7yJG6pAOKD4GeEA/edit#) to align with [Staging ](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/form-elements.html)items. There were content edits made which will require another pass by development before we launch. Can you review the suggested edits before handing t

[2022-10-21 21:48] yesenia-gtz commented on #628
@extinah tagging you on this one. There are multiple site navigations items in [staging](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/structure/site-navigation.html) that need to be outlined in the [content doc](https://docs.google.com/document/d/1do8n7bgzpuSlPqtcQRgnijS92El8--T5zcbyiqXDuIE/edit#heading=h.rx4gk3lhdug1) to align with content structure used in other element sectio

[2022-10-21 23:16] kkoryaka commented on #602
@extinah  looks good to me. @Greg-Watanabe you will have to use utility classes to make it dark, because we don't have dark alert version. You might want to use alert Front Matter feature if this alert will be on the home page only. If it's going to be site wide use the structural includes as shown below
![Screen Shot 2022-10-21 at 4 13 17 PM](https://user-images.githubusercontent.com/31669748/197

[2022-10-21 23:46] sharon-rabang commented on #649
@extinah @kkoryaka The sitemap is ready for your review in Figma: [Sitemap](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=502%3A9146)

Please let me know if the content needs improvement. Thanks!

Here's the [#519](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/519) sitemap that was used for reference:  https:/

[2022-10-24 16:57] extinah commented on #649
@sharon-rabang  @kkoryaka  I'm thinking out loud here - wanted your thoughts.

Maybe instead of two column, we keep as one column.

And then under long lists of items, we have them be two column.

Example: For visual design, the different color schemes would be two column.

Thoughts? I wouldn't make the change in figma unless y'all are good with it.

Otherwise, I think it looks good. Maybe just de

[2022-10-24 17:12] sharon-rabang commented on #649
@extinah @kkoryaka I have to do a quick layout of your idea in Figma to help me see it better. BRB. :)

[2022-10-24 17:14] extinah opened #656 "Tabs (component)"
Google doc: https://docs.google.com/document/d/1M2eFfCIbwch1p6F4jWzNrwwuZOjaZX8J-dA5GlLGyJc/edit?usp=sharing
Figma: https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=544%3A10193
Dev site: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/tabs.html

Created card so we can use for QA, updates, etc.

[2022-10-24 17:18] sharon-rabang commented on #649
@extinah @kkoryaka Here's an example with Visual design in 2 columns in Figma: [Site map - option](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=535%3A10180)

Thoughts?

[2022-10-24 17:27] kkoryaka commented on #649
@sharon-rabang looks good

[2022-10-24 17:30] sharon-rabang commented on #411
@timothyshambra Hi! Can you provide the link to this in staging? Thanks!

[2022-10-24 17:32] extinah commented on #656
Hi @kkoryaka. Assign to anyone.

Minor fix - remove all periods from the bulleted items. No periods for these bulleted items.

![image](https://user-images.githubusercontent.com/33840424/197589113-a520380b-9b5e-45ac-ad72-87b3a80d7504.png)
![image](https://user-images.githubusercontent.com/33840424/197589205-c2205cb7-986d-43b2-8029-699e2ed0baa1.png)

Also, bulleted items for all accessibility piece

[2022-10-24 17:36] sharon-rabang commented on #327
@timothyshambra Looks good to go, thanks!

[2022-10-24 17:42] sharon-rabang commented on #470
@timothyshambra Looks good to go, thanks!

[2022-10-24 17:45] ashleydraper commented on #411
Hey @timothyshambra, I have now rolled off of the state template project. Sharon is completing all UX review, so feel free to just assign to her.
Cc: @sharon-rabang

[2022-10-24 18:02] extinah commented on #413
@ashleydraper
The google doc doesn't have periods.
We don't have content standards yet, but best practice is no periods at the end of bullets.
Let me know what you think.

[2022-10-24 18:05] #656 closed

[2022-10-24 18:06] ashleydraper commented on #413
Great point. I tend to use them when they read like a complete thought (sentence) and are not a single word list. We could use some standardization here, but my recommendation is to add periods like the screen shot mock up.

[2022-10-24 18:15] sharon-rabang commented on #411
@timothyshambra Here are some changes to make and some suggestions for consideration:

Content: Add these bullets after the first sentence on the page.
Use the progress tracker to show:
- Milestones
- Timelines
- Chronological steps

Responsive view
@timothyshambra @yesenia-gtz It looks like the timeline was designed to display without the line element in responsive view to begin with in https://t

[2022-10-24 18:42] kkoryaka commented on #649
@extinah @sharon-rabang https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sitemap.html

[2022-10-24 18:45] kkoryaka commented on #656
@extinah this is now updated https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/tabs.html

[2022-10-24 18:46] kkoryaka commented on #518
@sharon-rabang I have updated sitemap link: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/404.html

[2022-10-24 19:56] sharon-rabang commented on #649
@kkoryaka Thanks!
@extinah I prefer the 2-column layout, as it appears in dev and Figma.

The page looks good to go and ready to link from the footer and the 404 page. Here's the footer design in Figma: [Statewide footer](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=397%3A16117)

[2022-10-24 20:00] extinah commented on #649
Looks good!

[2022-10-24 20:04] sharon-rabang commented on #518
@kkoryaka Looks good to go, thanks!

[2022-10-24 20:44] sharon-rabang opened #663 "CSS classes shortcuts page"
- Create CSS classes shortcuts page content in a google doc and then design in Figma.
- Review and develop for December production release.
- Consider moving this page from Components to the **Get started** landing page (content still in progress).

Current draft:
- [CSS style shortcuts](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/css-shortcuts/css-units.html) in staging
- [CSS

[2022-10-24 20:52] kkoryaka commented on #649
@sharon-rabang I have added sitemap link to the footer.

[2022-10-24 21:07] sharon-rabang commented on #649
@kkoryaka Thanks for adding the footer link. Looks good to go!

[2022-10-24 23:56] extinah commented on #517
Be sure to include links to the packages in github (download links)

[2022-10-25 00:01] extinah commented on #517
Step list only preview the eleventy framework

[2022-10-25 15:27] extinah commented on #408
@yesenia-gtz  I have some suggested changes. Please review - we can chat if needed.

Note: The usage section is not in dev at all. would need to call that out when this goes to dev.

[2022-10-25 15:41] yesenia-gtz commented on #408
@kkoryaka Content doc has been updated to include edits made in staging development. Please assign accordingly to the engineering team.

Development Tasks:
- [ ] Update staging to reflect [the most up-to date content order](https://docs.google.com/document/d/1JTKuRKCaaUDJb2SyGHtjpBcGpySt7yJG6pAOKD4GeEA/edit#heading=h.u5167dhcwer6)
- [ ] Add in Usage section to development
- [ ] Align development t

[2022-10-25 15:59] sharon-rabang commented on #332
@kkoryaka The banner page is ready for dev.
- [Banner page](https://docs.google.com/document/d/1NMEih8i7Si_m8jbXj1IyrJE9Gtie0I6LxM5a2xiQ5rs/edit)in google doc
- [Banner page](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=564%3A9403) in Figma

[2022-10-25 16:03] sharon-rabang opened #665 "Pattern: Card"
Update the card image.
- [Card page](https://docs.google.com/document/d/1mGaXH57kXyLGFcXOnCt8cxa91zeHimBlxC9rq8NIfcA/edit#heading=h.xv7rpjtvd3w5) in google doc
- [Card page](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=365%3A8311) in Figma

[2022-10-25 18:53] sharon-rabang commented on #665
@kkoryaka The updated card image is ready for dev in Figma.

[2022-10-25 19:48] Greg-Watanabe commented on #512
@sharon-rabang
This is done.
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design/color.html

[2022-10-25 20:51] #568 closed

[2022-10-25 20:53] #518 closed

[2022-10-25 20:53] #649 closed

[2022-10-25 21:06] sharon-rabang commented on #512
@Greg-Watanabe Thanks! Here are some more design fixes to make:
- Colors page:
-- Add a color theme section: Delete the extra sentence from the first bullet: "Instructions can be found in the readme file."
-- Add another line of white space between the Color themes content and the cards as shown in Figma.
- Color themes page:
-- Swatches, Samples section - dark backgrounds: Update the link grid ex

[2022-10-25 22:07] yesenia-gtz commented on #628
@kkoryaka [Site Navigation content doc has been aligned with Figma](https://docs.google.com/document/d/1do8n7bgzpuSlPqtcQRgnijS92El8--T5zcbyiqXDuIE/edit#heading=h.rx4gk3lhdug1). Please [ensure staging](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/structure/site-navigation.html) is aligned with content doc for consistency.

cc: @extinah @sharon-rabang @artuoma

[2022-10-25 22:11] yesenia-gtz commented on #524
@artuoma have you reviewed https://docs.google.com/document/d/1lzx-s0uAgfjEJ09atcSN6_s2XwP4N6VSGpyZ6P70MvQ/edit? Can this be completed today?

[2022-10-25 22:25] yesenia-gtz commented on #602
@Greg-Watanabe this is ready for dev

[2022-10-25 22:29] yesenia-gtz commented on #279
@kkoryaka reviewed and looks goof to me. is this ready to close out?

[2022-10-25 22:52] kkoryaka commented on #332
@sharon-rabang this page should be ready. Please review

[2022-10-25 22:53] kkoryaka commented on #279
Sure. @yesenia-gtz please do.

[2022-10-25 22:54] #279 closed

[2022-10-25 22:58] yesenia-gtz commented on #601
Closing this one as survey is build out in Airtable. Team is now working on development for banner on site.

[2022-10-25 22:58] #601 closed

[2022-10-25 22:58] sharon-rabang commented on #280
@Greg-Watanabe The Typography page is ready for dev.

[Typography page](https://docs.google.com/document/d/11oaHBWMaPXzwPCxEUAB65aSLps3nmyLzzE4tvmimSU0/edit#) in google doc
[Typography page](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=57%3A4871) in Figma

[2022-10-25 23:16] sharon-rabang commented on #332
@kkoryaka Thanks! Here are some changes to make:
- Full span banner example: Reduce the height of banner from the bottom to center the content (see the Figma page for reference).
- Feature banner example: Reduce the size of the banner to visually illustrate how much shorter it is compared to the full span banner example above (see the Figma page for reference).
- Usage, "When and how to use it" se

[2022-10-25 23:20] yesenia-gtz opened #669 "Move CSS pages to Getting started section and design updates"
To do:
- [x] Need to move CSS section to get started for Beta launch
- [x] Update get started landing page
- [x] Clean up expanded CSS section post beta release
- [x] Update design in Figma

[2022-10-26 16:17] sharon-rabang commented on #665
@kkoryaka The image update looks good, thanks!
Content updates to make:
- Accessibility section - Add a period at the end of every bullet item.

[2022-10-26 16:18] sharon-rabang commented on #332
@kkoryaka Another content update to make:
- Accessibility section - Add a period at the end of every bullet item.

[2022-10-26 16:51] extinah opened #672 "Create CDN page"
Be inspired by this:
https://template.webstandards.ca.gov/cdn.html

Google doc: https://docs.google.com/document/d/1-MUPE-vjY9YlkYetE4pILwnypL4DsRaGYyEAgepLVsg/edit?usp=sharing

[2022-10-26 18:05] kkoryaka commented on #332
@sharon-rabang please review. BTW, @ashleydraper and @extinah  asked me to remove all periods rom the bulleted sections the other day. including the accessibility section. You need to verify that with @ashleydraper
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/banner.html

[2022-10-26 18:16] sharon-rabang commented on #665
@kkoryaka Looks good to go, thanks!

I believe @ashleydraper and @extinah made a great call about bullets without periods for this site. Will update all of the Figma pages' accessibility section.

[2022-10-26 18:34] artuoma commented on #524
Done with my edits - please review!

[2022-10-26 18:50] hamiltonryan opened #677 "Components: Parallax"
Parallax images and style have been updated in Figma, and is ready for Dev.

[2022-10-26 19:00] hamiltonryan commented on #677
@kkoryaka Hey Konstantin, the Parallax component page has been updated in Figma, and is ready for Dev.
https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=575%3A8712

[2022-10-26 19:04] hamiltonryan commented on #627
Minor issue on the Components page. The Number Counter card is out of place for some reason, and is now before Parallax in the order.

[2022-10-26 19:17] kkoryaka commented on #408
@sharon-rabang please review https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/form-elements.html

[2022-10-26 19:21] extinah commented on #672
We don't have this page but we need one. For the production release. Should be simple. Needs to be IA.

[2022-10-26 20:02] sharon-rabang commented on #627
@hamiltonryan In Figma, I'll fix the Components landing page cards and all of the other page's side nav to ensure they're in alpha order. Thanks!

[2022-10-26 20:38] hamiltonryan opened #680 "Components: Blockquote"
The "Basic blockquote" section is missing the heading for the first blockquote "With graphic"

[2022-10-26 20:42] hamiltonryan opened #681 "Components: Breadcrumb"
The sample text has been updated in Figma, and is ready for Dev

[2022-10-26 20:42] extinah commented on #517
Konstantin and Art reviewed and provided feedback. New page needs to be created in figma. @sharon-rabang  @hamiltonryan  can one of you work on it? i'm finalizing the get started page now.

Download and setup
https://docs.google.com/document/d/1A--CplY-8qepW4dG_jG0Bdg-eiDgqZ5RQgt7lD8jVPo/edit?usp=sharing

[2022-10-26 20:44] sharon-rabang commented on #408
@kkoryaka Thanks!

Here are some changes to make:
- Form elements section, bullets: Remove extra "e" from Checkbox
- Checkbox, example: Update with the basic one in [Figma](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=592%3A10126)
- Radio button, example: Update with the basic one in [Figma](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-We

[2022-10-26 20:46] sharon-rabang commented on #517
@extinah @hamiltonryan I can help work on this.

[2022-10-26 21:01] sharon-rabang opened #682 "Structure: Utility header"

[2022-10-26 21:03] sharon-rabang commented on #682
@kkoryaka The utility header page is ready for dev.

- [Utility header](https://docs.google.com/document/d/1XNd6uPBNR704coeuNh16lNNUllmJ6ZTgyE9q4_Ky2ig/edit#heading=h.rspxulmdycld) - google doc
- [Utility header](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=14%3A7786) - Figma

[2022-10-26 21:08] sharon-rabang opened #683 "Structure: Settings"

[2022-10-26 21:10] extinah commented on #517
@artuoma  @kkoryaka  Ready for your review:
https://docs.google.com/document/d/18lrNAan6a05MHQWIb3K_Kp-fHVPA_E0feOWmocav4ts/edit#

Will also send to you in teams.

[2022-10-26 21:11] sharon-rabang commented on #683
@kkoryaka The Settings page is ready for dev.

Settings - [google doc](https://docs.google.com/document/d/1siZ5c2YNAI-JsvBB3bSkSXQ5DOuVef19JJDTSVmtd20/edit#heading=h.rx4gk3lhdug1)
Settings - [Figma](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=14%3A7761)

[2022-10-26 21:15] sharon-rabang opened #684 "Structure: Search"

[2022-10-26 21:15] sharon-rabang opened #685 "Structure: Site header"

[2022-10-26 21:17] sharon-rabang commented on #685
@kkoryaka The Site header page is ready for dev.

- [Site header](https://docs.google.com/document/d/1ovKFrJs1HhQgKTiOVk6klDdEH8j-CocT93zQ4IFk44o/edit#heading=h.rx4gk3lhdug1) - google doc
- [Site header](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=14%3A7736) - Figma

[2022-10-26 21:21] sharon-rabang commented on #684
@kkoryaka The Search page is ready for dev.

- [Search](https://docs.google.com/document/d/1ztmzSn3N-R3kxpTUz3hIEzWbVx47--wLZJAhgCtHPnQ/edit#heading=h.xv7rpjtvd3w5) - google doc
- [Search](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=14%3A7703) - Figma

[2022-10-26 21:23] sharon-rabang opened #686 "Structure: Site navigation"

[2022-10-26 21:29] sharon-rabang commented on #686
@kkoryaka The Site navigation page is ready for dev.

- [Site navigation](https://docs.google.com/document/d/1do8n7bgzpuSlPqtcQRgnijS92El8--T5zcbyiqXDuIE/edit#heading=h.kp15ls2io1p5) - google doc
- [Site navigation](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=471%3A9501) - Figma

[2022-10-26 21:32] sharon-rabang opened #687 "Structure: Footer"

[2022-10-26 21:34] sharon-rabang commented on #687
@kkoryaka The Footer page is ready for dev.

- [Footer](https://docs.google.com/document/d/1Gg-8bZmmCIv-GV7MjqlO9Lx1a93hKamlnsFlUXTKJeI/edit#heading=h.rx4gk3lhdug1) - google doc
- [Footer](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=14%3A7510) - Figma

[2022-10-26 21:39] sharon-rabang commented on #628
@kkoryaka We can track the Site navigation page on its own in [#686](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/686).

All the other tasks for creating "Structural elements" pages in Figma have been completed.

[2022-10-26 22:08] #470 closed

[2022-10-26 22:08] #327 closed

[2022-10-26 22:49] sharon-rabang opened #691 "Components: Countdown timer"

[2022-10-26 23:02] sharon-rabang commented on #691
@kkoryaka The Countdown timer pager is ready for dev.

- [Countdown timer](https://docs.google.com/document/d/1Vas40gy7wU29TzJ5Jxc7_NN-aCMJEIIEupck-gtPak0/edit#) - google doc
- [Countdown timer](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=478%3A9160)  - Figma

Here are some of the changes to make:
- Countdown timer section, bullets: Add "Weeks" and mak

[2022-10-26 23:40] sharon-rabang opened #694 "Components: Lists"

[2022-10-26 23:45] sharon-rabang commented on #694
@kkoryaka The Lists page is ready for dev.

- [Lists](https://docs.google.com/document/d/1sbr5yVdc36So8aW6fbiNo52zWUhgNZQoSJHukopQlIA/edit) - google doc
- [Lists](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=513%3A8643) - Figma

Here are some of the changes to make:
- Unordered list example: Reduce height of the outline container to vertically center th

[2022-10-26 23:53] kkoryaka commented on #682
@sharon-rabang this is now updated, please review https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/structure/utility-header.html

[2022-10-26 23:57] sharon-rabang opened #697 "Components: Table"

[2022-10-27 00:08] sharon-rabang commented on #697
@kkoryaka The Table page is ready for dev.

- [Table](https://docs.google.com/document/d/1wti96QD3bOLNDnVat3PufHeComN2FF7U76S6VWTKG0g/edit#heading=h.xv7rpjtvd3w5) - google doc
- [Table](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=545%3A9460) - Figma

Here are some of the changes to make:
- Basic, Shaded, and Zebra examples:
- -- Change the user name @f

[2022-10-27 00:18] kkoryaka commented on #683
@sharon-rabang this is complete, please review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/structure/settings-bar.html

[2022-10-27 00:36] hamiltonryan commented on #680
@kkoryaka The Blockquote component page updates are ready for Dev.

- [Blockquote Page](https://docs.google.com/document/d/1a4MKyUL_jrWf_YAIa9zC0HJORtH3bXDgb7AKz_KTOp8/edit#heading=h.z68m2zuis6an) - google doc
- [Blockquote Page](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=472%3A8379) - Figma

[2022-10-27 00:37] kkoryaka commented on #694
@sharon-rabang this is also updated

[2022-10-27 00:38] hamiltonryan commented on #681
@kkoryaka The Breadcrumb component page updates are ready for Dev.

- [Blockquote Page](https://docs.google.com/document/d/1he_wH2H_59JmuOXfTJuXDANV5bofqRmFFCl5O6UpqxM/edit#) - google doc
- [Blockquote Page](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=478%3A8502) - Figma

[2022-10-27 00:44] #627 closed

[2022-10-27 14:23] #628 closed

[2022-10-27 15:01] yesenia-gtz commented on #524
@ashleydraper  About page content updated. @sharon-rabang does this need to be added to figma designs?

[2022-10-27 15:03] sharon-rabang commented on #524
@yesenia-gtz Yes, I'll add it to Figma, thanks!

[2022-10-27 15:04] #332 closed

[2022-10-27 15:08] sharon-rabang commented on #682
@kkoryaka Thanks! Here are some changes to make:
- Utility header content: Under "It includes" in the first bullet, fix the external link icon and link to https://www.ca.gov.
- Examples: The images look blurry. Please try replacing them with the attached png files to see if they display better.
-- ![header-desktop](https://user-images.githubusercontent.com/99768807/198327607-80ae1daa-7451-47ad-927

[2022-10-27 15:15] sharon-rabang commented on #683
@kkoryaka Thanks! Here are some changes to make:
- Examples: Update the desktop image and replace the mobile image with the attached png files for a sharper display.
![settings-desktop](https://user-images.githubusercontent.com/99768807/198329477-b925b36e-79c1-49a8-9d91-45b3383cb95c.png)
![settings-mobile](https://user-images.githubusercontent.com/99768807/198329488-f264bbb4-4755-41b7-a2b4-0df5837

[2022-10-27 15:39] sharon-rabang commented on #685
@kkoryaka For the examples, I'll create and attach png files here to help make sure they display well.

[2022-10-27 15:40] sharon-rabang commented on #684
@kkoryaka For the examples, I'll create and attach png files here to help make sure they display well.

[2022-10-27 15:40] sharon-rabang commented on #686
@kkoryaka For the examples, I'll create and attach png files here to help make sure they display well.

[2022-10-27 15:49] sharon-rabang commented on #685
![site-header-desktop](https://user-images.githubusercontent.com/99768807/198337926-d08794f5-31e8-47ab-a38d-9bf3709a69e3.png)
![site-header-mobile](https://user-images.githubusercontent.com/99768807/198337932-e304ea5a-6c52-4bda-b1cf-037079bd70c8.png)

[2022-10-27 15:53] sharon-rabang commented on #684
![active-search-desktop](https://user-images.githubusercontent.com/99768807/198338878-c5e6fe12-e23b-42e2-8812-c1d570b92d6e.png)
![active-search-mobile](https://user-images.githubusercontent.com/99768807/198338886-25ee7611-108f-4a60-86af-d6004fcb1594.png)
![inactive-search-desktop](https://user-images.githubusercontent.com/99768807/198338892-9ad15056-7480-426e-98af-8d542d9252b2.png)
![inactive-sear

[2022-10-27 15:58] sharon-rabang commented on #686
![single-level-menu](https://user-images.githubusercontent.com/99768807/198340102-f3325ef5-ba8b-4fee-8725-5d0decb1d5d6.png)
![dropdown-menu](https://user-images.githubusercontent.com/99768807/198340115-55dcf4f3-45a2-42f2-a1b7-f308761df055.png)
![mega-menu](https://user-images.githubusercontent.com/99768807/198340122-e046f136-fb5e-481f-b84b-171acbd9f6ee.png)
![icon-menu](https://user-images.githubu

[2022-10-27 16:05] sharon-rabang commented on #687
@kkoryaka For the examples, I'll create and attach png files here to help make sure they display well.
![footer-desktop](https://user-images.githubusercontent.com/99768807/198341645-0404fa4e-40d0-441f-89e7-b2acfacbf6fc.png)
![footer-mobile](https://user-images.githubusercontent.com/99768807/198341659-eeedf260-3760-42ce-913d-5699fd6a11de.png)

[2022-10-27 16:22] sharon-rabang commented on #524
The About page is now in Figma: [About](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=718%3A10947)

[2022-10-27 16:26] extinah commented on #663
@kkoryaka  this is ready for your review
https://docs.google.com/document/d/19DLeDVVfT_HX5H2Ub9en0KqZN74JmsewwSRB3IecfcQ/edit?usp=sharing

[2022-10-27 16:31] #694 closed

[2022-10-27 16:56] sharon-rabang commented on #526
Closing this issue since this is duplicate of the work in progress in [#663](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/663).

[2022-10-27 16:56] #526 closed

[2022-10-27 17:01] Greg-Watanabe commented on #602
@extinah
Do you want the banner to appear sitewide or only on the homepage. And do you want a "X" button to close the banner? I don't see one in the figma.

[2022-10-27 17:32] sharon-rabang commented on #477
@Angsv As you redesign the profiles examples, here are some notes from our 10/05/22 Patterns UX workshop, for reference:
- Redesign with design elements and type that compliment our look and feel
- Do research to find best examples to display
- Rename as "Profiles"?

@yesenia-gtz Can you or someone else create content for this page, to be consistent with the other pattern pages?

[2022-10-27 17:48] sharon-rabang commented on #680
@sharon-rabang Reassigning this one to myself to add another example that includes a profile image.
Will close the related and past issue [#325](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/325).

[2022-10-27 17:51] sharon-rabang commented on #325
Will close this past issue and continue the current work in progress in [#680](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/680).

[2022-10-27 17:52] #325 closed

[2022-10-27 18:14] kkoryaka commented on #677
Updated parallax. i think this image is not good as an background, because text have not enough contrast.
![Screen Shot 2022-10-27 at 10 37 47 AM](https://user-images.githubusercontent.com/31669748/198367188-8040ae92-c7b0-4bee-b5ed-7e6e16ea30f9.png)

[2022-10-27 19:39] kkoryaka commented on #683
@sharon-rabang i used your images. please review

[2022-10-27 19:39] kkoryaka commented on #682
@sharon-rabang i used your images please review

[2022-10-27 19:40] kkoryaka commented on #677
@sharon-rabang this page is updated but check the the legibility on sand image.

[2022-10-27 19:42] kkoryaka commented on #681
@sharon-rabang this is now updated

[2022-10-27 19:43] kkoryaka commented on #697
@sharon-rabang this is now updated https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/table.html

[2022-10-27 19:44] kkoryaka commented on #691
@sharon-rabang this is now updated

[2022-10-27 19:45] sharon-rabang commented on #682
@kkoryaka Looks good to go, thanks!

[2022-10-27 19:46] sharon-rabang commented on #683
@kkoryaka Looks good to go, thanks!

[2022-10-27 19:59] sharon-rabang commented on #681
@kkoryaka Thanks! Here are some changes to make:
- Example:
-- Reduce height of the outline container to vertically center the breadcrumbs.
-- Is it possible to update the example's text with the basic terms used in Figma - "Breadcrumb 1 / Breadcrumb 2 / Breadcrumb 3"?

[2022-10-27 20:05] sharon-rabang commented on #697
@kkoryaka Looks good to go, thanks!

[2022-10-27 20:12] sharon-rabang commented on #691
@kkoryaka Thanks! Here are some changes to make:
- Example:
-- Headings: Delete "Countdown" to become "Default" and Primary" for consistency across all examples' headings.
-- Countdown timer headings: Change "min" and "sec" to "mins" and "secs" for consistency across the timer's headings.

[2022-10-27 20:40] sharon-rabang commented on #677
@kkoryaka Thanks for making the update! @hamiltonryan is making some adjustments to the images, so we'll let you know when the revisions and design feedback are ready.

[2022-10-27 20:55] hamiltonryan commented on #677
@kkoryaka I updated all of the images for this one to work better and lightened that sand one to help with legibility.

- [Updated Parallax Page](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=545%3A10209) - Figma
- [Updated Parallax Images](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=750%3A9245) - Figma page

[2022-10-27 21:08] kkoryaka commented on #408
@sharon-rabang In input file I can't change "Choose File" to lover case because it's native browser's HTML text. It's there by default

[2022-10-27 21:37] #697 closed

[2022-10-27 21:37] #682 closed

[2022-10-27 21:37] #683 closed

[2022-10-27 22:14] extinah commented on #602
Hi @Greg-Watanabe
Sitewide please.

No X - since this is beta, we want it to just stay there. :)

Thanks!

[2022-10-27 22:15] extinah commented on #685
Here's the final content:
https://docs.google.com/document/d/1ovKFrJs1HhQgKTiOVk6klDdEH8j-CocT93zQ4IFk44o/edit?usp=sharing

[2022-10-27 22:16] extinah commented on #525
Updated the word doc to include a section for department.... then saw this was moved to production release. Heads up.

https://docs.google.com/document/d/1pGl4gHz1IX8Kn94GQXWUzbHGInjf5f-c08TejsBlquc/edit

[2022-10-27 22:21] extinah commented on #656
Looks great thanks.

[2022-10-27 22:26] extinah opened #714 "Mobile controls"
Short section already with draft content from Konstantin. Creating a word doc to go along with it.

@sharon-rabang  @hamiltonryan  this also needs a figma design at some point. It's mainly text so might not be a bit deal. Thanks

https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/structure/mobile-controls.html

[2022-10-27 22:31] hamiltonryan commented on #714
I'll go ahead make a Figma page for it under structure

[2022-10-27 22:35] sharon-rabang commented on #408
@kkoryaka Okay, thanks for letting me know that it's there by default!

[2022-10-27 22:42] extinah commented on #714
Content doc:
https://docs.google.com/document/d/1a7bS-RQ-3XITyF53ardfLp0G7iGQPG0JDKsSEYAMrp4/edit?usp=sharing

[2022-10-27 22:42] extinah commented on #714
@kkoryaka  please assign as needed. Here's the updated content:
https://docs.google.com/document/d/1a7bS-RQ-3XITyF53ardfLp0G7iGQPG0JDKsSEYAMrp4/edit?usp=sharing

[2022-10-27 22:54] sharon-rabang commented on #714
@kkoryaka The Mobile controls page is ready for dev.

- [Mobile controls](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=766%3A9299) - Figma
![mobile-controls](https://user-images.githubusercontent.com/99768807/198412870-ec9b677e-c643-46c5-909d-af9e8bc5bf53.png)

[2022-10-27 22:57] extinah commented on #517
@sharon-rabang  - updated content. Thanks.
https://docs.google.com/document/d/18lrNAan6a05MHQWIb3K_Kp-fHVPA_E0feOWmocav4ts/edit#

[2022-10-27 23:00] extinah commented on #663
@kkoryaka @sharon-rabang
Kon, this is pretty minor. I'll have sharon just use this content. let me know if there's anything glaring.
https://docs.google.com/document/d/19DLeDVVfT_HX5H2Ub9en0KqZN74JmsewwSRB3IecfcQ/edit#heading=h.90tdfrhlbrsg

[2022-10-27 23:58] kkoryaka commented on #714
@sharon-rabang this page is now updated. I will update the actual controls later.

[2022-10-27 23:59] kkoryaka commented on #677
@sharon-rabang this is now updated

[2022-10-28 00:00] kkoryaka commented on #408
@sharon-rabang this is now updated, please review

[2022-10-28 00:01] kkoryaka commented on #691
@sharon-rabang this is now updated

[2022-10-28 00:01] kkoryaka commented on #681
@sharon-rabang this is now updated

[2022-10-28 00:02] kkoryaka commented on #687
@sharon-rabang this is now updated

[2022-10-28 00:02] kkoryaka commented on #685
@sharon-rabang this is now updated

[2022-10-28 00:12] extinah commented on #669
@sharon-rabang  the content is updated and completed and ready for design. And then dev. Thanks!

[2022-10-28 00:15] extinah commented on #628
@sharon-rabang  heads up we added mobile controls to structural elements. Probably can be a new card?

[2022-10-28 00:19] extinah commented on #524
@sharon-rabang I made minor edits to the history section to tighten it up a little bit.
Reminder to assign to dev when ready. thanks!

[2022-10-28 00:23] extinah commented on #714
@kkoryaka  content reviewed and approved. pending design review
cc @sharon-rabang

[2022-10-28 00:27] extinah commented on #685
@kkoryaka  small edit to content (made the change during review): Change Search box to Search.

Original: Review [Search box](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/structure/search.html) for more information.

Updated: Review [Search](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/structure/search.html) for more information.

Otherwise, content approved.

[2022-10-28 03:57] Greg-Watanabe commented on #280
@sharon-rabang
This is done
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design/typography.html

[2022-10-28 14:56] sharon-rabang commented on #685
@kkoryaka @extinah Looks good to go after the small content edit above is made. Thanks!

[2022-10-28 15:21] sharon-rabang commented on #714
@extinah There are two changes I made that need review and approval:
- @kkoryaka and I discussed my decision to use the state template's original mobile controls with a search icon and hamburger icon. It's preferred over the Design Systems with a hamburger icon and the word "Menu" which isn't necessary. If there are no concerns, please update this part of the Usage content:
By default, the text id

[2022-10-28 15:26] sharon-rabang commented on #408
@kkoryaka Looks good to go, thanks!

[2022-10-28 15:27] sharon-rabang commented on #691
@kkoryaka Looks good to go, thanks!

[2022-10-28 15:28] sharon-rabang commented on #681
@kkoryaka Looks good to go, thanks!

[2022-10-28 15:32] sharon-rabang commented on #687
@kkoryaka Looks good to go, thanks!

[2022-10-28 15:35] sharon-rabang commented on #628
@extinah The checklist above has been updated to include [#714](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/714) Mobile controls.

[2022-10-28 15:49] yesenia-gtz commented on #652
Coda doc ready for QA:
https://coda.io/d/State-Web-Template_dWUrhoQSm6T/Beta-Release_suBJE#_luYBX

[2022-10-28 15:49] #652 closed

[2022-10-28 16:12] sharon-rabang commented on #714
@extinah @kkoryaka Based on Koji's helpful feedback about the mobile controls' icons for accessibility, we have updated the Mobile controls example.
@kkoryaka I will change all of the related images for examples and let you know when you can update their pages.

[2022-10-28 16:13] sharon-rabang commented on #714
![image](https://user-images.githubusercontent.com/99768807/198684117-7de6faf4-ae49-46b3-a28d-811b9b145bcb.png)

[2022-10-28 16:17] extinah commented on #525
I think we should do this.

[2022-10-28 16:18] extinah commented on #408
@kkoryaka  please update the radio button options to: option 1, option 2, option 3?
Right now they say option 1, option 1, option 1

Thanks

[2022-10-28 16:29] rkojik commented on #714
Looks great! Sorry if that felt like a 'swoop'. Helping or hurting?!?

[2022-10-28 16:31] sharon-rabang commented on #714
@rkojik Great, thanks! Appreciate you for always helping!

[2022-10-28 16:31] extinah commented on #714
Helping! And not a swoop - good input to research. Saw that both gov.uk and canada don't even use a hamburger menu. they simply use the word menu and an arrow.

[2022-10-28 16:44] sharon-rabang commented on #677
@kkoryaka Thanks for the updates!
@hamiltonryan Please let us know if I missed anything, and if you can help provide png files of the polygon shapes from Figma. In dev, the triangles' outlines are too heavy where they meet each other. Let me know if you'd like my help. :)

Here are some design fixes to make to the example:
- Scroll down section:
-- Blue polygon shapes: Update
-- Scroll down contai

[2022-10-28 17:52] #687 closed

[2022-10-28 17:52] #681 closed

[2022-10-28 17:53] #691 closed

[2022-10-28 17:54] yesenia-gtz commented on #408
@kkoryaka moved back into Ready for Development.

[2022-10-28 18:03] hamiltonryan commented on #677
I did create clean versions of each of the polygon shapes to get rid of the double inner stroke that was happening. I added them to the [Parallax image folder.](https://stateca.sharepoint.com/:i:/r/sites/statewideinnovation/Shared%20Documents/Design%20Assets/V6%20State%20Web%20Template/V6%20imagery/Parallax/pexels-oliver-sj%C3%B6str%C3%B6m-1122418%20Corrected%202.png?csf=1&web=1&e=mUyN0X)

The ima

[2022-10-28 18:38] hamiltonryan commented on #677
@kkoryaka I updated the [Scroll image ](https://stateca.sharepoint.com/:i:/r/sites/statewideinnovation/Shared%20Documents/Design%20Assets/V6%20State%20Web%20Template/V6%20imagery/Parallax/pexels-oliver-sj%C3%B6str%C3%B6m-1122418%20Org.png?csf=1&web=1&e=cSShL6)in the [Parallax folder](https://stateca.sharepoint.com/:f:/r/sites/statewideinnovation/Shared%20Documents/Design%20Assets/V6%20State%20Web%

[2022-10-28 18:47] sharon-rabang commented on #280
@Greg-Watanabe Looks good, thanks! The only change to make:
- Change the color of the Public San in Google Fonts button outline and label to Primary #046B99.

[2022-10-28 18:49] kkoryaka commented on #603
@we closing this page since there is another issue for it

[2022-10-28 18:49] #603 closed

[2022-10-28 18:52] sharon-rabang commented on #524
@kkoryaka The About page is ready for dev.

- [About ](https://docs.google.com/document/d/1lzx-s0uAgfjEJ09atcSN6_s2XwP4N6VSGpyZ6P70MvQ/edit)- google doc
- [About](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=718%3A10947) - Figma

[2022-10-28 19:10] extinah opened #721 "Download and setup"
Write content, design, and develop this new page. Created out of the getting started content.

doc: https://docs.google.com/document/d/1A--CplY-8qepW4dG_jG0Bdg-eiDgqZ5RQgt7lD8jVPo/edit?usp=share_link
figma: https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official

@hamiltonryan when you're done can you move the figma board to the getting started area? Appreciate it. Thanks

[2022-10-28 20:03] sharon-rabang commented on #680
@kkoryaka The blockquote with image example is ready for dev. The image is available in the [Components examples](https://stateca.sharepoint.com/:f:/r/sites/statewideinnovation/Shared%20Documents/Design%20Assets/V6%20State%20Web%20Template/V6%20imagery/Components%20examples?csf=1&web=1&e=SWcv1e) folder.

[2022-10-28 20:40] Greg-Watanabe commented on #577
@sharon-rabang
Image has been moved to the CDN
https://california.azureedge.net/cdt/statetemplate/global/images/social_media_preview_image.png

[2022-10-28 21:09] extinah commented on #669
Kon, this is ready for dev - please:
- [ ] move the CSS shortcuts files to get started folder
- [ ] add to get started left nav

[2022-10-28 21:12] extinah commented on #517
@kkoryaka
Content is ready. Working on the images for the cards, but otherwise design is also ready.
content: https://docs.google.com/document/d/18lrNAan6a05MHQWIb3K_Kp-fHVPA_E0feOWmocav4ts/edit#
figma: https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=553%3A10414

[2022-10-28 21:14] extinah commented on #721
Hi @kkoryaka
Ready for dev. It's a long one. Hope you (or whoever) has fun :)

Content: https://docs.google.com/document/d/1A--CplY-8qepW4dG_jG0Bdg-eiDgqZ5RQgt7lD8jVPo/edit?usp=share_link
Figma: https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=806%3A10772

[2022-10-28 21:19] extinah commented on #663
@kkoryaka this is ready for dev - but for prod release. Moved to dev for your awareness. If anyone wants to start working on it, they can. Otherwise, you can move to backlog.

https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=561%3A8641

[2022-10-28 21:24] extinah opened #723 "Create communication to DWSN for beta release."
Include:

- Link to site
- Info about feedback timeframe
- Their feedback matters
- Key updates
- What's important about this release
- Timeline (production release)

[2022-10-28 21:28] rkojik commented on #714
I might experiment (maybe not now, but later) with hiding the title in an accessible way, instead of stacking the search / menu. Likelihood that a user interacts with those two things rather than the title.

[2022-10-28 21:28] sharon-rabang commented on #577
@Greg-Watanabe Looks good to go, thanks! Will close this issue.

[2022-10-28 21:28] #577 closed

[2022-10-28 21:30] extinah commented on #723
@yesenia-gtz Who should do this? Sorry if this is covered already. I was thinking about what would be happening next week.

[2022-10-28 21:31] yesenia-gtz commented on #723
@artuoma can you take the lead on facilitating feedback from DWSN?

[2022-10-28 21:34] sharon-rabang commented on #714
@rkojik Will do, thanks! @extinah and I also saw how the Menu stacks (or wraps?) right under the logo and website title here: https://gold.designsystemau.org/

[2022-10-28 21:51] Greg-Watanabe commented on #512
@sharon-rabang
This is done
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design/color.html

[2022-10-28 21:57] sharon-rabang commented on #512
@Greg-Watanabe Looks good to go, thanks!

[2022-10-28 21:57] #512 closed

[2022-10-28 22:29] Greg-Watanabe commented on #602
@extinah
This is done
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/

[2022-10-28 22:31] Greg-Watanabe commented on #280
@sharon-rabang
This is done
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design/typography.html

[2022-10-28 22:32] sharon-rabang commented on #280
@Greg-Watanabe Looks good to go, thanks!

[2022-10-28 22:32] #280 closed

[2022-10-28 23:06] sharon-rabang commented on #684
@sharon-rabang is updating the Figma page and examples based on revised content.

[2022-10-29 00:19] Greg-Watanabe commented on #602
Reduced the font size as requested by @sharon-rabang
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/

[2022-10-29 00:39] kkoryaka commented on #680
@sharon-rabang  Added the image, please review

[2022-10-29 00:40] kkoryaka commented on #714
@sharon-rabang updated mobile controls statewide. please check.

[2022-10-29 00:41] kkoryaka commented on #685
@sharon-rabang this is now updated

[2022-10-29 00:41] kkoryaka commented on #686
@sharon-rabang this page is now updated

[2022-10-29 00:42] kkoryaka commented on #684
@sharon-rabang this page is now updated (still need to update live examples.)

[2022-10-29 00:43] kkoryaka commented on #408
@sharon-rabang this is now updated

[2022-10-29 00:48] sharon-rabang commented on #602
@Greg-Watanabe Almost there, thanks!

Here are a few moew design adjustments to make:
- Increase the alert banners height
- Vertically centered all the elements to visually align like ODP's.

Here's how they compare, for reference:
![image](https://user-images.githubusercontent.com/99768807/198754146-5107c673-3b6b-41ad-bcb1-9f50736661e8.png)
![image](https://user-images.githubusercontent.com/99768

[2022-10-29 00:53] sharon-rabang commented on #680
@kkoryaka Thanks! Here are some changes to make:
- Basic blockquote, example:
-- Add "With graphic" heading before first image for consistency.
-- Reduce height of outline container to center the images inside.
- Pull quote: Reduce height of outline container to center the images inside.

[2022-10-29 00:57] sharon-rabang commented on #714
@kkoryaka Looks good to go, thanks!

[2022-10-29 00:57] #714 closed

[2022-10-29 01:01] sharon-rabang commented on #685
@kkoryaka Thanks! Here's one change to make:
- Content: Like on the [Utility header](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/structure/utility-header.html) page, increase the text size of the first paragraph to highlight the intro and provide visual contrast.

[2022-10-29 01:07] sharon-rabang commented on #686
@kkoryaka Thanks! Here are some changes to make:
- Content: Like on the [Utility header](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/structure/utility-header.html) page, increase the text size of the first paragraph to highlight the intro and provide visual contrast.
 - Megamenu, example: Update the image with the Gray-700version of icons in the [Structural elements-examples](h

[2022-10-29 01:09] sharon-rabang commented on #408
@kkoryaka Looks good to go, thanks!

[2022-10-29 01:09] #408 closed

[2022-10-31 15:12] sharon-rabang commented on #684
@kkoryaka Thanks! Here are some changes to make:

- Content: Like on the [Utility header](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/structure/utility-header.html) page, only use the larger lead text size for the first sentence paragraph. Change the rest of the content in this section to the regular body text size - starting from, "With search, visitors can filter content..."

[2022-10-31 15:57] sharon-rabang commented on #517
@kkoryaka Images for the cards are ready for dev.

[2022-10-31 17:55] kkoryaka commented on #684
@sharon-rabang this is now updated

[2022-10-31 17:56] kkoryaka commented on #686
@sharon-rabang this is now updated

[2022-10-31 17:56] kkoryaka commented on #685
@sharon-rabang this is now updated

[2022-10-31 17:57] kkoryaka commented on #680
@sharon-rabang this is now updated

[2022-10-31 18:08] sharon-rabang commented on #684
@kkoryaka Thanks! The examples for Inactive search and Featured search look blurry compared to other examples.

Here are 2 png files I exported from the native artwork in Figma. Let me know if these turn out looking sharper.
![inactive-search](https://user-images.githubusercontent.com/99768807/199078790-7a23593b-86f3-442b-ac39-693757cc05d7.png)
![featured-search](https://user-images.githubusercont

[2022-10-31 18:12] sharon-rabang commented on #686
@kkoryaka Looks good to go, thanks!

[2022-10-31 18:12] #686 closed

[2022-10-31 18:13] sharon-rabang commented on #685
@kkoryaka Looks good to go, thanks!

[2022-10-31 18:13] #685 closed

[2022-10-31 18:16] sharon-rabang commented on #680
@kkoryaka Looks good to go, thanks!

[2022-10-31 18:16] #680 closed

[2022-10-31 18:36] kkoryaka commented on #684
@sharon-rabang your images are inserted.

[2022-10-31 18:38] kkoryaka commented on #677
@sharon-rabang @hamiltonryan this is now updated

[2022-10-31 18:47] sharon-rabang commented on #684
@kkoryaka I'm so sorry for sending you the wrong images! They were screenshots so they still appear blurry. Here are the correct ones from the native artwork to insert again:
![inactive-search](https://user-images.githubusercontent.com/99768807/199085931-09cf84f7-2500-4c3c-a53a-c4e11d4e33b6.png)
![featured-search](https://user-images.githubusercontent.com/99768807/199085944-e71eafa6-f73c-4af2-9bd1

[2022-10-31 19:06] kkoryaka commented on #684
@sharon-rabang the images are now updated once more.

[2022-10-31 19:10] kkoryaka commented on #524
@sharon-rabang this page is now updated

[2022-10-31 19:55] sharon-rabang commented on #684
@kkoryaka Sorry, please try replacing the images again since they're still blurry and not from Figma. You can tell here because I used the thinner search icon from the search bar and not from the icon library:
![image](https://user-images.githubusercontent.com/99768807/199098577-2dfd3487-fe49-4b74-8eae-15d16b9f5440.png)

[2022-10-31 19:59] sharon-rabang commented on #524
@kkoryaka Looks good to go, thanks!

[2022-10-31 19:59] #524 closed

[2022-10-31 20:09] kkoryaka commented on #677
@sharon-rabang try it now

[2022-10-31 20:26] sharon-rabang commented on #677
@kkoryaka Yay! Looks good to go, thanks so much!

[2022-10-31 20:26] #677 closed

[2022-10-31 21:45] kkoryaka commented on #663
@sharon-rabang this is now updated https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/css-shortcuts/css-classes-shortcuts.html

[2022-10-31 21:47] kkoryaka commented on #684
@sharon-rabang sorry about that, was saving them to the wrong directory. They should be now updated.

[2022-10-31 22:05] sharon-rabang commented on #663
@kkoryaka Thanks! Here's 1 change to make:
- Since the main "Get started" landing page has cards with graphics, we intentionally designed the 3 of its secondary landing pages' cards to 'not' have graphics. Please remove the graphics from the CSS classes cards and layout with 2 cards in 2 rows like in [Figma](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=

[2022-10-31 22:07] sharon-rabang commented on #684
@kkoryaka No prob, they look sharp - yay! This is good to go, thanks!

[2022-10-31 22:07] #684 closed

[2022-10-31 22:36] kkoryaka commented on #517
@sharon-rabang  please review https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/get-started.html

[2022-10-31 22:39] kkoryaka commented on #663
@sharon-rabang i have updated the layout. As far as side nav goes I will wait for your updated version in figma.

[2022-10-31 22:48] sharon-rabang commented on #517
@kkoryaka Looks good to go, thanks!

[2022-10-31 22:48] #517 closed

[2022-10-31 23:19] sharon-rabang commented on #663
@kkoryaka Thanks! The only change to make is to remove "All components" from the left nav since this page is now part of "Get started".

[2022-10-31 23:42] kkoryaka commented on #663
@sharon-rabang I have removed the all components link from there.

[2022-10-31 23:50] kkoryaka commented on #669
@extinah I have updated URLs

[2022-10-31 23:51] sharon-rabang commented on #663
@kkoryaka Thanks! There's one more change to make: In the left side nav's last card link, please make it "Text accent colors" ('colors' is missing).

[2022-11-01 00:29] kkoryaka commented on #663
@sharon-rabang this is now updated https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/get-started/css-classes-shortcuts/text-accent-colors.html

[2022-11-01 00:42] sharon-rabang commented on #663
@kkoryaka Looks good to go, thanks!

[2022-11-01 00:42] #663 closed

[2022-11-01 14:59] coop333 opened #759 "Service Tiles Missing in v5.6.*"
I work the Bureau of Automotive Repair, Department of Consumer Affairs and we were looking to update to version 5.6. I noticed the elimination of the service tiles and a few other components. Will service tiles be added in at some point? How about the other lost features?

Old path /sample/service-group.html

[2022-11-01 16:25] timothyshambra opened #760 "Re visit progress-tracker mobile view design"
Horizontal tracker, responsive: The centered content looks okay without the line element because there are dot elements to visually guide you down to the next step.
Vertical tracker, responsive: The left-aligned content does not have the dot elements to visually guide you through the steps. Is it possible to apply the same code used in the Step list? This may allow us to include the dot and line e

[2022-11-01 16:48] extinah opened #761 "Alerts - rework design"
Font size is too large.
Button placement is off.

Noticed during initial feedback banner review and again during QA.

cc: @hamiltonryan

[2022-11-01 18:40] Greg-Watanabe commented on #602
@sharon-rabang @extinah
This is done
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/

[2022-11-01 19:58] sharon-rabang commented on #307
The most recent list of design fixes are in Design - Beta QA (Nov 1-2): [Homepage](https://coda.io/d/_dWUrhoQSm6T#Beta-QA-Table-Base_tuaCp/r1&view=modal)

[2022-11-01 20:05] sharon-rabang commented on #602
@Greg-Watanabe Thanks for making the adjustments! Sorry, this will need to be updated again after we address [#761](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/761) Alerts - rework design.

[2022-11-01 20:49] kkoryaka commented on #759
@coop333  Yes, once we've dropped the jQuery some of the components that were based on jQuery plugins we also have dropped. We are about to release the new look and feel State template version that is aligned with [Design System](https://designsystem.webstandards.ca.gov/) which is going to be a new standard for State Template.

[2022-11-01 20:52] kkoryaka opened #763 "Work with devops to make sure website is showing 404 page"
Create a ticket for devops to set up 404 page

[2022-11-01 21:47] yesenia-gtz opened #764 "What's New page - Content update"
**Update content on Whats new page for Production release**

Related to https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/216

[2022-11-01 21:51] yesenia-gtz opened #765 "Make all Lead text consistent"
Typography updates:
- [x] Lead text: Increase all lead text to 24.539 for consistency with the Design System (In dev, there isn't enough contrast between lead text and regular text)
- [ ] Need to address all instances on the site

Side nav: Redesign related to [#233](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/223) and [#587](https://github.com/Office

[2022-11-01 21:51] extinah commented on #764
Clean up google doc - true up with figma and dev.

[2022-11-01 21:53] yesenia-gtz opened #766 "Content standard documentation"
- [ ] Create website standard for when bulleted items do and do not need periods (Example: The Accessibility section on the Components pages and Structural elements pages do not have periods, while all other bulleted items do.)
- [ ] Address on all instances on the site

[2022-11-02 05:00] Greg-Watanabe commented on #721
@extinah @sharon-rabang
This is done
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/download-and-setup.html
I changed the code snippet containers to <pre> and <code> tags as requested by Konstantin.

[2022-11-02 15:05] sharon-rabang commented on #721
@Greg-Watanabe Thanks for making this page design work! It's looking good with some minor changes to make:

- Common V6 cards: Use Public Sans, Bold for the sentences
-  Template implementation roadmap, headings: Change the font style from <strong> to Public Sans, Bold
-  Template implementation roadmap, #4: Add a link to the [GitHub Repository](https://github.com/Office-of-Digital-Services/Califo

[2022-11-02 15:41] extinah commented on #669
@kkoryaka  this looks good. Thanks.

[2022-11-02 18:27] extinah opened #770 "Social media icons - content/intent"
During QA, Ryan sent an update for the image to include context (footer) - per the google doc.

Konstanin mentioned this component isn't for the footer, it's for within content.

Research, review, and update as needed. It's currently incorrect (the content)

[2022-11-02 18:28] extinah commented on #770
@yesenia-gtz  pinging you for awareness.

[2022-11-02 22:37] Greg-Watanabe commented on #721
@sharon-rabang
done
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/download-and-setup.html

[2022-11-03 16:08] sharon-rabang commented on #721
@Greg-Watanabe Thanks! FYI - The UX review is reassigned to @hamiltonryan for review and feedback. There were recent content changes made to the google doc that we are currently adding to Figma. We'll let you know when our list of changes are ready for dev.

[2022-11-03 17:13] hamiltonryan commented on #721
@Greg-Watanabe Thanks for all the work on this one! Here are the changes to Figma based on the updated Google Doc.

- Get Started should now be linked in the Breadcrumb
- The boxes of common links should be the same width (flex about 30%)
![image](https://user-images.githubusercontent.com/101579462/199779190-fc80996d-384b-4f62-96d6-9c6362891d79.png)
- The sentence "Here are the steps to follow whe

[2022-11-03 18:01] hamiltonryan opened #783 "Design fix for source code boxes"
Update design for how code is handled in source code boxes and tables (Scrolling boxes)

[2022-11-03 18:05] hamiltonryan commented on #783
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAY0AAAMDCAYAAABegklQAAAgAElEQVR4nOzde3xcZZ348c/J5B5oJbTNDDRlWopaUwmkuE6aSsNFaSs4AyqdZLfS9SexymVhFZxs0VVpybi4v1VQNhb39yt2f83gujCzIgWWS7q2zaA0GCUUJMrQgJleCDRNek/O748zlzPXnEkmyaT9vl+vvJo585znPDOdPN95nuec81WOHjumqqpKPCPb9I9VVUVRlJh/gZjfR6s/nqIoo5YRQogzSbq+M1mfmaw/1v+bat9UdeXHd/zpGpeqseHtIyMjWmPC/6pqyuAh4UAIITKXtu/U97HJ+uCREVCUaF+tCxyjfZEPl8+PHitx

[2022-11-03 19:19] kkoryaka opened #786 "Fix anchor links titles cut off"
When Alert banner is on the page the anchor links work properly when moving down the page, but when moving up the page the titles are cut off for each. They looks fine without alert banner. There should be solution that alert banner into account

[2022-11-04 18:33] hamiltonryan commented on #761
From Coda:

"the Font size on the alert banners is too large, and the button bellow the centerline of the banner, and too close to the text.

Here is a [Figma page](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=345%3A8289) with examples, but let me know if you have any questions on it."

[2022-11-04 18:42] extinah commented on #770
Also - revisit "share" vs just a link to the social media account.

[2022-11-07 19:39] extinah commented on #475
@ashleydraper  @sharon-rabang  revisiting this.

[2022-11-07 19:42] extinah commented on #477
@Angsv checking in now that QA is done. :)

[2022-11-07 19:51] extinah commented on #760
Go to related card for mobile recommendations: [issue 411](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/411)

[2022-11-07 19:53] extinah commented on #669
Remaining tasks: move files. consider redoing the IA diagram with all pages.

[2022-11-07 19:56] extinah commented on #587
Related to issue 223 https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/223

[2022-11-07 19:57] extinah commented on #223
Related to 587
https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/587

[2022-11-07 22:54] sharon-rabang commented on #223
- Based on @hamiltonryan's research, explorations, and today's working meetings, we have a proposed design solution for the side nav and how it handles page anchor links.
- Will discuss at tomorrow's 11/08/22 design shareout meeting for review and feedback.
![image](https://user-images.githubusercontent.com/99768807/200432452-7e7a1bf9-2f88-4a24-9082-3a4de10a096e.png)

[2022-11-07 23:04] sharon-rabang commented on #223
Here's the previous exploration from Sharon and Christina's research last week:
![image](https://user-images.githubusercontent.com/99768807/200434072-734ed5bc-55dd-49e7-81e9-315c55362329.png)

[2022-11-07 23:47] kkoryaka commented on #786
@hamiltonryan this is now fixed in staging. Please review

[2022-11-08 16:30] sharon-rabang commented on #765
- Met with @ashleydraper to discuss the use of lead text throughout the beta site. Determined that lead text doesn't suit the state template's content, so we will update all the lead text with regular text.
- @sharon-rabang will:
-- Update Figma to apply regular sized text across all content
-- List the beta site pages that need updates for dev here

[2022-11-08 19:03] sharon-rabang commented on #765
@kkoryaka Figma has been update. Here are the pages to update by changing the size of all lead text to regular text:
- [ ] [About](https://beta.template.webstandards.ca.gov/about.html)
- [ ] [Template updates](https://beta.template.webstandards.ca.gov/template-updates.html)
- [ ] [Get started](https://beta.template.webstandards.ca.gov/get-started.html)
  - [ ] [What's new in V6](https://beta.templ

[2022-11-08 19:18] sharon-rabang commented on #223
11.08.22 Design shareout meeting notes:
- The proposed design can be applied to this state template site and enhanced in the Design System
- Include guidelines for the proposed design on this state template site's **Structural elements: Side navigation** page
- One of the enhancements for the Design System: Decouple the anchor links from the side nav
- Will have another meeting to continue this di

[2022-11-08 19:29] sharon-rabang commented on #352
Related to [#766](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/766)

[2022-11-08 19:30] sharon-rabang commented on #766
Related to [#352](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/352)

[2022-11-08 19:33] sharon-rabang commented on #475
Related to [#476](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/476)

[2022-11-08 19:34] sharon-rabang commented on #476
Related [#475](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/475)

[2022-11-08 20:32] artuoma opened #818 "Performance optimization"
Need to optimize for performance including images

[2022-11-08 20:34] artuoma commented on #818
https://pagespeed.web.dev/report?url=https%3A%2F%2Fbeta.template.webstandards.ca.gov%2F

![image](https://user-images.githubusercontent.com/20782462/200669695-68f5f0d4-733d-4b7d-a866-bd56e998bbcf.png)

- [ ] Optimize images
- [ ] Optimize code
- [ ] Optimize environment

[2022-11-09 17:15] #763 closed

[2022-11-09 17:17] yesenia-gtz commented on #602
Moving into UX in progress until updated design is ready for dev.

[2022-11-09 17:17] sharon-rabang commented on #223
11.08.22 Design Team feedback:
- The en dashes design direction are a better fix at this time
- Gray bar design direction:
-- Users would have to restructure their pages
-- Users would need to learn how it works as they navigate our pages
-- Tim can explore this solution to see what he finds

[2022-11-09 17:20] extinah opened #819 "Download and setup - revisited"
Create HTML content (like eleventy)
Separate out two new pages (eleventy and HTML)

Kon: Please write out the HTML like the "Using eleventy" section.

https://beta.template.webstandards.ca.gov/download-and-setup.html

[2022-11-09 17:30] #723 closed

[2022-11-09 17:31] #413 closed

[2022-11-09 17:38] sharon-rabang commented on #765
@kkoryaka FYI - @extinah would like to pause and discuss this decision as a team. Please don't make any changes just yet. Thanks!

[2022-11-09 18:56] artuoma opened #820 "Search results page (look and feel)"
Need to make search results appear more integrated with the state web template and not so obvious it is coming from Google.

[2022-11-09 18:57] artuoma commented on #820
![image](https://user-images.githubusercontent.com/20782462/200917298-37855e86-d06f-4797-a702-2261c04bf380.png)

[2022-11-09 18:59] extinah commented on #820
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJIAAAFzCAYAAADVFFAdAAAYfUlEQVR4nO2dX2gbZ7rGnz0tB7qwUNBZL5ssIQNZWM6hwtQDKRoTqAiIuGDfFiKLRfbNQis511n5wmrh3FkWhb1xxOIosFeHyBAHQXGhRKKBoXVUFgoNTAibLHEtKHTZwOEsOhczGn0jjWRJfiWN5OcHBksz+v5Ij7/303ie9/1Zo9FogJAz8m+THgCZDSgkIgKFRESgkIgIFBIRgUIiIlBIRAQKiYhAIRERKCQiAoVERKCQiAhvTqbbb/H9jXW8Vp/63W1c2l7G25MZUHde7eOvv/8U//pgF+GP3pn0aALL+IX0dR612/cAzwdjC+v5

[2022-11-09 19:00] artuoma opened #821 "Fix right arrow caret display in accordion and other places where applicable."
Need to make accordion caret right arrow more visible by removing any curvature or rounded corners. Consider using icon font caret.

Also in Chrome there is a weird line that appears at open/close animation.

[2022-11-09 19:01] extinah commented on #820
Need hex codes for theres. also a sample of promotions.
![image](https://user-images.githubusercontent.com/33840424/200917798-8046b1f2-a0ef-4832-a834-583f36ce270d.png)

![image](https://user-images.githubusercontent.com/33840424/200917937-229c4e0d-304e-4580-ab4b-2baf6a94047f.png)

[2022-11-09 19:04] artuoma commented on #821
![image](https://user-images.githubusercontent.com/20782462/200918501-63beac87-adfe-4281-9507-1b26ad2d408c.png)

[2022-11-09 19:12] yesenia-gtz commented on #602
Task for beta release is done. New issue for redesign here https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/761

[2022-11-09 19:16] yesenia-gtz opened #822 "Search functionality improvements for beta"
- [x] Need to re-index site
- [x] add correct search ID
- [ ] create search collection
- [x] Requested manual indexing on key pages

Work with Linda Tracy

[2022-11-09 19:25] yesenia-gtz commented on #672
@artuoma review https://template.webstandards.ca.gov/cdn.html for content inspiration.

[2022-11-09 19:27] yesenia-gtz commented on #379
This has been resolved.

[2022-11-09 19:27] yesenia-gtz commented on #231
This is resolved in Beta release.

[2022-11-09 19:37] yesenia-gtz commented on #766
Content standards are not published on State web template site, need to find a "home" for these. Adding as a candidate for Design System for future.

[2022-11-09 19:38] #352 closed

[2022-11-09 19:40] yesenia-gtz commented on #514
Needs:
- [ ]  Design recommendation to mirror design system https://designsystem.webstandards.ca.gov/components/pagination/readme/
- [ ] figma layout
- [ ] content guidelines

[2022-11-09 19:44] yesenia-gtz commented on #783
UX and Engineering to meet and review how to best approach.

[2022-11-09 19:48] yesenia-gtz commented on #821
unable to replicate carrot linen issue.

Corrections:

- [ ] make right arrow more visible by removing any curvature or rounded corners.

[2022-11-09 19:51] #231 closed

[2022-11-09 19:51] #379 closed

[2022-11-09 20:57] extinah commented on #721
@Greg-Watanabe ready for your updates. Thanks.

[2022-11-09 21:49] extinah opened #823 "CSS Classes: Utility classes"
Work on design and content.

https://beta.template.webstandards.ca.gov/get-started/css-classes-shortcuts/utility-css-classes.html

[2022-11-09 21:51] ashleydraper commented on #669
Tracking content in the **[Get Started staging folder](https://drive.google.com/drive/folders/10Tu2ilDYJ4ei2j3whRE6RnS4zYMQcZGR?usp=share_link)**.

[2022-11-09 21:53] extinah opened #824 "CSS Shortcuts: Gradient backgrounds"
Add in 1-2 intro sentences. Work on a friendlier design.

https://beta.template.webstandards.ca.gov/get-started/css-classes-shortcuts/gradient-backgrounds.html

- [x] Content (Ashley)
- [x] Design (Ryan)

[2022-11-09 21:55] extinah opened #825 "CSS Shortcuts: Spacing"
Content review/clean up/design.

https://beta.template.webstandards.ca.gov/get-started/css-classes-shortcuts/spacing.html

[2022-11-09 21:57] extinah opened #826 "CSS Shortcuts: Text accents colors"
Review content/page design.

https://beta.template.webstandards.ca.gov/get-started/css-classes-shortcuts/text-accent-colors.html

[2022-11-09 22:29] yesenia-gtz opened #827 "Usability testing: "On this page" component"
**USABILITY TEST:**
- [ ] Anchor links for "on this page" navigation that is decoupled from side navigation
- [ ] Include mobile first tasks for user studies.
- [ ] 2-3 new decoupled explorations for anchor links to content

**For Beta  production release:**
Need to make sure our content reflects the recommendation to decouple anchor links (on page content nav) from separate page navigation

Propo

[2022-11-10 01:02] extinah commented on #764
@kkoryaka  some minor updates after cleaning up these files. Feel free to assign to another developer. Thanks!

- [ ] Under the Code heading, last bullet. Update content to: Enabled sites to render markdown files in HTML.
- [ ] Under User experience, delete this bullet: Forms to request new components, patterns, and icons.
- [ ] Under User experience, update the last bullet to: Collaboration chann

[2022-11-10 01:04] extinah commented on #669
Created separate issues for each page. Will continue to work on the IA in this issue.

[2022-11-10 01:07] Greg-Watanabe commented on #721
@extinah  @hamiltonryan
This is done
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/download-and-setup.html

[2022-11-10 21:37] sharon-rabang commented on #761
11.10.22 Design review: Alert banners redesign - Meeting notes

Review Decisions:
- Alert banner design approved
- Keep V6 color schemes
- Icons for state template cant have outlines -- OK for design system
- Content updated in figma OK to use

@kkoryaka The Figma [Alerts](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=1312%3A15647) page is ready for dev.

[2022-11-10 23:56] extinah opened #831 ""On this page" Page navigation Component"
- [x] Design
- [x] Content

[2022-11-14 20:26] extinah commented on #602
@yesenia-gtz  should we extend this a week officially and add in a contact field?

[2022-11-14 23:34] yesenia-gtz commented on #602
@extinah Good call!

@kkoryaka can you update the banner text to " We'd love your feedback to make the template better. You have from November 4 to November 18. "
![Screen Shot 2022-11-14 at 3 32 20 PM](https://user-images.githubusercontent.com/98193284/201789894-a321be23-72a2-4fc8-b879-34c268185b2b.png)?

@hamiltonryan @artuoma adding a week to get more feedback.

[2022-11-16 19:13] carterm commented on #525
Meeting with DevSecOps to set up Azure environment to run the Contact Us service.

[2022-11-16 19:40] kkoryaka opened #833 "Prevent JavaScript from messing with code samples"
Currently javaScript is messing with the code samples. Find a way to prevent Javascript messing with the HTML samples inside of the <code> tags.

Original Accordion html sample code:
![Screen Shot 2022-11-16 at 11 38 09 AM](https://user-images.githubusercontent.com/31669748/202278022-95b02091-209f-4815-b751-d787fb6b1e47.png)

Source code sample inside of samples tab:
![Screen Shot 2022-11-16 at 11

[2022-11-16 23:42] sharon-rabang commented on #765
11/16/22: Team meeting design review and approval notes:
- [ ] Discussed lead text usage and updating its usage info on the Typography page.
- [ ] Agreed to remove all lead text from the site, except for landing pages selected by UX Team.
Action items:
- [ ] Identify and update Figma pages that can use lead text.
- [ ] Update the lead text usage info to be more specific on the Typography page.
- [

[2022-11-17 16:54] yesenia-gtz commented on #223
**Adding feedback from beta survey for team awareness:**

![No current location indicator](https://user-images.githubusercontent.com/98193284/202508186-6eaf795f-2b0a-44af-982a-79f69f05887d.png)

[2022-11-17 17:44] ashleydraper commented on #669
These docs need review:
- [CSS classes shortcuts](https://docs.google.com/document/d/19DLeDVVfT_HX5H2Ub9en0KqZN74JmsewwSRB3IecfcQ/edit#heading=h.90tdfrhlbrsg)
- [Utility classes](https://docs.google.com/document/d/1mX673-lvXYLgOMRHRUX1ef9RXbNsBFxyz37oP2XP00k/edit#)

Cc: @extinah @kkoryaka @yesenia-gtz

[2022-11-17 18:08] yesenia-gtz opened #835 "Beta feedback: Refine use of gradients"
The use of gradients on the artwork around the bear is not as refined polished as it could be - the design rules between having borders (of different line weights) & not do not seem consistent. It gives an unpolished effect - along with many shades of blue. For a design system or template, we would want a show of strength in design clarity and strong consistency.

[2022-11-17 18:09] yesenia-gtz opened #836 "Beta feedback: Review UI for pixelation"
The lines on the chart have pixelation. (Desktop, full width, Chrome, Mac)

[2022-11-17 18:12] yesenia-gtz opened #837 "Beta feedback: Ensure graphics are responsive on mobile"
Items to review/correct:
- [ ] Bears head is cut on in mobile width
- [ ] Right margin mobile width for cards & whole page
- [ ] Site alert line heigh responsive is too tight
- [ ] Dots for chart not enough margin between them responsive width

![Screen Shot 2022-11-10 at 5 03 24 PM](https://user-images.githubusercontent.com/98193284/202524620-22ccf2c7-95ac-4155-94ac-7ac109235730.png)
![Screen Sho

[2022-11-17 18:12] yesenia-gtz opened #838 "Beta feedback: Ensure state technologists understand strategic communication on Design System"
Content / communications - "move to the Design System" - is becoming internal jargon that our team is comfortable with, but the many technologists at the state will need to catch up on & may appreciate some clear strategic communication (and hopefully they are asking you questions about this). The chart and other text, labelling is clear.

* No link to design system - assume that is intentional fo

[2022-11-17 18:14] yesenia-gtz opened #839 "Strategy for publishing vision, mission and strategy for Design System on website"
V6 Beta feedback:

[2022-11-17 18:15] yesenia-gtz opened #840 "Download and setup (beta feedback)"
Beta feedback:
CDN links go to old code currently - that's confusing (5.6.2 - https://template.webstandards.ca.gov/cdn.html) - will you have a page that matches the code version for 6.0.8 Beta?

* This step still oversimplifies the realistic needs of State tech teams

  * "Select a framework

  * Current frameworks include HTML, Eleventy, NET core, MVC, and React. You’ll usually pick the framework

[2022-11-17 18:17] yesenia-gtz opened #841 "Explore opportunities around adapting this system for more complex systems"
There is no recommendation about the real challenges which is about managing content or adapting this system for more complex systems and leveraging working approaches.

* Wonder if CDT has a recommendation or support plan & how State depts or vendors can get a consultation.

* Just acknowledging that more complex needs exist (and are sometimes the rule) would go a long way - or reminding people a

[2022-11-17 18:22] yesenia-gtz opened #842 "Review Mobile and performance metrics"
**Beta feedback:**
Mobile performance score is low. Many departments have more mobile users than desktop.
Feedback from user:
it’s all about the performance…and if we’re shooting for mobile-first…it needs some work. We are currently at 16M mobile users for the year, EDD is @ 23M…

For a website with very little content or images on it, it’s really heavy. Once we add all our “stuff”, the performanc

[2022-11-17 18:26] yesenia-gtz opened #843 "Clean up accordion in-line styles"
**Beta feedback:**

[Accordions:](https://beta.template.webstandards.ca.gov/components/accordions.html)

Why is the style in-line (style height 2 pixels, etc)? This is across the whole site. Would like to just copy paste <cagov-accordion> in and that's it. Can't we target just the class or element?

< cagov-accordion>

 < details style="height: 2px;">

[2022-11-17 18:28] yesenia-gtz commented on #823
**Beta feedback:**
Review placement of bootstrap classes for easier website migration

Why are bootstrap classes being applied to state template components (similar to in-line styles)?

* Instead, use bootstrap classes in the stylesheet. This is a better way to code.

* This also makes it easier to migrate websites.

Example:

https://beta.template.webstandards.ca.gov/components/parallax.html

[2022-11-17 18:30] yesenia-gtz opened #844 "Enhance color of focus state on interactive elements"
**Beta feedback:**
Expected interactive elements to get brighter / more prominent when they received focus, but the buttons got darker instead, and some of the links didn't change at all

* The buttons did behave consistently (they all got darker); so the pattern is learnable, even if it differed from expectation.

![No hover](https://user-images.githubusercontent.com/98193284/202528488-f744f4bf-3

[2022-11-17 18:30] yesenia-gtz opened #845 "Review content for plain language (vs marketing)"
https://beta.template.webstandards.ca.gov/whats-new.html

There is emphasis on plain language ... so, why did you use so much marketing-speak?

* "Brand new content"

* "boasts of an improved user experience and enhanced wayfinding"

[2022-11-17 18:32] yesenia-gtz commented on #825
**Beta feedback:**
Review css shortcuts page for broken links

[2022-11-17 18:32] yesenia-gtz opened #846 "Content clarity for nunjucks, eleventy, etc"
https://beta.template.webstandards.ca.gov/components/alert.html

“"nunjucks ... eleventy ...?"

sure hope you plan to explain — whether directly or by linking to a resource — what those are.”

Need to clarify what these items are for users.

[2022-11-17 18:35] yesenia-gtz opened #847 "Mobile navigation review"
The way the navigation stacks on mobile is awkward. If there were some way to simplify it would help tremendously. Perhaps the scale of the agency name and logo could decrease to make for more space? I know there are many ways to make the mobile experience feel more considered and I think navigation is the first place to start.

![Screenshot 2022-11-16 162301](https://user-images.githubusercontent

[2022-11-17 20:53] kkoryaka commented on #843
Related issue #833 that is assigned to Greg

[2022-11-17 20:55] kkoryaka commented on #842
@yesenia-gtz related issue #818 is assigned to Tim

[2022-11-17 20:56] kkoryaka commented on #843
@Greg-Watanabe this one is the same as #833

[2022-11-17 21:15] kkoryaka commented on #822
@Leeendahh this is for https://beta.template.webstandards.ca.gov/ would you be able to help?

[2022-11-17 21:22] Leeendahh commented on #822
@kkoryaka Absolutely. I'll get started on creating a Search Engine account for https://beta.template.webstandards.ca.gov/. It is currently lumped in with https://template.webstandards.ca.gov/.

[2022-11-17 21:54] Leeendahh commented on #822
@kkoryaka I submitted the sitemap for re-indexing. This may take a few days to a few weeks.

Here is the Search Engine ID for https://beta.template.webstandards.ca.gov/: 05e92f21f387b4800

Ads will appear in Search Results for now. I will submit a request to have the search engine registered as a Government Edition of Programmable Search Engine so I can turn ads off in search results. This may tak

[2022-11-17 22:04] Leeendahh commented on #822
Submitted Government Edition request. I'll update once it's been approved and Ads are turned off.

[2022-11-17 23:06] sharon-rabang commented on #223
11/17-11/18: UX Team shareout of proposed "Side nav" and "On this page" designs
- Reviewed and approved:
-- Both proposed designs
-- Prototypes for [#827](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/827) Usability testing and as a live example for the [#587] Side nav component multi-level list
--- Will create new GitHub issue to develop this in anothe

[2022-11-17 23:06] sharon-rabang commented on #587
11/17-11/18: UX Team shareout of proposed "Side nav" and "On this page" designs

Reviewed and approved:
-- Both proposed designs
-- Prototypes for https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/827 Usability testing and as a live example for the [https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/587] Side nav comp

[2022-11-17 23:06] sharon-rabang commented on #831
11/17-11/18: UX Team shareout of proposed "Side nav" and "On this page" designs

Reviewed and approved:
-- Both proposed designs
-- Prototypes for https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/827 Usability testing and as a live example for the [https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/587] Side nav comp

[2022-11-17 23:06] sharon-rabang commented on #827
11/17-11/18: UX Team shareout of proposed "Side nav" and "On this page" designs

Reviewed and approved:
-- Both proposed designs
-- Prototypes for https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/827 Usability testing and as a live example for the [https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/587] Side nav comp

[2022-11-18 03:53] sharon-rabang commented on #587
@extinah Drafting content updates in google doc and Figma

[2022-11-18 03:54] sharon-rabang commented on #831
@hamiltonryan Working on functional specs and usage content

[2022-11-18 03:58] sharon-rabang commented on #223
@hamiltonryan Updating all Figma pages with the "Side nav" design and "On this page" design
@kkoryaka Desktop version ready for dev

[2022-11-18 03:58] sharon-rabang commented on #587
@hamiltonryan Updating all Figma pages with the "Side nav" design and "On this page" design

[2022-11-18 03:58] sharon-rabang commented on #831
@hamiltonryan Updating all Figma pages with the "Side nav" design and "On this page" design

[2022-11-18 04:02] sharon-rabang opened #853 "Side nav (template site): Mobile view design"
Create mobile view design based on:
- [#223](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/223) side navigation (template site)
- [#587](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/587) Side navigation (component)

[2022-11-18 04:06] sharon-rabang opened #854 ""On this page" (template site): Mobile view design"
Create mobile view design based on [#831](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/831) "On this page" Component.

[2022-11-18 04:15] sharon-rabang opened #855 "Develop side navigation example content"
Develop side navigation example pages with Figma prototypes for:
- [#827](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/827) Usability testing
- Live example in "Multi-level list" section on [#587](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/587) Side nav component page

Figma prototypes:
- [Parties 1](http

[2022-11-18 04:19] sharon-rabang commented on #587
In "Multi-level list" section of this Side nav component page, use an image for the example until the "live example" has been developed for it in
[#855](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/855) Develop side navigation example pages.

[2022-11-18 04:29] sharon-rabang commented on #223
Related to [#853](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/853) Side nav (template site): Mobile view design

[2022-11-18 04:30] sharon-rabang commented on #831
Related to [#854](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/854) "On this page" (template site): Mobile view design

[2022-11-18 16:37] sharon-rabang commented on #855
Reassigning to UX Team - still making adjustments.

[2022-11-18 19:05] Leeendahh commented on #822
Update:
I confirmed through Google Search Console that pages are live and that Google detects the pages. I've submitted 8 manual indexing requests for the following pages:
- https://beta.template.webstandards.ca.gov/
- https://beta.template.webstandards.ca.gov/template-updates.html
- https://beta.template.webstandards.ca.gov/get-started.html
- https://beta.template.webstandards.ca.gov/structure.ht

[2022-11-18 19:14] #721 closed

[2022-11-18 19:15] kkoryaka commented on #821
@sharon-rabang please update figma design

[2022-11-18 19:33] kkoryaka commented on #840
@Greg-Watanabe  @sharon-rabang please work on the first section https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/download-and-setup.html

[2022-11-18 19:36] kkoryaka commented on #840
@Greg-Watanabe please fix the link on set up and download page.

[2022-11-18 19:37] kkoryaka commented on #840
@yesenia-gtz we need discussion on this

[2022-11-18 22:19] extinah commented on #822
@kkoryaka When i select a link, it opens in a new tab. can that be fixed? doesn't seem to be related to the google console.
https://beta.template.webstandards.ca.gov/serp.html?q=

[2022-11-18 22:21] extinah commented on #822
@yesenia-gtz  please clarify "google search collection". Been working with Linda a bit. Thanks!

[2022-11-18 22:54] sharon-rabang commented on #821
@kkoryaka I'm not experiencing the caret line issue like Yesenia, either.

Based on her proposed correction, can we use the same link grid caret for consistency?
![image](https://user-images.githubusercontent.com/99768807/202815952-70976b99-d579-42f4-8495-f7246658614e.png)
Here's the updated example in Figma: [Accordion](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-offi

[2022-11-19 00:22] sharon-rabang commented on #760
11.18.22 Stand-up notes: As a mobile view design solution for the horizontal tracker displayed on desktop, try coding it to display as a vertical tracker (left-aligned) when viewed on mobile.

Here are the homepage examples in Figma:
- [Desktop: Horizontal tracker]((https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A441&t=5FrWSRnN8WnHjo18-1)
- [Mobile: Ve

[2022-11-19 00:23] sharon-rabang commented on #411
11.18.22 Stand-up notes for [#760](https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/issues/760): As a mobile view design solution for the horizontal tracker displayed on desktop, try coding it to display as a vertical tracker (left-aligned) when viewed on mobile.

Here are the homepage examples in Figma:
- [Desktop: Horizontal tracker](https://www.figma.com/file/

[2022-11-21 16:38] yesenia-gtz commented on #840
@kkoryaka Ill set up the meeting, please note the issue is from beta feedback survey. I think the team can focus on the user flow and understanding the disconnect listed in the feedback.

[2022-11-21 17:36] ashleydraper commented on #823
The **[utility CSS classes](https://docs.google.com/document/d/1mX673-lvXYLgOMRHRUX1ef9RXbNsBFxyz37oP2XP00k/edit#)** page is ready for review.

[2022-11-21 17:41] ashleydraper commented on #824
Here is the google staging doc for **[gradient backgrounds](https://docs.google.com/document/d/11m-t25AW9pcBuAfqF1YeU7xAAZ4hdgWCaUBXAsQPLTg/edit#heading=h.4iqtaxlhjf2n)**

[2022-11-21 17:42] ashleydraper commented on #825
Here is the google staging doc **[spacing classes](https://docs.google.com/document/d/1uK6kFf2wFlePzf5O2vuDv7YbnU15pznczJ7uBTTLZV4/edit#)**

[2022-11-21 17:45] extinah commented on #825
@sharon-rabang look to this page for example inspiration
https://www.w3schools.com/css/css_padding.asp

[2022-11-21 17:55] ashleydraper commented on #669
@extinah Here is the **[state template 6.0 IA](https://lucid.app/lucidchart/dd496664-627a-4e71-b330-9a10a596ea79/edit?page=0_0&invitationId=inv_52a2808a-e70d-4155-9193-5cf2aaaa3573#)**

[2022-11-21 17:59] ashleydraper opened #860 "CSS Shortcuts (landing page)"
Content review and clean up on the [CSS shortcuts landing page](https://docs.google.com/document/d/19DLeDVVfT_HX5H2Ub9en0KqZN74JmsewwSRB3IecfcQ/edit#)

[2022-11-21 18:44] yesenia-gtz commented on #840
Page links will be updated in Production release.

@hamiltonryan

**Research needs:**
- User interviews on how state teams interact with template
- understand steps for implementation
- Identify various scenarios
- What content guidance is needed to best support teams?
- Understand state team skill levels (might not be a tech savvy person)

**Opportunities:**
- Add instructions to Github Readme, u

[2022-11-21 19:01] sharon-rabang opened #861 "Download and setup: Fix featured cards"
- Design fix: Improve the featured cards section to help the links with external link icons display better.
- Content fixes: Update some headings with sentence case for consistency.

[2022-11-21 20:04] extinah commented on #669
Files already moved into correct folder structure. Done.

[2022-11-21 20:16] extinah commented on #587
@ashleydraper
This is ready for a content review (before I send off to Kon/Art). Thanks!
https://docs.google.com/document/d/1hN7vXwYNvhaYJ2MsLYPlPPokBBQ_6Gtrs-XZnqaIkOA/edit?usp=sharing

- [ ] content review

[2022-11-21 22:44] carterm commented on #525
This is the service created to support the data flow.

https://github.com/Office-of-Digital-Services/cagov-form-post-service

[2022-11-22 00:23] kkoryaka commented on #821
@sharon-rabang this si now updated: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/accordion.html

[2022-11-22 01:12] sharon-rabang commented on #861
@Greg-Watanabe
- [Download and setup - Google doc](https://docs.google.com/document/d/1A--CplY-8qepW4dG_jG0Bdg-eiDgqZ5RQgt7lD8jVPo/edit#)
- [Download and setup - Figma](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=967%3A11651&t=Hliuj6p7HhVOIxa9-1)

Here are the design and content fixes to make on this page:
**Featured cards section:**
- Heading: Change

[2022-11-22 17:26] ashleydraper commented on #825
Not at all the expert on this content, but happy to huddle on it. The **[google staging doc](https://docs.google.com/document/d/1uK6kFf2wFlePzf5O2vuDv7YbnU15pznczJ7uBTTLZV4/edit#)** is ready for review. There are 3 decisions needed for design.

Cc: @extinah @sharon-rabang

[2022-11-22 18:03] extinah commented on #587
@hamiltonryan let's finalize this in figma and move the correct workspace, if needed.

[2022-11-22 18:04] extinah commented on #587
@artuoma  @kkoryaka  Content ready for your review/approval
https://docs.google.com/document/d/1hN7vXwYNvhaYJ2MsLYPlPPokBBQ_6Gtrs-XZnqaIkOA/edit?usp=sharing

[2022-11-22 18:09] #669 closed

[2022-11-22 18:12] sharon-rabang commented on #821
@kkoryaka Looks good to go, thanks!

[2022-11-22 18:12] #821 closed

[2022-11-22 18:17] yesenia-gtz commented on #822
@extinah @Leeendahh I was thinking we could benefit from a search collection per the following context. We may be able to help people access specific content.

"A collection lets your users search over a specific part of the index. For example, you may want to create a products collection or a human_resources collection that supports searches that are only within the products or human resources pa

[2022-11-22 18:18] #461 closed

[2022-11-22 18:18] #474 closed

[2022-11-22 21:24] #822 closed

[2022-11-22 23:42] carterm commented on #525
Working with DevSecOps to set up the environment. It's a first time setting up an Azure Function with the current pipelines.  Working through it, we got the service running, but they will need to recreate some Azure components for the final setup that won't be done until after Thanksgiving.

[2022-11-23 01:01] kkoryaka commented on #764
@extinah this is now updated

[2022-11-24 01:03] kkoryaka commented on #761
@sharon-rabang  please review https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/alert.html

[2022-11-24 01:04] kkoryaka commented on #602
@yesenia-gtz removed alert from the staging since we passed the due date. https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/alert.html

[2022-11-28 20:59] kkoryaka commented on #765
@sharon-rabang this is now updated. Please review in beta staging.

[2022-11-30 19:25] ashleydraper commented on #838
Let's tackle this post production

[2022-11-30 19:25] ashleydraper commented on #846
Let's tackle this post production

[2022-11-30 21:59] ashleydraper commented on #475
@sharon-rabang Can we meet about this when you return?

[2022-11-30 22:37] yesenia-gtz opened #875 "Production release communication"
Production release communication to share with CDT Comms team.

**Highlight areas:**
- Feature improvements per user feedback
- Navigation
- New Patterns
- New Components
- Getting started
- Next steps

Work with Content Design to QA draft before sharing with CDT Comms team

[2022-11-30 22:39] yesenia-gtz commented on #875
@artuoma @ashleydraper @extinah  i've listed some highlight areas for the communication. not sure how we have done comms in the past. is there a process with Amy Norris? I will schedule a workshop for us early next week.

[2022-11-30 23:59] machikoyasuda opened #876 "Bug: CDN blocks all requests from outside of the United States."
**Description of bug:** Requests to the CA State Web Template CDN links are forbidden when browsing from outside of the United States. This leads to websites that use the CA State Web Template like https://ca.gov to look broken, because there is no CSS, no JavaScript, no images. This is also affecting https://benefits.calitp.org / https://github.com/cal-itp/benefits/, as this site uses a CDN link