[2016-12-13 16:53] Brian-CalVCB opened #1 "No focus indicator for some elements"
I tabbed through the [sample site homepage](http://beta.template.webtools.ca.gov/) and noticed that, in a couple places, I couldn't tell what had focus.

The `div`s with a class of `service-tile` have a `tabindex` but don't have focus styles, and the `a` in `div.header-cagov-logo` is positioned in such a way that the focus outline can't be seen.

Also, the focus `outline` fades quickly from the `.

[2017-01-25 20:54] susan-k opened #2 "Anchor Issue with Fixed Header"
Hi,

I noticed an issue when using anchors on a page with a fixed header.  When I click on the anchor, the top part of the text is hidden below the fixed header.  However, when I changed the header to not be "fixed", the anchor works.

I added an anchor to go to the H3 title on the "general-landing.html" sample page and after clicking on the link, the text that appears at the very bottom of the fi

[2017-02-10 00:50] Greg-Watanabe commented on #2
Try adding this to one of your .css files. Let me know if it causes any side effects.

    .fixed + div :target:before {
    	display: block;
    	content: "";
    	height: 110px;
    	margin: -110px 0 0;
    }

[2017-02-15 16:08] #1 closed

[2017-02-15 17:40] susan-k commented on #2
Hi Greg

I added the code to several of our css files and it didn’t seem to change anything for me.

Our unaltered test site is under folder “ver5” so I added the code to the “ver5/css/cagov.core.css” file yet that didn’t work thus removed code.  I then added the code to the root “cagov.core.css” file and it still didn’t work thus removed code.

Next, I added the code to both the root and ver5 “co

[2017-02-15 18:33] Greg-Watanabe commented on #2
Could you put your site somewhere where I can view it, or zip it and post it here?

[2017-02-22 22:52] susan-k commented on #2
Hi Greg

I found a solution that seems to work pretty good.  It’s at:  http://fellowtuts.com/html-css/offsetting-anchor-hash-tag-links-to-adjust-for-fixed-header/

It’s a simple addition to the custom css file and class to the anchors.

Susan

From: Greg-Watanabe [mailto:notifications@github.com]
Sent: Wednesday, February 15, 2017 10:33 AM
To: Office-of-Digital-Innovation/California-State-Template

[2017-02-22 23:15] susan-k commented on #2
Hi Greg

I just realized why your code didn't work for me.  I forgot to add the class to the anchor.  I added similar code and it works.

Thank you for your help.

Susan

[2017-02-22 23:17] #2 closed

[2017-03-14 17:29] markaplet opened #3 "Source Files"
Any plans to release the source LESS and JS files? If so when?

[2017-03-17 15:55] willyfresh commented on #3
can I latch onto this question? will you also release package.json and grunt/gulp files?

[2017-03-29 16:40] myque08 opened #4 "Search bar"
Google is discontinuing support for CSE API 1.0. Are you going to be updating to API 2.0?

[2017-03-29 23:48] myque08 opened #5 "Contrast issues"
This only applies if you are trying to meet WCAG 2.0 AA standards.

The blue of the header (#046B99) and the orange highlight (#FDB81E) contrast only 3.4, which means the fonts would have to be at least size 18, but are set to 16 in the header area. So, the links stop qualifying for contrast when hovered over.

[2017-04-10 21:45] WebmasterJ opened #7 "Split the CaGov and Color Scheme"
I've split the CaGov core file and the Color Scheme file, so that entities wishing to change just the color scheme can do so with ease. The color scheme can be modified further by the original publisher so the CSS files are smaller in size, by removing unnecessary CSS.

[cagov-colorscheme.zip](https://github.com/Office-of-Digital-Innovation/California-State-Template-v5-Beta/files/911553/cagov-colo

[2017-04-10 22:34] myque08 commented on #5
Another contrast issue is the color of links (#428bca) against white.  I've replaced it with #3A7AB2, which gives AA in contrast, but not AAA.

[2017-04-28 17:34] elcy-b commented on #7
So instead of overriding the core, the color scheme can be totally separate?

[2017-07-27 16:47] rkojik opened #10 "HTML/CSS/JS Fedback"
Would like to start out by saying this is a good start! I think we're going in a great direction with "one look" to help the people of California who depend on our services. That in mind, technology like the template should help us work with agility to improve our website / services. I have a couple of concerns:

- Markup, styles, and script (to a lesser extent) generally perform very well, but wi

[2017-08-03 06:06] susan-k opened #11 "Dynamic Breadcrumbs - Multiple Websites on same tree"
I have a question on how to setup dynamic breadcrumbs when there are multiple websites on the same tree.   _(This is not an issue with the template. )_

Example of structure:

Folder Level 1 - State Board _(this is the root level)_
Folder Level 2 - Regional Board 1
Folder Level 2 - Regional Board 2
Folder Level 2 - Regional Board 3

When we use the dynamic breadcrumb code below, the first location

[2017-08-03 06:25] susan-k commented on #11
Rethinking this issue, I think the problem stems from us all using the same test site.  I'm closing this issue to see if it resolves on our separate remote sites.
Susan

[2017-08-03 06:26] #11 closed

[2017-09-21 22:34] artuoma commented on #4
Yes we have a solution and will be uploading shortly, thanks.

[2017-09-21 22:34] artuoma commented on #3
Yes we are very close to having those completed and will release soon.

[2017-09-22 17:26] artuoma commented on #10
Great stuff, thanks Koji, we will be in touch!

[2017-10-26 16:13] artuoma commented on #3
Please see commit 778e4c3 for latest source files.

[2017-10-26 16:13] #3 closed

[2017-10-26 16:24] artuoma commented on #4
Please see commit 778e4c3 for latest search API. You can see the latest changes at http://beta.template.webtools.ca.gov

[2017-10-26 16:24] #4 closed

[2017-10-27 16:25] artuoma commented on #7
Take a look at commit 177f315, The color scheme structure has been changed to avoid duplication of styles in cagov.core.css which now imports color scheme variables only, the rest goes into the color scheme css

[2017-10-27 16:25] #7 closed

[2017-10-30 19:53] artuoma commented on #5
Hello, thanks for that feedback, we have incorporated these fixes in commit 60a99dd .

[2017-10-30 19:53] #5 closed

[2017-11-02 21:30] WebmasterJ opened #15 "CA.gov logo, dropdown borders, nav hover"
I've seen the following errors with the update; otherwise the colors look great (I haven't checked them for AAA compliance, but they appear to be a significant improvement):

Corrects the issue of centered hovering on the yellow line (right below main nav):

  .megadropdown .nav-arrow-down {
    margin-left: -65px;                               /* Modified to "-50px" */
  }

Re-adds the borders fo

[2017-11-02 22:24] kkoryaka commented on #15
Could you provide the screenshots of the issues? Our latest template is posted here: http://beta.template.webtools.ca.gov/.  This is where the latest changes. Can you replicate the issues there?

[2017-11-06 23:17] rkojik opened #16 "Radio buttons and checkboxes are not focusable"
No need to use a hidden class to hide the input. It's better to utilize CSS more and HTML less to accomplish the custom styled radio buttons / checkboxes:

The only HTML you need:
`<label>
<input type="checkbox">
<span>Checkbox 1</span>
</label>`

Then you can use adjacent sibling selectors in CSS:
[https://codepen.io/stefsullrew/pen/XJVOvK](url)

[2017-11-07 18:02] kkoryaka commented on #16
Good catch. Thank you, The issue is now fixed.

[2017-11-07 18:02] #16 closed

[2017-11-17 06:34] Brian-CalVCB commented on #10
Agreed. For example, we could save one request by rolling the color scheme into `cagov.core.css` during the build process rather than downloading it separately. (I'll probably make a pull request for this soon.)

Funny enough, this is straight out of Bootstrap, and it actually makes sense. It's meant to target the corners of a table that's in a certain position in a panel.

If a cell is the first

[2017-11-20 15:33] rkojik commented on #10
Thanks for the breakdown Brian! Awesome. :+1.

My goal was more to point out Bootstrap's gross over specification and lack of understanding of the 'C' (cascade) part of CSS.

**If our design is simple, it's much simpler to code**. That exact selector could have been: `.panel tr:first-child td:first-child`. But even that is too specific. I feel the need to call-out the fact that they defined a "tr"

[2017-11-27 20:14] Brian-CalVCB commented on #10
Here's that pull request: #17.

[2018-01-06 00:17] Brian-CalVCB opened #18 "Touch issues on demo site main navigation"
I just looked at [http://beta.template.webtools.ca.gov](http://beta.template.webtools.ca.gov) in Chrome on my Android tablet. Tapping the top-level main navigation items opens their respective megamenus, but I can't find a way to actually activate those top level links.

Funny enough, I can use the top level links on [http://ca.gov](http://ca.gov).

[2018-01-09 23:34] kkoryaka commented on #18
Good catch. The latest commit addresses this issue in following way. (First tap opens up the subnav items if present, the second tap goes to designated url link).

[2018-04-30 16:52] #18 closed

[2018-04-30 16:52] artuoma commented on #18
Issue has been resolved.

[2018-07-25 17:50] jhopkinscdcr opened #23 "hideSubNavs function definition is missing"
The cagov.core.js file has four calls to the hideSubNavs function, but the function is not defined in any of the included js files.  Is it still needed?

[2018-07-25 18:55] artuoma commented on #23
Hello sir, did you see this? if Not subscribe to all our repo alerts...

ARTEM KHOMISHEN
Web Technology Specialist
916.431.5067 (Office)
CALIFORNIA DEPARTMENT of TECHNOLOGY
________________________________
From: jhopkinscdcr <notifications@github.com>
Sent: Wednesday, July 25, 2018 10:50:31 AM
To: Office-of-Digital-Innovation/California-State-Template-v5
Cc: Subscribed
Subject: [Office-of-Digital-

[2018-08-01 18:32] kkoryaka commented on #23
We have removed references to that function in our latest commit.

[2018-08-01 18:32] #23 closed

[2018-09-18 18:21] aklump opened #24 "4 calls to hideSubNavs but the function is never defined."
1. search for hideSubNavs() in cagov.core.js and you'll see it's called four times but never defined.
1. The problem shows itself in touch context.
1. This is in version 5.0 and 5.1 releases.

[2018-09-18 20:58] kkoryaka commented on #24
We have addressed this issue  in beta-bootstrap4 version. In the next master release we will fix it too.

[2018-09-18 20:58] #24 closed

[2018-09-18 21:45] aklump commented on #24
Thank you @kkoryaka, I've updated to the tip of the master branch and this fixed the error as well as a couple others that had to do with ios mobile menu.  Thank you for the quick response.

[2018-09-20 17:47] lukefretwell opened #25 "Nav items color contrast"
Looks like the navigational menu icon color isn't contrasting at the recommended 4.5:1 ratio. Maybe just default to the hover color?

<img width="728" alt="screen shot 2018-09-20 at 10 46 14 am" src="https://user-images.githubusercontent.com/1569463/45836725-76f14200-bcc2-11e8-95a5-e6db5bf735c4.png">

Screenshot:

<img width="1252" alt="screen shot 2018-09-20 at 10 33 52 am" src="https://user-imag

[2018-09-20 22:44] artuoma commented on #25
Thanks for the suggestion. We actually did this intentionally not to take away from the text of the navigational menu. The icons aren't considered critical and fall in to the category of a decorative imagery.

See more information on the [Decorative Images](https://www.w3.org/WAI/tutorials/images/decorative/)

[2018-09-20 23:20] lukefretwell commented on #25
@artuoma 👍 thank you for the quick reply!

[2018-09-20 23:20] #25 closed

[2018-10-08 20:33] coxwagner opened #26 "Utilize the template with SPO"
Can we deploy this template to our department's SharePoint Online intranet? If so, how can that be done? Thanks!

[2018-10-08 22:04] artuoma commented on #26
As far as we know, we haven’t looked at SharePoint integration nor received feedback from anyone else.

Based on Microsoft’s documentation you may be better off customizing one of their existing themes to mimic the state template elements and template. To fully integrate with SharePoint you will need to break the template up into parts and integrate based on how SharePoint sites are built.

The fo

[2018-10-09 18:04] coxwagner commented on #26
Thanks for the info and resources @artuoma ! I'll review everything and see how we can implement this template into our department's SPO environment with best practices. The requirement is to make the home page of our intranet look just like the template you guys created. Please let me know if you guys plan to make a version of this template a SharePoint solution that we can deploy to SPO. Thanks!

[2018-10-18 15:32] artuoma commented on #26
No problem, wish we could be of more help.. Let us know how you integrated it if you don't mind.

[2018-10-18 15:32] #26 closed

[2018-11-09 22:56] soulos90 opened #27 "High contrast + check-icon-radio"
If a page contains the radio button class from the sample code site, ie:
\<label class="form-check-inline p-l-md m-l-0 m-r-md">
                    \<input class="hidden-up pos-abs" name="radInline1_1" checked="" type="radio">
                    \<div class="check-icon-radio">
                        \<i>\</i>
                    \</div>
                    USA
\</label>
Then that page is set to

[2018-11-17 00:13] #27 closed

[2018-12-19 22:09] lukefretwell opened #29 "Add 'An official California State Government website' banner"
Suggest adding “An official California State Government website” banner to the template, similar to what US Web Design System does for the federal government:

* Reference: https://designsystem.digital.gov/components/headers/#basic
* Demo: https://designsystem.digital.gov/components/headers/basic/

Code:

`      <div class="usa-grid usa-banner-inner">
      <img src="/assets/img/favicons/favicon-5

[2018-12-21 22:30] kkoryaka commented on #29
In our new State template v5.5 we have added several navigation options. please see them here.
http://beta.template.webstandards.ca.gov/sample/navigation-full-width-icons.html
http://beta.template.webstandards.ca.gov/sample/navigation-full-width.html
http://beta.template.webstandards.ca.gov/sample/navigation-megamenu-flex.html

[2018-12-29 04:17] lukefretwell commented on #29
@artuoma thank you!

[2019-01-07 17:17] xjensen opened #33 "Color palette documentation"
While this template looks like a great fit for the majority CA web projects, some will not be able to use it due to technical and/or product constraints. I'm in this situation in a couple projects. (And this is of course good and fine, there will always be outliers.)

With that said, I was delighted to find the effort put into color palettes in /source/scss/colorscheme. This color work is super us

[2019-01-10 21:30] kkoryaka commented on #33
Thank you for your suggestions and examples. Our color scheme pages with some details can be found in the template's examples page (look for Color Schemes): http://template.webtools.ca.gov/sample/
Are you looking for specific color scheme that would fit your project or do you want our color schemes pages to be more documented?

[2019-02-04 23:34] artuoma commented on #33
"more comprehensive and extensible design system" We totally agree and this is part of our road-map, thanks for your feedback!

[2019-02-04 23:34] #33 closed

[2019-02-28 21:18] chrisbesenty opened #36 "nav bar highlight picks up links to same subdirectory"
If the primary nav bar has two or more links to files that are in the same sub-directory, clicking on either link will highlight both as active. See: http://biodiversity.ca.gov/ and click on any of the three middle nav links (they each share '/category/' as the sub-directory. Tested the same against various link combinations, only reproduced as described.)

[2019-02-28 22:38] chrisbesenty commented on #36
Perhaps I should withdraw the above comment--I just read the description of the Active Navigation Item ( http://template.webstandards.ca.gov/sample/navigation-active.html ) and it appears that this behavior is anticipated; so the alternative would be to disable auto-highlight, or dynamically restructure nav links on the fly, relative to the current location of the page being loaded.

[2019-05-08 16:42] Student-of-the-Web opened #49 "Template use and contrast issue"
We really need a path for updates to the template. Not a replacement, requiring rebuilding all of our content.  If anyone has the simple update process, or some steps, please let me know.
Shawn.Flanagan@waterboards.ca.gov

Also we have a contrast ADA issue in the template.
I am using "Colour Contrast Analyser" and the foreground shows #9FC7DA, and the background shows #FFFFFF, these levels of cont

[2019-05-09 18:08] kkoryaka commented on #49
Hello, we have released State Template version 5.0.6 and beta v5.5.3 that have been specifically tested for ADA compliance. Here are the demo sites http://template.webstandards.ca.gov/, http://beta.template.webstandards.ca.gov/ using those State template versions. The easiest strategy for updating your website to the latest State Template version is using our CDN (http://template.webstandards.ca.g

[2019-05-20 20:04] Student-of-the-Web commented on #49
kkoryaka
I think the CDN idea is good, if there is a test CDN we can be linked to, that goes live a short time before the real CDN gets updated, so we could fix any issues we see in the new template.  For example, our version of 5.0.2 uses the carousel, and in version 5.0.6 the carousel only shows images if you add the class owl-carousel.  It is changes like this and others I have not yet found th

[2019-05-20 20:04] #49 closed

[2019-05-20 20:08] artuoma commented on #49
Each release will has its own CDN link so you can always keep the version you are on and reference the new CDN version link in your TEST. Does that make sense?

[2019-05-24 21:48] markaplet commented on #29
Sorry I know this is a little old, but I thought I would throw my ¢2 in. I think that the blue bar across the top is doing exactly that. It adds the CA logo to the utility bar. When we create alternate designs we tend to use that as a way of tying it back as an official CA Gov site.

[2019-05-24 22:12] artuoma commented on #29
I agree Mark, I think the question at this point is how obvious do we make it and do we spell it out?

[2019-05-24 22:18] rkojik commented on #29
@markaplet @artuoma  I agree, it certainly does satisfy the branding aspect. The part I'm interested in -- do users of CA services find the "here's how you know" content helpful? (re: official gov site, make sure you don't share sensitive info, and secure through https).

My hypothesis is that it's one of two ways (or in between somewhere): 1. "Who cares" feature, just let me accomplish my task, o

[2019-06-17 19:24] markaplet opened #59 "Slideshow Banner Controls on Mobile"
in v5.0.7 of the template, the `.header-slideshow-banner` controls for slide number and play/pause buttons can overlap text on some small screens. Adding a media breakpoint for xs screens and positioning the `.banner-pager` and `.banner-play-pause` to the top ~20px fixes the issue.

[2019-06-17 19:41] markaplet opened #60 "Grid .quarter not responsive"
The grid value `.quarter` does not apply useful responsive for small screens.

**Current Usage**
`.quarter {
    @include make-sm-column(6);
    @include make-sm-column(3);
}`

**Suggested Alternative inline with v4**
`.quarter {
    @include make-xs-column(6);    // make 2 column on extra small and small
    @include make-md-column(3);    // 4 column on medium and up
}`

**Bootstrap'ish Grid**
`.

[2019-06-19 23:24] kkoryaka commented on #60
This is addressed in our latest v5.0.8 release. We've used your suggested alternative. Thanks you for your input.

[2019-06-19 23:25] kkoryaka commented on #59
This is addressed in our latest production release. Thanks for you input.

[2019-11-20 20:06] justinsane98 opened #87 "Beta timeframe?"
Is there any indication of when 5.5.x will move out of beta?

[2019-11-20 21:17] kkoryaka commented on #87
We are aiming for Jan 2020

[2019-11-27 19:11] dben84 opened #88 "v5.0.12 / v5.5.9"
In the release notes for v5.0.12, I noticed that some of the same updates are listed under v5.5.9 (beta). Are there improvements to these 4 items, or are they carried over to 5.5.9 with just new icons in the beta release? What other updates are planning for next production release?

[2019-11-27 19:24] kkoryaka commented on #88
You are right, some of 5.0 Improvements/fixes are carried over to v5.5 and vise versa because those fixes are applicable to both. In our next release we will make v5.5 a production release. Also, we will publish v6 as our new beta.

[2019-11-27 19:26] dben84 commented on #88
Thanks - sounds like it's best to wait for v5.5 production release then, since I've been looking for those accessibility fixes specifically. Still planned for January?

[2019-11-27 19:28] kkoryaka commented on #88
Yes, we are aiming for January.

[2019-12-02 20:42] mike-adams-edd opened #89 "Tab Panels, Accordions, Cards and Screen Readers"
Hello, I have run into an issue where the accordions, tab panels, and cards are not being read by any of the screen readers that I am testing with (Jaws and NVDA). The header of the accordion will get read, and it reads the aria expanded attribute, but does not read the content in the expanded area. https://www.edd.ca.gov/payroll_taxes/FAQ_-_e-Services_for_Business.htm

For the tab panels and card

[2019-12-02 20:49] mike-adams-edd opened #90 "Alert Banner auto-closing issue"
Hello,

I have come across an issue where the alert banner at the top of the page will not allow you to click the right-hand links of the utility header when it auto-closes as you scroll down. If you click the close button before scrolling, it works just fine. If it auto-closes though, it seems the button link of the banner has a different z-index and overlays the buttons of the utility header. to

[2019-12-03 00:02] kkoryaka commented on #90
Thank you for your inquiry. This is a good catch. We will incorporate the fix in our next release.

[2019-12-03 00:03] kkoryaka commented on #89
Thank you for your inquiry. We will try to fix it in our next release.

[2019-12-09 18:52] kkoryaka commented on #90
This issue should be fixed in our v5.013 and v5.5.10 beta releases.

[2019-12-09 18:53] kkoryaka commented on #89
This issue should be fixed in our v5.013 and v5.5.10 beta releases.

[2019-12-09 18:53] #89 closed

[2019-12-09 18:53] #90 closed

[2019-12-18 19:35] mike-adams-edd opened #94 "Tab Panels, Accordions and screen readers"
Hello,

Before implementing the latest template on our website, I decided to test out the updates to the screen reader issue I had using the template website. While the content is now read by a screen reader (using both JAWS and NVDA) if you hover over that content with a mouse, it is not read at all still if you are navigating just using your keyboard (which is what those with visual disabilities

[2019-12-23 16:46] kkoryaka commented on #94
Thank you for your inquiry. I just tried to hover over the accordion content on this page http://template.webtools.ca.gov/sample/accordions.html with my cursor and I was able to hear the expanded accordion content that was read by NVDA without any issues. I think the key is what screen reader mode you are using. I have noticed that it behaves  similar to what you have described In focus mode. But

[2019-12-27 18:43] kkoryaka commented on #94
New release has a new tabs module that uses focus into the tab's content approach. http://template.webtools.ca.gov/sample/tabs.html

[2019-12-27 19:36] mike-adams-edd commented on #94
Hello,

Thank you for getting that new tab field in place, I just tested it with JAWS and NVDA and it works very well. I did want to discuss the accordions though. Can we get something similar for the accordions? As I mentioned, if you hover over the accordions when they are expanded it will read the content, but those with visual impairments are not utilizing a mouse. They are utilizing keyboard

[2020-01-09 20:11] mike-adams-edd commented on #94
Hello, I am just following up on my reply as I have not heard back about it.

Thanks!

Mike Adams

[2020-01-13 21:05] kkoryaka commented on #87
It's out of beta. v5.5 is now production.

[2020-01-13 21:05] #87 closed

[2020-01-13 21:19] kkoryaka commented on #94
We will try to incorporate similar keyboard navigation approach to the accordion as we did to the tabs in our next release.

[2020-01-13 21:21] kkoryaka commented on #88
Version 5.5 is now production

[2020-01-13 21:21] #88 closed

[2020-01-13 21:21] #60 closed

[2020-01-13 21:21] #59 closed

[2020-01-14 17:50] mike-adams-edd commented on #94
Hey there,

What accordions are you utilizing on https://webstandards.ca.gov/accessibility/ as those are fairly friendly. But they are different than the ones you all provide in the examples page.

Thanks!

[2020-01-14 18:49] kkoryaka commented on #94
That is WordPress site. It uses divi theme accordion modules, However, those modules use extra accessibility js plugin.

[2020-01-25 00:24] mike-adams-edd opened #103 "Parallax-bg class broken in 5.0.14"
Hello,

I am trying to update my site to template 5.0.14 from 5.0.11 (as we will not be able to update to 5.5.x or 6 anytime soon), and I noticed that parallax is not functioning on my test site with .14 in place. There is just the empty background where the image. For reference:

Template 5.0.11: https://edd.ca.gov/
Template 5.0.14: http://134.187.115.248/

If you scroll down, you will see a sect

[2020-01-25 00:37] mike-adams-edd commented on #103
So I took the parallax.js section from the core js file on 5.0.11, removed all of it from my 5.0.14 .js core file and replaced it with the .11 version and it is working just fine again. So I am not sure what was changed, but it was not working with the new template.

[2020-01-25 02:24] mike-adams-edd commented on #94
Hello again,

I wanted to see if there was any chance of getting this fix implemented on the 5.0.x template, as we will not be able to upgrade to the 5.5.x template for quite a while (possibly a year or so). As this was an issue brought up with this template, I am truly hoping so.

Thanks again!

Mike Adams

[2020-01-27 21:57] kkoryaka commented on #103
We posted legacy 5.0,15 release version in our releases that includes this parallax fix. Thank you for bringing it up.

[2020-01-30 22:05] kkoryaka commented on #94
We have released v5.0.15 (Legacy Release) that have this fix for you. Also, added this fix in our production release (5.5.12)

[2020-02-04 00:37] dben84 opened #106 "v6 beta release"
Is there any estimated date when there will be production release for v6 template?

[2020-02-04 17:37] kkoryaka commented on #106
There is no estimated date yet.

[2020-02-14 01:32] #94 closed

[2020-02-14 01:32] #103 closed

[2020-02-14 01:37] mike-adams-edd opened #107 "Mobile navigation disappears in Internet Explorer"
Hello,

During a meeting today, we noticed that mobile navigation disappears completely in mobile view on Internet Explorer. We noticed because all of the computers at EDD are set to utilize Internet Explorer as the default browser. Doing more digging, somewhere between 5.0.7 and 5.0.13, the mobile menu stopped working. edd.ca.gov still works because it is using 5.0.7, but taxes.ca.gov does not be

[2020-02-19 20:10] kkoryaka commented on #107
Thanks for bringing it up. That is because IE is not fully supporting the flexbox. We will make this patch specifically for IE in our next legacy hot fix release.

[2020-02-21 19:08] kkoryaka commented on #107
We just released legacy release  v5.0,16 that has this issue fixed.
https://github.com/Office-of-Digital-Innovation/California-State-Template/releases/tag/v5.0.16

[2020-04-30 18:27] myque08 opened #110 "jquery.validate.js"
It appears that cagov.core.js appears to interfere with adding jquery.validate.js to a form for validation. cagov.core.js throws a few errors and then $(...).validate is undefined. Do you know of a bypass for this?

[2020-04-30 18:42] kkoryaka commented on #110
Thanks for your inquiry, I could also depend on where on the page you have placed your validation script. On this site https://covid19supplies.ca.gov/, for instance, validation script library is placed after cagov.core.js file and it works fine. Let us know if placing your script library last on the page is still throwing an error.

[2020-06-25 15:31] justinsane98 commented on #106
Any news on V6 release date yet?

[2020-06-26 17:08] kkoryaka commented on #106
Our target is to release it by the end of the year. But it's not set in stone.

[2020-09-04 17:45] coop333 opened #119 "Theme Colors Customization"
I'm with the Bureau of Automotive Repair - Department of Consumer Affairs, and we were looking into possibly making some color customization. There's a reference made on the colorscheme pages that indicates that a .less file should be available to do this. However, I cannot find this file, or instructions on how to do this. We are running version 5.0.5.

https://template.webstandards.ca.gov/sample

[2020-09-04 18:37] kkoryaka commented on #119
Version 5.0.5 is using gulp to compile core and color scheme css files from SASS source files (It's' not LESS as you mentioned, The .less extension needs to be changed .sass in our instruction on State template website.).  Those SASS files are located inside of \source\scss folder.  Theme color variables are found in \source\scss\colorscheme folder. In your case it's colorscheme-sacramento.scss, A

[2020-09-08 16:43] coop333 commented on #119
I'm running into issues with version compatibility between gulp and node, and I'm also running into issues with SASS (node sass does not yet support your current environment windows 64-bit with unsupported runtime (72)). Do you know the specific versions of each (below) that were used?
Node
Gulp
SASS
Python

Also, does the latest version of the state template also use this approach?

[2020-09-09 00:12] kkoryaka commented on #119
When I was replying initially to your issue my node version was under v12.  But after updating my node to v14 I was facing ReferenceError: primordials is not defined error when trying to run gulp. So, to fix that I had to add [npm-shrinkwrap.json](https://github.com/Office-of-Digital-Innovation/California-State-Template/blob/master/npm-shrinkwrap.json) file to my solution. After that I was able to

[2020-09-11 20:47] coop333 commented on #119
I'm going to have take your word for it for now. I'll come back to this when I have more time.

[2020-09-16 20:58] coop333 commented on #119
Hi @kkoryaka ,

[2020-09-16 23:29] kkoryaka commented on #119
Remove all the content from your npm-shrinkwrap.json and only fol;owing content:
{
  "dependencies": {
    "graceful-fs": {
        "version": "4.2.2"
     }
  }
}

Run npm install, It'll update npm-shrinkwrap.json with a bunch of content. Then try using gulp. Let us know if that works.

[2020-09-17 16:11] coop333 commented on #119
I got it to work! Thank you!

[2020-09-17 16:11] #119 closed

[2020-09-30 00:08] dben84 commented on #106
Any update on this recently? Still looking for release by the end of the year?

[2020-10-02 19:53] coop333 opened #121 "global-footer, invalid property value"
In the global-footer.scss file there is an appended 0 at the end of the variable (see line 9 padding-top: $line-height-computed 0;). This is causing an invalid property value warning to appear.

https://github.com/Office-of-Digital-Innovation/California-State-Template/blob/master/source/scss/cagov/global-footer.scss

[2020-10-02 20:01] coop333 opened #122 "two-column sticky-footer Issue in Mobile Environment"
When using the two-column body class along with sticky-footer class, the footer is no longer visible, nor does it stick to the bottom.

Here's an example:

[code]

[2020-10-02 22:21] coop333 opened #123 ".card-heading, .card-header"
Looks like there is a mixing of .card-heading and .card-header. In bootstrap 4 .panels were dropped and .cards were the replacement. It appears that the state template has a mixture of these classes. It seems as if some cleanup needs to happen to remove panels altogether and remove the class .card-heading (as it should be .card-header).

See https://github.com/Office-of-Digital-Innovation/Californ

[2020-10-07 17:17] markaplet opened #124 "Indicate External Links"
I have a feature request for consideration. It's helpful to have external links indicated to the user in some way.

Perhaps an icon using a square and arrow such as this font awesome icon https://fontawesome.com/icons/external-link-square-alt?style=regular

Similarly an icon for representing modals or popups such as this icon: https://thenounproject.com/search/?q=popup&i=849691

My request comes w

[2020-10-12 17:48] kkoryaka commented on #124
Thank you @markaplet. We will definitely consider adding this feature in our next releases.

[2020-10-12 17:55] kkoryaka commented on #123
Thank you @coop333 for bringing it up. Yes, this update should be part of v6. In our production version we are still trying to have backwards compatibility with those older bootstrap classes.

[2020-10-12 17:58] kkoryaka commented on #122
Thank you @coop333 for bringing it up. We will try to resolve this issue in or next releases.

[2020-10-12 18:07] kkoryaka commented on #121
Good catch @coop333, this will be fixed in our next release.

[2020-10-30 19:37] coop333 commented on #121
Looks like this was addressed in 5.5.18.

[2020-10-30 19:43] kkoryaka commented on #124
We have added external link in our v5.5.18 release: https://template.webtools.ca.gov/sample/links.html

[2020-10-30 19:46] kkoryaka commented on #122
Here is  the example where sticky footer is working with two-column class in the body: https://template.webtools.ca.gov/sample/sticky-footer.html

[2020-11-03 20:07] #122 closed

[2020-11-03 20:07] #121 closed

[2020-11-03 20:11] coop333 opened #126 "CDN Availibility and Fail Over"
We are updating our public website right now and we would like to solely use the CDN for referencing the state template CSS and JS. My question is, is this foolish? Should we have a failover to a local library? This also brings up the question, what is the availability of your CDNs? Looking at the bigger companies they use multiple CDNs for failover (not a local copy on the web server). I have man

[2020-11-04 17:24] kkoryaka commented on #126
Our Azure CDN service is pretty dependable. Such high visibility and high profile websites as ca.gov, response.ca.gov are using Azure CDN without any failover. In my days here CDN failure never happened.

[2020-11-04 20:56] coop333 commented on #126
Thank you so much for the quick response.

[2020-11-04 20:56] #126 closed

[2020-11-30 20:25] coop333 opened #127 "Use of i tag for icon block"
I'm using the icon blocks example found on this page - https://template.webstandards.ca.gov/sample/icon-blocks.html and I'm receiving an issue from SiteImprove accessibility checker. The issue is:

I tried to perform a workaround here, but anytime I use anything other than an i tag for the icon the icon appears at the top of the circle instead of the middle. Here's my code:

        <div class="gr

[2020-12-01 01:14] kkoryaka commented on #127
Thanks for bringing it up. We will fix it in our next release. In the meantime you can try using <span> instead of <i> but you need to add following css styles to it to make sure it's centered vertically.
`  position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;`

[2020-12-07 15:24] coop333 commented on #127
Thank you @kkoryaka.

[2021-02-16 21:11] coop333 opened #133 "Mixed Content Error on serp.html"
On the serp.html example page there is a reference to a google css file via http. It doesn't appear that this css file exists and loading it as-is is causing a mixed content error in the console.
https://github.com/Office-of-Digital-Innovation/California-State-Template/blob/master/serp.html

[2021-04-07 21:45] markaplet opened #136 "Modal Focus not Handled"
I noticed today while using a screen reader (NVDA) that when a modal is activated that focus is not sent to the modal. Specifically I expected focus to go to the title. Pressing the down arrow with the modal open I was expecting NVDA to read the contents of the modal, however it read only the content from the page behind the modal. Pressing tab users are unable to refocus the modal in order to clo

[2021-04-07 22:24] markaplet opened #137 "Accessibility of Accordion List"
The Accordion List (https://beta.template.webtools.ca.gov/sample/accordions.html#accordion) component is currently not accessible to screen readers. Upon activating the control neither Tab or down arrow will read the content. These are the most common keys that would presumably work. The control is announced as a tab (which is fine) so I first attempted to tab into the content assuming it was a ma

[2021-04-07 22:46] markaplet opened #138 "Element div not allowed as child of element ul"
The accordion list component has malformed HTML. HTML5 Validator shows this error: **"Element div not allowed as child of element ul**" This may or may not contribute to issue #137 (Accessibility of Accordion Lists) To correct this, the content div would need to be a child of the li, and a sibling to the anchor tag.

As an alternative to the current solution developers can use the [Toggle componen

[2021-04-07 23:01] markaplet opened #139 "Breadcrumb use nav element"
Breadcrumb component is a small wayfinding navigation and should be wrapped with the nav landmark element and given an aria-label to identify it to AT users. Below is an example for recommendation:

[code]

Note: may sites are moving towards an accessible label such as "You are here" as an improvement to "Breadcrumb". The argument is that breadcrumb is an engineering or systems term rather than an

[2021-04-07 23:48] markaplet opened #140 "Timeline Component Structure"
I believe the the structure of the new [Timeline component](https://beta.template.webtools.ca.gov/sample/timeline.html) is not structured correctly. There are a few things that I think could be improved for assistive technology.

I believe the `article` element should wrap the content on both the left and right side of the line/dot. The information is all together and would make less sense individ

[2021-04-28 14:55] coop333 opened #142 ".btn-hover Loses Rounded Borders on Hover"
When using .btn-hover the rounded border on the button is lost when hovering.
https://template.webstandards.ca.gov/sample/buttons.html

[2021-04-28 15:03] coop333 opened #143 "State Template Using Markdown"
@kkoryaka , would the Department of Technology be interested in having a template that uses markdown for content pages? This is precisely what we at the Bureau of Automotive Repair have done and it has worked out quite well. It allows our department that handles content for our website to make changes without needing to know much about websites.

If interested let me know and I can share a strippe

[2021-08-30 21:59] jonathan82 opened #160 "Carousel not loading images properly"
Hi, I'm trying to use the State Template carousel, using the example provided.  I'm encountering an issue where the carousel works properly and loads the images when I disable the cache my browser.  If my browser caches the images the carousel doesn't load.  Has anyone encountered this issue?

[2021-09-08 04:53] Jacobtarango21 opened #161 "Ca"
__Originally posted by @Jacobtarango21 in https://github.com/Code52/saywat/issues/21__

[2021-09-08 04:53] Jacobtarango21 commented on #161
![image](https://user-images.githubusercontent.com/58198765/132448562-2301f504-fa7c-4852-a674-f50a5668a155.png)

[2021-09-09 05:09] Jacobtarango21 opened #162 "Jacob"
I

__Originally posted by @Jacobtarango21 in https://github.com/icmma/openpilot/pull/115#discussion_r704955862__

[2021-10-21 22:29] CDSS-Jansson opened #165 "Bambinton"
![image](https://user-images.githubusercontent.com/87678482/138365320-eec8d12f-25e0-475e-ba39-452173e1e50a.png)

Personally, I'll refer to it as bambinton from now on.

Professionally, I recommend we rename this to "ca-gov-icon-badminton".

Also, would it be possible to add a trash can?

[2021-12-11 01:20] kkoryaka commented on #133
Thanks! We will fix it with our latest jQuery-less version 5.6.0

[2022-01-01 19:31] boubacarsbgmali opened #183 "Irwin PA system and industrial and commercial bank account number"
Ltd as a result of the best time for a little more details please check your email and

[2022-01-04 23:35] kkoryaka commented on #106
Release v6 has been implemented into production.

[2022-01-04 23:35] #106 closed

[2022-01-04 23:35] #15 closed

[2022-01-04 23:36] #107 closed

[2022-01-04 23:43] kkoryaka commented on #110
State Template is now jQuery less. I will close this issue

[2022-01-04 23:43] #110 closed

[2022-01-04 23:45] #123 closed

[2022-01-04 23:45] #124 closed

[2022-01-04 23:46] #127 closed

[2022-01-05 00:04] kkoryaka commented on #133
This is now fixed.

[2022-01-05 00:04] #133 closed

[2022-01-07 17:49] kkoryaka commented on #136
@markaplet, thank you for your feedbacks. and for alwAys bringing great points. Recently, we have switched our template to bootstrap 5 which means codebase for most of our components are now updated. Take a look again and see if your issue is relevant. Our engineers are also taking thorough look at it to see if there are any potential accessibility issues.

[2022-01-07 17:51] kkoryaka commented on #137
@markaplet, thank you for your feedbacks. and for bringing up great points. Recently, we have switched our template to Bootstrap 5 and jQuery-less approach, which means codebase for most of our components are now updated. Take a look again at our updated accordion list and see if your issue is still relevant. Our engineers are also taking thorough look at it to see if there are any potential acces

[2022-01-07 17:52] kkoryaka commented on #138
@markaplet, thank you for your feedbacks. and for bringing up great points. Recently, we have switched our template to Bootstrap 5 and jQuery-less approach, which means codebase for most of our components are now updated. Take a look again at our updated accordion list and see if your issue is still relevant. Our engineers are also taking thorough look at it to see if there are any potential acces

[2022-01-07 17:54] kkoryaka commented on #139
This is good point @markaplet, we will incorporate this in our next State Template revision.

[2022-01-07 17:57] kkoryaka commented on #140
This is great stuff, @markaplet. We will try to incorporate your suggested structural improvements to this component in our next State Template revision.

[2022-01-07 17:58] kkoryaka commented on #142
Thanks @coop333, good catch. We will try to fix it in our next revision.

[2022-01-07 18:03] kkoryaka commented on #160
Since State Template has moved on to jQuery-less codebase, we are no longer using jQuery based owl carousel component.  We are switched to Bootstrap 5 native carousel instead. Check if that carousel works better for you.

[2022-01-07 18:04] kkoryaka commented on #161
Not sure if this issue is State Template related.

[2022-01-07 18:04] #161 closed

[2022-01-07 18:05] kkoryaka commented on #162
Not sure what the issue is.

[2022-01-07 18:05] #162 closed

[2022-01-07 18:07] kkoryaka commented on #165
Good catch, @CDSS-Jansson, we will try to fix this typo in our next State Template revision. And yes, good suggestion, we will add trash can.

[2022-01-07 18:08] kkoryaka commented on #183
Not sure if this State Template issue.

[2022-01-07 18:08] #183 closed

[2022-01-07 18:10] boubacarsbgmali commented on #183
IRS circular road Dublin Ireland and

[2022-01-07 18:33] kkoryaka commented on #143
@coop333 this is cool idea, but at this State Template's main purpose is to provide essential web template framework and codebase in the most common way (HTML, CSS and JavaScript) to ensure a uniform user experience across state entities.  If any department finds that any other technology (such as markdown in your case) works for them better and makes their workflow easier and more efficient more

[2022-01-13 20:57] kkroon opened #184 "Custom element instead of native HTML?"
In the latest update to the accordion component, I noticed that the template now recommends a custom HTML tag (cagov-accordion) rather than the native [HTML details element](https://html.spec.whatwg.org/multipage/interactive-elements.html#the-details-element).

Can you explain what the rationale for this decision?

[2022-01-14 17:35] kkoryaka commented on #184
We are slowly integrating a new California design system that is going to be build with new components that are:
- Based on W3C custom element standards to avoid the need for an underlying library
- Created with performance and accessibility in mind
- Usable in any framework
Accordion is one of those new design system's components that is using custom elements. The design system is still in beta m

[2022-01-18 23:30] markaplet opened #185 "Negative border-radius value"
The "Card" component was found to have a negative value for the border-radius. Only positive values or 0 are valid for this property.

Example from line 20124 of [cagov.core.css ](https://github.com/Office-of-Digital-Innovation/California-State-Template/blob/93192a84a5b342d42e9fcb178aa509a9b038dbbb/css/cagov.core.css#L21025)

`.card-header:first-child {
  border-radius: -1px -1px 0 0;
}`

[2022-01-18 23:51] markaplet opened #186 "SVG Hack throws CSS error."
[img-responsive mixin contains hack for SVG images in IE10](https://github.com/Office-of-Digital-Innovation/California-State-Template/blob/93192a84a5b342d42e9fcb178aa509a9b038dbbb/source/scss/cagov/mixins.scss#L892). Uses `width: 100% /9` as property value leading to CSS validation errors.

[2022-01-20 20:53] kkroon commented on #184
Perhaps I'm just dense, but I'm having a hard time understanding how this:
`<cagov-accordion>
    <div class="cagov-accordion-card">
      <button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
        <div class="accordion-title">Lorem ipsum</div>
        <div class="plus-minus">
          <cagov-plus>
            <div class="accordion-icon" aria-hidden="true">

[2022-01-20 21:11] rkojik commented on #184
I'm just useless overhead so my opinion doesn't matter all that much, however I'm with Kurtis on this one... I haven't experimented with the details element... but I've much preferred progressive enhancement > custom components for accordions: https://inclusive-components.design/collapsible-sections/. If JavaScript is disabled, we're left with headings and text (which is, at it's core, all that co

[2022-01-20 23:15] aaronhans commented on #184
This is a good point. I like the approach you've pointed out @kkroon! That is some very clean markup. The difference is that the accordion custom element animates its transitions.

[2022-01-20 23:22] kkroon commented on #184
@aaronhans
A quick search on the web shows one way to [animate the details element using that plain ol' CSS I mentioned above](https://css-tricks.com/how-to-animate-the-details-element/) ...

[2022-01-20 23:30] aaronhans commented on #184
Thanks @kkroon! I love that we are getting expert feedback like yours with simplification suggestions. We definitely have the opportunity to streamline this component. That is a great article you linked. It does use js for the animation too but it may be better to forgo the animation in favor of code simplicity.

[2022-01-20 23:38] kkoryaka commented on #186
Thank you for pointing it out @markaplet. We will remove this hack in our next release.

[2022-01-20 23:59] artuoma commented on #184
@kkroon I think there is a balance and fine line between pure functionality and good design. For example a lot of that code is ensuring the target area is large enough for mobile use and that those targets are visually obvious for a good user experience.

[2022-01-21 00:03] kkroon commented on #184
@artuoma
Okay, then:

- make it bigger (font-size: larger)
- Make it bold (font-weight: bold)
- Style it with a marker after, rather than before.
- Or replace the marker with a background image (good place for your SVGs)

[2022-01-21 00:13] kkoryaka commented on #184
@kkroon you are welcome to make your suggestions directly in Design System repo https://github.com/cagov/design-system since State Template is consuming this component from there, it would be good opportunity for you interact with and give your feedback directly to design system engineers.

[2022-01-21 00:14] artuoma commented on #184
@kkoryaka can you post the link to that component here?

[2022-01-21 00:27] aaronhans commented on #184
I think changing the markup to use the details & summary element would be an immediate improvement. Right now the behavior if the js doesn't load/execute is that it stays open and can't collapse so using those elements is a nice improvement.

@xjensen pointed out the open attribute being added to the details tag we can hang the animations on. We can experiment with this and see if we can figure ou

[2022-01-21 00:52] kkoryaka commented on #184
https://github.com/cagov/design-system/tree/main/components/accordion

[2022-02-11 23:02] kkoryaka commented on #185
This issue was fixed in 5.6.1 release. Closing the issue

[2022-02-11 23:02] #185 closed

[2022-02-11 23:03] kkoryaka commented on #165
This issue was fixed in 5.6.1 release. Closing the issue

[2022-02-11 23:03] #165 closed

[2022-02-11 23:04] kkoryaka commented on #140
This issue was fixed in 5.6.1 release. Closing this issue

[2022-02-11 23:04] #140 closed

[2022-02-11 23:04] kkoryaka commented on #139
This issue was fixed in 5.6.1 release. Closing this issue

[2022-02-11 23:04] #139 closed

[2022-02-11 23:48] kkoryaka commented on #137
@markaplet our engineers tested the newest accordion list component using NVDA. They went through those steps that you have provided. Their have found that opening an accordion heading and pressing down arrow reads the content. Let me know if your findings are different.

[2022-02-11 23:56] kkoryaka commented on #138
Our engineers checked the component and it's structure and they think that its structure looks good. Also, they have checked accessibility using NVDA and found that that opening an accordion heading and pressing down arrow reads the content. Let me know if your findings are different.

[2022-02-12 17:58] markaplet commented on #138
The component has been replaced / updated since the issue was reported ~10 months ago. For anyone using the old ~v5.5 template and looking to certify, the offending line is here: https://github.com/Office-of-Digital-Innovation/California-State-Template/blob/ae66630c8a045df890eeafc6f71f3e92c852d89f/sample/modules/accordion-list.html#L5

[2022-02-12 17:58] #138 closed

[2022-03-11 23:38] kkoryaka opened #189 "Update GA code"
- There is existing Google Analytics code in these two locations we’d like to update the code:
/js/search.js
Update code on line 7 from `UA-3419582-2` to `UA-20973992-30`
/ssi/analytics.html
Update code on line 2 from `id=GA_MEASUREMENT_ID` to `id= UA-20973992-30`
Add a comment before the opening `<script>` tag on line 2: `//update state department UA code in the line below before deployment`
Upda

[2022-03-11 23:43] kkoryaka opened #190 "Add line-hight property to the headings"
Add line-height property to the headings. Take example from CA Design System typography approach: https://designsystem.webstandards.ca.gov/style/design/#typography

[2022-03-11 23:54] kkoryaka opened #191 "Update site structure and rebuild framework to use 11ty site generation"
Restructure the website to use eleventy site generation and npm website build process
- Use rollup.js for JavaScript files generation
- Use npm sass builds for css files generation
- Replace server site includes with njk includes and templates
- Enable site to render markdown files in html
- Make sure site runs locally and watches files changes when using `npm run start` command

[2022-03-12 00:06] kkoryaka opened #192 "Update utility header include to look like design system"
Updated current utility header in beta to look like CA Design System statewide header. By modifying styles in src/scss/cagov/utility-header.scss file

![Screen Shot 2022-03-11 at 4 05 06 PM](https://user-images.githubusercontent.com/31669748/157994026-860a2d86-3d98-4ea2-bc1c-cf96d6bdb99d.png)

[2022-03-12 00:11] kkoryaka opened #193 "Update global footer in beta to look like CA Design System's statewide footer"
Update State Template global footer to look like Design System statewide footer by modifying styles in src/scss/cagov/gloobal-footer.scss file

![Screen Shot 2022-03-11 at 4 20 30 PM](https://user-images.githubusercontent.com/31669748/157994975-0a1428f2-c344-488c-9195-8eb49ea6cc00.png)

[2022-03-12 00:18] kkoryaka opened #194 "Update branding include in beta to look like CA Design System's site header"
Update branding include to have same look and feel as design system site header by modifying global-header.scss,
 - Create new scss file and call it site-header.scss
 - Take styles from global-header.scss, that are applicable to the branding include and put them into newly created site-header.scss
 - Modify styles and make branding elements to look like design system site header.

![Screen Shot 20

[2022-03-12 00:29] kkoryaka opened #195 "Replace site font in beta with Public Sans that is used by CA Design System"
Replace site font in beta with Public Sans that is used in CA Design System.
- Add Public Sans font family to the src/fonts/ folder
- Change font references in /scss/cagov/type.scss
- Make headings to look like Design System [headings](https://designsystem.webstandards.ca.gov/style/design/#typography).
- Make body font style to resemble the Design System
- Make the links underline property to rese

[2022-03-12 00:34] kkoryaka opened #196 "Make site navigation in beta to look like CA Design System"
Make site navigation in beta to look like CA Design System by modifying src/scss/cagov/navigation.scss styles.

![Screen Shot 2022-03-11 at 4 35 08 PM](https://user-images.githubusercontent.com/31669748/157995706-7a15d1c3-ee9e-4dd6-9863-735d7edd4d48.png)

[2022-03-12 00:47] kkoryaka opened #197 "Make search component in beta to look like CA Design System"
Make search component in beta to look like CA Design System by modifying src/scss/cagov/search.scss file
![Screen Shot 2022-03-11 at 4 45 04 PM](https://user-images.githubusercontent.com/31669748/157996313-95850f52-210c-4eaf-bcec-fdbc05f64026.png)

[2022-03-12 00:57] kkoryaka opened #198 "Create beta homepage prototype in figma"
Create a figma prototype for beta State Template homepage using design system header footer and navigation components. Feel free to update its layout content.

Current beta homepage: https://beta.template.webstandards.ca.gov/

[2022-03-12 01:03] kkoryaka opened #199 "Update accordion component in beta with the latest code from Design System"
Update accordion component in beta with the latest code from Design System
- Update styles in src/scss/cagov/accordion.scss
- Update JS code in scs/js/cagov/accordion.js
https://designsystem.webstandards.ca.gov/components/accordion/readme/

[2022-03-17 16:46] kkoryaka opened #200 "Remove Dreamweaver Templates page broken link from page layouts landing page"
Remove Dreamweaver Templates broken link from page layouts landing page (Remove Dreamweaver Templates page)

Broken link is found on this page:
https://template.webstandards.ca.gov/sample/layouts.html

Broken link:
https://template.webstandards.ca.gov/sample/dreamweaver-templates.html

[2022-03-17 16:50] kkoryaka opened #201 "Fix news blocks page layout bug"
Image news blocks section is messed up. It needs to be full width

![Screen Shot 2022-03-17 at 9 47 58 AM](https://user-images.githubusercontent.com/31669748/158851971-5ecb3a74-18e3-4540-a301-8d8256b92cc6.png)

[2022-03-17 16:52] kkoryaka opened #202 "Fix Course List page layout bug"
Course list page layout is messed up.

https://template.webstandards.ca.gov/sample/course-list.html

![Screen Shot 2022-03-17 at 9 53 01 AM](https://user-images.githubusercontent.com/31669748/158852736-4cb31c53-7b3e-42e2-ab83-808364ea92a0.png)

[2022-03-17 19:02] kkoryaka opened #203 "Fix broken link in layouts page"
Link to the Events page is broken. Curently it goes to https://template.webstandards.ca.gov/sample/layout-event.html
But it needs to go to https://template.webstandards.ca.gov/sample/layout-events.html

[2022-03-17 19:22] kkoryaka opened #204 "Fix general landing page layout"
Remove broken down carousel section (since we are discouraging state users using carousels)
https://template.webstandards.ca.gov/general-landing.html

![Screen Shot 2022-03-17 at 12 19 42 PM](https://user-images.githubusercontent.com/31669748/158879687-1ffef7f7-0fea-4222-a49b-0d5af1f5343b.png)

[2022-03-18 16:05] boubacarsbgmali commented on #183
Escadron

[2022-03-18 21:43] kkoryaka opened #205 "Review "Getting Started" page updated content"
Review and provide suggested edits for the Get Started page updated content: (in beta staging)
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/getting-started.html

Original page can be found here:
https://beta.template.webstandards.ca.gov/getting-started.html

[2022-03-18 21:46] kkoryaka opened #206 "Work with Azure DevOps team to change beta site staging output folder"
Work with Azure DevOps team to change beta staging website hosting root to new output folder

[2022-03-22 18:45] Courtney-Chittock opened #209 "Stacking order off on CDN page"
Open accordions cover the page header (issue seen in Chrome desktop with narrowed viewport).

![cdn-page](https://user-images.githubusercontent.com/99773875/159553184-28f7a7e6-f37d-4e92-96f3-cc2c3321bf5f.png)

[2022-03-24 15:31] #200 closed

[2022-03-24 15:32] #190 closed

[2022-03-24 15:32] #201 closed

[2022-03-24 15:32] #202 closed

[2022-03-24 15:32] #203 closed

[2022-03-24 15:32] #204 closed

[2022-03-24 15:33] #209 closed

[2022-03-25 15:27] kkoryaka opened #216 "Content design for "what's new" page"
Review and provide suggested edits for the Update page updated content: (in beta staging)
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/update.html

Original page to compare:
https://beta.template.webstandards.ca.gov/update.html

[2022-03-25 15:31] kkoryaka opened #217 "Review "Structure" page updated content"
Review and provide suggested edits for the Structure page updated content: (in beta staging)
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/structure.html

Original page to compare: https://beta.template.webstandards.ca.gov/structure.html

[2022-03-25 15:38] kkoryaka opened #218 "Review "Content Patterns" updated content"
Review and provide suggested edits for the Page Templates page updated content: (in beta staging)
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/page-templates.html

[2022-03-25 15:45] kkoryaka opened #219 "Update tabs component"
Update tabs component styles to resemble design system
![Screen Shot 2022-03-25 at 8 41 12 AM](https://user-images.githubusercontent.com/31669748/160153770-c9d09bae-5d79-41c3-8f28-2454e5ef3127.png)

Current tabs:
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/tabs.html

Design System tabs example: https://designsystem.webstandards.ca.gov/components/page-feedback/readme/

[2022-03-25 15:51] kkoryaka opened #220 "Add Feature Card component"
Create equivalent of Design System's Feature Card component

[[Call it Feature Card](https://designsystem.webstandards.ca.gov/components/feature-card/readme/)](https://designsystem.webstandards.ca.gov/components/feature-card/readme/)

Screenshot example:
![Screen Shot 2022-03-25 at 8 49 44 AM](https://user-images.githubusercontent.com/31669748/160155165-5731489e-9506-4112-bf12-d6e645a6f76d.png)

[2022-03-25 15:56] kkoryaka opened #221 "Add Link Grid component"
Create equivalent to Design System's Grid Link component
https://designsystem.webstandards.ca.gov/components/link-grid/readme/

Screenshot example:
![Screen Shot 2022-03-25 at 8 55 28 AM](https://user-images.githubusercontent.com/31669748/160156161-8afa25b8-215d-4959-8eb7-f2437dd75907.png)

[2022-03-25 16:02] kkoryaka opened #222 "Add Step List component"
Add step list component to the State Web Template that would resemble  Design System's Step List component

https://designsystem.webstandards.ca.gov/components/step-list/readme/

Screenshot example:
![Screen Shot 2022-03-25 at 9 01 09 AM](https://user-images.githubusercontent.com/31669748/160157213-d1a742f5-9fe1-4a5b-956a-58b5f9306055.png)

[2022-03-25 16:13] kkoryaka opened #223 "Update side navigation (template site)"
Update State Web Template side navigation style to resemble Design System side navigation

![Screen Shot 2022-03-25 at 9 09 48 AM](https://user-images.githubusercontent.com/31669748/160158678-5dd88048-abee-4a9e-b45c-e787d83b01a9.png)

Update side navigation styles and architecture based on figma examples:
![Screen Shot 2022-06-10 at 11 18 32 AM](https://user-images.githubusercontent.com/31669748/1

[2022-03-25 16:22] kkoryaka opened #224 "Add page navigation component"
Add equivalent to Design System's Page Navigation component
https://designsystem.webstandards.ca.gov/components/page-navigation/readme/

Screenshot Example:
![Screen Shot 2022-03-25 at 9 10 28 AM](https://user-images.githubusercontent.com/31669748/160160711-9df2fd6b-a1e5-4ee3-a88d-1813c6484fa7.png)

[2022-03-25 16:57] kkoryaka opened #225 "Add cagov color scheme"
Add new cagov color scheme and make it default
Here is Design System cagov the color samples:
https://designsystem.webstandards.ca.gov/style/design/#color

![Screen Shot 2022-03-25 at 9 57 12 AM](https://user-images.githubusercontent.com/31669748/160166673-26acd7ea-6bf1-403c-ab5b-de1937cbfa71.png)

[2022-04-06 18:56] ashleydraper opened #228 "Create content and design strategy"
Create a document outlining the goal, success metrics and messaging needed for a successful final release of the state template.

[2022-04-06 18:58] ashleydraper commented on #228
A first draft of the [content and design strategy document](https://docs.google.com/document/d/1vC5nLrN5XT45N7gjKfDEeO0LJDaGRoxsRaSKUaVKJ-g/edit#) is ready for review. If all is well, we can close out this issue.

[2022-04-11 18:00] eric-miller-cdfw opened #231 "v5.6.2 CSS has absolute /fonts/foo.ext URL's for some fonts"
In the version 5.6.2 state template release, if folders are not located at the root of the website, several fonts fail to load because they are referenced in the CSS files using the absolute path /fonts/foo.ext instead of the relative path ../fonts/foo.ext.

[2022-04-11 20:29] #228 closed

[2022-04-11 20:39] yesenia-gtz opened #232 "Information Architecture and Content flow (State Template 6.0)"
**State Template 6.0 Content & Design Strategy needs**
- [x] Restructure information architecture
- [x] Align component pages to Design System
- [ ] Audit all content pages

Success criteria:
- Content is written in plain language
- The site structure is easy to navigate and is user friendly

**COMPLETION TARGET:**
 4/20/2022

[2022-04-13 14:34] ashleydraper commented on #232
@artuoma @yesenia-gtz We are still finalizing copy for the menu names, but after meeting with Kon, we've landed on the IA represented in the upper far right of this [lucid board](https://lucid.app/lucidchart/dd496664-627a-4e71-b330-9a10a596ea79/edit?invitationId=inv_52a2808a-e70d-4155-9193-5cf2aaaa3573&page=0_0#).
Let me know if we should meet, otherwise, Courtney and I will continue on this path.

[2022-04-13 14:37] ashleydraper commented on #232
For the content audit, we can use this [state template 6.0 google folder](https://drive.google.com/drive/u/3/folders/1fLv2GDW_X3OCx4MkthWabGvJnH_INIOn) where all google staging docs are housed.

[2022-04-13 19:55] yesenia-gtz commented on #232
@ashleydraper @Courtney-Chittock  thank you for putting the IA together, this is fantastic! Continue on :)

[2022-04-14 20:55] ashleydraper commented on #232
With @artuoma and @yesenia-gtz's blessings, @Courtney-Chittock and I are moving ahead with our [proposed IA](https://lucid.app/lucidchart/dd496664-627a-4e71-b330-9a10a596ea79/edit?invitationId=inv_52a2808a-e70d-4155-9193-5cf2aaaa3573&page=0_0#).
By virtue of merging certain pages together, and re-designing all of the content, we'll be able to address the content audit concurrently.

[2022-04-15 15:36] extinah commented on #232
Great :) Other than a sneak peek, would love a tour sometime. Looks wonderful!

[2022-04-15 16:55] ashleydraper commented on #232
@extinah You got it! I'll be sure to invite you to our next discussion.

[2022-04-15 22:20] eric-miller-cdfw commented on #231
#234 - Pull request to fix the font path issue.

[2022-04-21 15:55] kkoryaka opened #245 "Update back-to-top component to look like Design System"
![Screen Shot 2022-04-21 at 8 53 15 AM](https://user-images.githubusercontent.com/31669748/164501302-32842872-f1e0-44d3-9ac1-f933bbe81520.png)
![Screen Shot 2022-04-21 at 8 53 30 AM](https://user-images.githubusercontent.com/31669748/164501329-0ae190b7-653e-4806-a365-2d1f9abe35a9.png)

[2022-04-21 17:07] kkoryaka opened #246 "Align buttons look and feel with Design System look and feel"
Adjust State Web template's buttons styles and states to go in line with design system buttons styles and states.
![Screen Shot 2022-04-21 at 10 05 11 AM](https://user-images.githubusercontent.com/31669748/164513863-6255aaad-9894-4a82-8449-124eb0b8d52e.png)

[2022-04-21 23:29] kkoryaka opened #249 "Add missing components pages"
Add following pages into beta repository (add necessary includes that are used by these page into modules folder).
info-blocks.html
featured-narrative.html
figure.html
form.html
gradient-backgrounds.html
horizontal-rules.html

[2022-04-22 22:48] kkoryaka commented on #223
Added page navigation sample page in beta staging https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/page-navigation.html

[2022-04-25 15:38] kkoryaka opened #253 "Add components list navigation on every component page"
Add components list navigation that will list all the components on every component page similar to how the  CA Design System has it.
![Screen Shot 2022-04-25 at 8 37 24 AM](https://user-images.githubusercontent.com/31669748/165123605-b2cbe7eb-829e-4f35-8a74-10473362b20d.png)

[2022-04-26 21:34] ashleydraper commented on #232
4/19- Conducted user interview with Mike Adams from EDD

- Noted that external folks can only access legacy site
- Never clicked on "getting started" (maybe the very first time visiting the site, but never again)
- Returning end users already know what they are doing, they tend to move toward "what's new" very quickly
- Feel no need to click "getting started" as that is more beginner content

[2022-05-03 19:11] kkoryaka commented on #220
Notify @ashleydraper when it's done

[2022-05-03 19:12] kkoryaka commented on #222
Notify @ashleydraper when it's done

[2022-05-03 19:12] kkoryaka commented on #221
Notify @ashleydraper when it's done

[2022-05-04 21:03] kkoryaka commented on #199
@Courtney-Chittock I have updated focus state. Please review in staging: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/accordions.html

[2022-05-04 21:12] Courtney-Chittock commented on #199
@kkoryaka you're a genius! This looks amazing. I am signing off. What is the next step to making this a component?

[2022-05-04 21:29] kkoryaka commented on #199
@Courtney-Chittock next step would be to bring this update to the Design System. We will move forward with this one on Beta, I will add this issue to the QA column in our board.

[2022-05-04 23:44] kkoryaka opened #272 "Redesign badge element, so it doesn't look like button"
Current badge:
![Screen Shot 2022-05-04 at 4 42 36 PM](https://user-images.githubusercontent.com/31669748/166842467-a7e9000c-cb9b-4fa8-8270-acd0465b42a1.png)

Proposed:
![Screen Shot 2022-05-04 at 4 41 47 PM](https://user-images.githubusercontent.com/31669748/166842479-f54339e6-b227-46ac-a261-d277e732aa2d.png)

[2022-05-06 00:24] kkoryaka commented on #225
@Courtney-Chittock  I have added side navigation to the color scheme pages and added swatches to the color scheme landing page. So, it should be easy for user to go between them.
![Screen Shot 2022-05-05 at 5 18 02 PM](https://user-images.githubusercontent.com/31669748/167047193-821a4f9f-a718-4f1b-a777-53505b1e025a.png)

Here is beta staging link for your review, I still need to add CA,gov color s

[2022-05-06 18:42] kkoryaka opened #279 "Update main navigation based on latest content architecture revision"
Update main navigation based on latest figma wireframe:
https://www.figma.com/file/MqZcuRodjzKf03BTnQw2KS/Beta-Redesign-Sandbox

Make it single level, but keep old flex menu in the examples.

![Screen Shot 2022-05-06 at 11 40 38 AM](https://user-images.githubusercontent.com/31669748/167198848-4156359a-0b36-4101-89eb-bfcc9abb02a0.png)

[2022-05-06 18:49] kkoryaka opened #280 "Create new Visual Design landing page that will combine content from Typography, Color Schemes, and Icons pages"
Combine content from typography, color schemes and icons pages into one Visual Design page. For icons section make some intro text and the link to separate icons page.

Add "On this page" page navigation with anchors to Typography, Color Schemes and Icons sections

[2022-05-06 18:52] kkoryaka opened #281 "Update Getting Started page content and flow"
Update content based on figma prototype
https://www.figma.com/file/MqZcuRodjzKf03BTnQw2KS/Beta-Redesign-Sandbox?node-id=4%3A33

[2022-05-06 18:54] kkoryaka opened #282 "Update "Template Updates" page content"
Update  "Template Updates" content and flow based on figma wireframe:
https://www.figma.com/file/MqZcuRodjzKf03BTnQw2KS/Beta-Redesign-Sandbox?node-id=4%3A34

[2022-05-10 22:20] kkoryaka commented on #282
Use updates from this doc: https://docs.google.com/document/d/15_Qr6ahAbD_L4S-pnl8707AWRRRsS8RZI3EAeFKGRbM/edit#heading=h.c8f4g69ygif0

[2022-05-12 00:31] kkoryaka commented on #282
@ashleydraper  Please check updated page. I did my part. You can massage the language and make it sound good now: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/update.html

[2022-05-12 22:19] kkoryaka commented on #281
@ashleydraper I have updated Get Started page in staging. It is all yours now:
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/getting-started.html

[2022-05-12 22:20] kkoryaka commented on #280
@ashleydraper @Courtney-Chittock I have created new visual design landing page in staging. Please review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design.html

[2022-05-12 22:22] kkoryaka commented on #279
@Courtney-Chittock site navigation is now updated accordion to the figma. Please review in staging: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/

[2022-05-12 23:12] kkoryaka opened #293 "Redesign navigation samples landing page"
1. Add schematic images (or actual screenshots) under each navigation option to show users the basic idea of those navigation options.
2. Update side navigation on each navigation sample page, so it is showing only navigation links.
3. Add text on each nav sample page that letting users know that that particular navigation sample page is using actually using that particular navigation option.

[2022-05-12 23:17] kkoryaka commented on #217
@ashleydraper This page is moved into Get Started page. Closing the issue.

[2022-05-12 23:17] #217 closed

[2022-05-13 17:26] Greg-Watanabe commented on #222
@ashleydraper This is done:
https://github.com/Office-of-Digital-Innovation/California-State-Web-Template/tree/6.0.8-steplist-222

[2022-05-13 19:01] ashleydraper commented on #282
@kkoryaka
![image](https://user-images.githubusercontent.com/62437425/168367314-fb8ee2fd-4c04-4b97-a27c-7708e6a90f2b.png)

[2022-05-16 15:48] ashleydraper commented on #217
I see the movement. Okay, thanks for the update @kkoryaka

[2022-05-17 22:33] rasmi opened #298 "Licensing and use?"
Hi, is there anywhere that the project documents terms around licensing or use of code or other resources? I would like to include some of the SVG icons in a project and could not find a clear answer in the repository. Thanks!

[2022-05-17 22:49] Courtney-Chittock opened #299 "Develop Components landing page"
- Develop Components landing page shown on [project Figma board](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=0%3A1).
- Work with Courtney to finalize side nav design.
- Design graphics for various component cards. (Update existing Accordions graphic to reflect new design.)

[2022-05-17 23:35] kkoryaka commented on #298
Makes total sense, we will add general public license to this project in our next release.

[2022-05-18 00:44] kkoryaka opened #300 "Create new accordion side navigation that will resemble Design System"
Create side expandable menu that would resemble Design System side navigation

[2022-05-18 00:57] rasmi commented on #298
Thank you! I did eventually see on the website (under the [Ownership section here](https://template.webstandards.ca.gov/use.html)) that the resources are available in the public domain. USWDS licenses their code specifically as such [in their repo](https://github.com/uswds/uswds/blob/d3f7adff47b97c11a7232f818d2e684136defef3/LICENSE.md#the-rest-of-this-project-is-in-the-worldwide-public-domain), wh

[2022-05-19 16:32] ashleydraper commented on #232
Full component list:
[Accordions](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/accordions.html)
[Alert Banner](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/alert-banner.html)
[Banner](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/large-header-banner.html)
[Breadcrumb](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azureweb

[2022-05-19 16:37] Courtney-Chittock commented on #232
All **Navigation** items are on a separate webpage.
Nothing under **CSS Units** is a component, and those items are already on separate webpages or will need to be integrated where appropriate if I missed them during the initial layout.
If we want to consider putting everything under Components we will likely need to get some other experts in the room.

[2022-05-19 16:43] ashleydraper commented on #232
I copied this list from our [beta staging environment](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/accordions.html)- this may need some updating for sure.
Nevertheless, I've never been supportive of a page titled "navigation" in our nav menu. These components are very different from the navigation components in the design system, but I do appreciate them under the "compo

[2022-05-19 20:03] ashleydraper commented on #232
@kkoryaka Will you please add Koji and Blaine to this repo? They should be assigned to this issue.

[2022-05-19 22:47] ashleydraper commented on #222
@kkoryaka I don't see the step list as pictured above on the "[what's new](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/getting-started.html)" page in dev. Can you point me to where this was done? Like what page?

[2022-05-20 18:32] ashleydraper commented on #232
@kkoryaka The **[accordion component](https://docs.google.com/document/d/11GtQjhuwab5f0Xw-t1ksxuKhaKMzjhXBtEuNYbQ3yrk/edit#heading=h.w5y788277lx5)** has been reviewed. Let's more to staging.

[2022-05-24 19:12] kkoryaka commented on #222
@ashleydraper it is this page: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/update.html
If you still don't see step list make hard refresh so new css is loaded into your cache,

[2022-05-26 15:47] kkoryaka opened #305 "Add component illustrations on component, patterns, css units pages"
- Create illustration (icon) for each available component, content pattern, and css unit
- Create cards with those illustration inside of components and content pattern landing pages and link those cards to each corresponding component or content pattern page.
- Add short  description for each component/pattern into those cards.

Screenshot example:
![Screen Shot 2022-05-26 at 8 43 23 AM](https://

[2022-05-26 17:05] kkoryaka opened #306 "Update structure landing page to include structural components samples and code"
- Redesign structure page to include illustration for each structural component and add short description to each (see wireframe below)
- Create separate pages for each structural component:
    - Utility header
    - Settings
    - Site header
    - Mobile Controls
    - Site Navigation (this landing page already exists)
    - Search
    - Global Footer

- Work with @Courtney-Chittock  on design

[2022-05-26 18:21] Courtney-Chittock commented on #280
Initial [Figma mockup](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=165%3A6596) is completed and reviewed by larger project team. Assigning to Ashley for content before moving to development.

[2022-05-26 18:23] Courtney-Chittock commented on #306
@kkoryaka please hold for design mockup from me as discussed in yesterday's meeting.

[2022-05-26 18:30] Courtney-Chittock opened #307 "Design graphics for homepage and main landing pages"
Homepage and graphics will come last in the design and content flow.

[2022-05-26 18:41] Courtney-Chittock opened #308 "Create Figma boards for enhanced functionality"
As part of an effort to modernize CDT web products and improve the user experience, several functionality enhancements will be requested for this project:

- Enhanced side navigation
- Copy code button
- Icon use examples
- Icon menu and pagination
- Component search
- Icon search
- Expand code button (only for large blocks of code)

Courtney will create Figma mockups with developer notes, present

[2022-05-27 18:21] kkoryaka commented on #300
@Courtney-Chittock IS WORKING ON ENHANCED FUNCTIONALITY AND DOCUMENTATION

[2022-05-27 18:37] kkoryaka commented on #232
@ashleydraper separate this issue into separate issue for each page

[2022-05-27 19:39] ashleydraper commented on #232
Archiving this issue. Look to component-specific issues for granular detail and tracking through the approval process.

[2022-05-27 19:39] #232 closed

[2022-05-27 19:41] ashleydraper opened #311 "Component content audit [accordion]"
Submitted the following email-

To: Koryaka, Konstantin@CIO <Konstantin.Koryaka@state.ca.gov>; Wasylkiw, Blaine@CIO <blaine.wasylkiw@state.ca.gov>
Cc: Khomishen, Artem@CIO <Artem.Khomishen@state.ca.gov>; Koryaka, Konstantin@CIO <Konstantin.Koryaka@state.ca.gov>; Chittock, Courtney@CIO <courtney.chittock@state.ca.gov>; Gutierrez, Yesenia@CIO <yesenia.gutierrez@state.ca.gov>
Date: 5/19/22
Subject: S

[2022-05-27 19:47] ashleydraper commented on #311
The [accordion component](https://docs.google.com/document/d/11GtQjhuwab5f0Xw-t1ksxuKhaKMzjhXBtEuNYbQ3yrk/edit#heading=h.xv7rpjtvd3w5) has been reviewed/approved and is current in Figma. Assigning to @Courtney-Chittock for any needed design updates before sharing with dev.

[2022-05-27 19:53] ashleydraper opened #312 "Component content audit [alert banner]"
<<This email was shared seeking feedback/ approval>>

To: Kumpulainien, Koji@CIO <koji.kumpulainien@state.ca.gov>; Khomishen, Artem@CIO <Artem.Khomishen@state.ca.gov>
Cc: Wasylkiw, Blaine@CIO <blaine.wasylkiw@state.ca.gov>; Gutierrez, Yesenia@CIO <yesenia.gutierrez@state.ca.gov>; Chittock, Courtney@CIO <courtney.chittock@state.ca.gov>; Koryaka, Konstantin@CIO <Konstantin.Koryaka@state.ca.gov>
Date

[2022-05-27 20:15] Courtney-Chittock opened #313 "New Feature: Dynamic icon examples"
Add dynamic icon examples feature so users can see the ways icons can be used in the template.
[Feature mockup](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=203%3A3301)

Main audience: web designers and content owners
Secondary audience: developers
Location: In the Icons section of the redesigned Visual Design page. [See Figma mockup](https://www.figma.com/fi

[2022-05-27 20:16] ashleydraper commented on #299
[Components landing page content staging document](https://docs.google.com/document/d/1EV1vr5HskpNkl9S-Zsq_55JxkvQONiJrb-GDzxEt6aQ/edit#).

[2022-05-27 20:29] Courtney-Chittock opened #314 "New Feature: Copy code button"
Add "copy code" button so users can easily copy code with one click.
[Feature mockup](https://www.figma.com/file/Vt2Y8p4mXyzDNqT69KIb6H/Courtney's-Sandbox?node-id=340%3A2773)

Main audience: web developers
Location: Below all source code containers. [See Figma mockup](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=203%3A2823).

[2022-05-31 22:09] Courtney-Chittock commented on #311
@ashleydraper I made a few small recommendations on the [source doc](https://docs.google.com/document/d/11GtQjhuwab5f0Xw-t1ksxuKhaKMzjhXBtEuNYbQ3yrk/edit#). Once we finalize that text and true up the Figma board this is good for dev.

[2022-06-01 16:12] kkoryaka opened #316 "Create new Mobile Controls structural component page"
Create new Mobile Controls page that showcases specifics how to use Mobile Controls structural component

- Add side navigation with list of other structural component pages.
- Add breadcrumbs that link to structure.html landing page
- Add Component description section
- Add When and How to use it section
- Add Demo section with following tabs section:
    - Example (screenshot of the component)

[2022-06-01 16:22] kkoryaka opened #317 "Create new Search structural component page"
Create new Search component page that showcases specifics how to use Search structural component

- Add side navigation with list of other structural component pages.
- Add breadcrumbs that link to structure.html landing page
= Add Component description section
= Add When and How to use it section
= Add Demo section with following tabs section:
    - Example (screenshot of the component)
    - HTM

[2022-06-01 16:23] kkoryaka opened #318 "Create new Settings structural component page"
Create new Settings component page that showcases specifics how to use Settings structural component

- Add side navigation with list of other structural component pages
- Add breadcrumbs that link to structure.html landing page
= Add Component description section
= Add When and How to use it section
= Add Demo section with following tabs section:
    - Example (screenshot of the component)
    -

[2022-06-01 16:26] kkoryaka opened #319 "Create new Site Header structural component page"
Create new Site Header component page that showcases specifics how to use Site Header structural component

- Add side navigation with list of other structural component pages.
- Add breadcrumbs that link to structure.html landing page
= Add Component description section
= Add When and How to use it section
= Add Demo section with following tabs section:
    - Example (screenshot of the component)

[2022-06-01 16:29] kkoryaka opened #320 "Create new Utility Header structural component page"
Create new Utility Header component page that showcases specifics how to use Utility Header structural component

- Add side navigation with list of other structural component pages.
- Add breadcrumbs that link to structure.html landing page
= Add Component description section
= Add When and How to use it section
= Add Demo section with following tabs section:
    - Example (screenshot of the comp

[2022-06-01 22:05] Courtney-Chittock commented on #272
@kkoryaka I like the direction you are going in. Two recommendations:
1. Keep "Note:" text the same size as the paragraph text. That way, people who can't perceive the highlight color will still see the bolded text, and the text won't appear smaller than the surrounding text (which can deemphasize it).
2. Use an Oceanside color to highlight the text so it stands out more to users who can perceive

[2022-06-01 22:41] Courtney-Chittock commented on #272
@rkojik it's more of a highlight? But yes, it's not quite like, say, social media badges. My main concern was that it looked like a button before. Open to ideas for renaming.

[2022-06-01 22:48] rkojik commented on #272
Yeah, the example is more of a highlight or emphasis—and the clicky-ness is a common problem with traditional badges as well. I think the general fix is to give it a larger border radius than the buttons, so to make it more of a 'pill' shape (for visual users, that is).

[2022-06-02 20:45] ashleydraper commented on #312
Content is ready for dev. Follow the **[accordion design](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=203%3A2786)** in Figma for layout. See Courtney for design of example section.

Cc: @Courtney-Chittock

[2022-06-03 15:52] ashleydraper opened #323 "Component content audit [breadcrumb]"
<<This email was shared seeking feedback/ approval>>

To: Kumpulainien, Koji@CIO koji.kumpulainien@state.ca.gov; Khomishen, Artem@CIO Artem.Khomishen@state.ca.gov
Cc: Wasylkiw, Blaine@CIO blaine.wasylkiw@state.ca.gov; Gutierrez, Yesenia@CIO yesenia.gutierrez@state.ca.gov; Chittock, Courtney@CIO courtney.chittock@state.ca.gov; Koryaka, Konstantin@CIO Konstantin.Koryaka@state.ca.gov
Date: 5/24/22

T

[2022-06-03 16:10] kkoryaka opened #324 "Update breadcrumbs component to resemble figma mockup"
- Update breadcrumbs component to resemble figma mockup
- Create dynamic eleventy breadcrumbs include in State Template layouts
![Screen Shot 2022-06-03 at 9 10 02 AM](https://user-images.githubusercontent.com/31669748/171904104-7e6097d9-c8a4-4f41-bc64-be324fff08f4.png)

[2022-06-03 16:31] ashleydraper opened #325 "Component content audit [blockquote]"
Draft in progress for the **[blockquote component](https://docs.google.com/document/d/1a4MKyUL_jrWf_YAIa9zC0HJORtH3bXDgb7AKz_KTOp8/edit#heading=h.z68m2zuis6an)**.

[2022-06-03 17:36] Courtney-Chittock commented on #308
The Figma boards are ready for review. I will try to present in the tracker meeting later today.

[2022-06-03 18:17] ashleydraper opened #326 "Component content audit [countdown-timer]"
Draft in progress for the **[countdown component](https://docs.google.com/document/d/1Vas40gy7wU29TzJ5Jxc7_NN-aCMJEIIEupck-gtPak0/edit#heading=h.xv7rpjtvd3w5)**.

[2022-06-03 18:18] ashleydraper opened #327 "Component content audit [button]"
Draft in progress for the **[button component](https://docs.google.com/document/d/1fM8IxV0FZEcsxALCUsZydqSz1U5SZre6Jpf04pfpdT8/edit#heading=h.xv7rpjtvd3w5)**.

[2022-06-03 18:35] ashleydraper commented on #323
[Breadcrumb content](https://docs.google.com/document/d/1he_wH2H_59JmuOXfTJuXDANV5bofqRmFFCl5O6UpqxM/edit#) is ready for dev. Follow the [accordion design](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=203%3A2786) in Figma for layout. See Courtney for design of example section.

Cc: @Courtney-Chittock

[2022-06-06 21:22] ashleydraper opened #332 "Pattern content audit [banner]"
Merge the large hero banner component with the hero info pattern.

[2022-06-06 21:33] ashleydraper commented on #332
**Current content in production**

- [Large hero banner] (https://template.webstandards.ca.gov/sample/large-header-banner.html)
- [Hero info](https://template.webstandards.ca.gov/sample/hero-info.html)

**Staged content**

- [Large hero banner](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/large-header-banner.html)
- [Hero info]9https://as-cdt-pub-migr-betaws-ww-p-001-stag

[2022-06-06 21:37] ashleydraper opened #333 "Pattern content audit [blurb]"

[2022-06-06 23:22] ashleydraper commented on #216
[What's new content staging document](https://docs.google.com/document/d/15_Qr6ahAbD_L4S-pnl8707AWRRRsS8RZI3EAeFKGRbM/edit)

[2022-06-06 23:29] ashleydraper opened #334 "Enhance the "button" component by including code to stop users from accidentally sending information more than once."
Brilliant enhancement to the [button component](https://design-system.service.gov.uk/components/button/) that has been researched and modeled by GOV.UK.

**Stop users from accidentally sending information more than once**

Sometimes, users double click buttons because they:

have used operating systems where they have to double click items to make them work
are experiencing a slow connection which

[2022-06-07 20:07] kkoryaka commented on #324
![Screen Shot 2022-06-07 at 1 06 12 PM](https://user-images.githubusercontent.com/31669748/172472846-4254fc38-9db9-4416-89eb-fcd3e3516e11.png)

[2022-06-07 21:01] kkoryaka commented on #324
@Courtney-Chittock Assigning it to you for review.

[2022-06-07 21:20] kkoryaka commented on #220
@Courtney-Chittock please review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/feature-card.html

[2022-06-07 21:22] kkoryaka commented on #221
@Courtney-Chittock please review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/link-grid.html

[2022-06-07 21:35] Courtney-Chittock commented on #324
@kkoryaka are you able to set up a test page with a really long string of crumbs so I can assess the behavior on various screen sizes?

[2022-06-07 21:48] kkoryaka opened #337 "Create current/active styles for main navigation"
- Create active/current state for main navigation.
- Add JS logic or code that adds current or active class to the nav item if that page URL is currently open or sub page of that nav item is currently open.

![Screen Shot 2022-06-07 at 2 48 00 PM](https://user-images.githubusercontent.com/31669748/172488638-7fd55137-558c-452b-ba06-7a458907770e.png)

[2022-06-07 23:22] kkoryaka commented on #272
@Courtney-Chittock  I have renamed badge class to text-highlight. And added your variations to this css units page: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/text-accent.html

[2022-06-08 00:27] ashleydraper commented on #327
This [button component](https://docs.google.com/document/d/1fM8IxV0FZEcsxALCUsZydqSz1U5SZre6Jpf04pfpdT8/edit#heading=h.xv7rpjtvd3w5)draft is complete and ready for review.

**Please keep edits in track changes**

Cc: @Courtney-Chittock @artuoma @yesenia-gtz

[2022-06-08 18:53] #272 closed

[2022-06-10 18:44] Courtney-Chittock opened #340 "New Feature: Icon menu and pagination"
Add a mini menu and pagination feature so users can find available icons in the template.
[Feature mockup](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=268%3A2757)

Main audience: web designers and developers
Secondary audience: content owners
Location: In the Icons section of the redesigned Visual Design page. [See Figma mockup](https://www.figma.com/file/pG

[2022-06-10 18:53] Courtney-Chittock opened #341 "New Feature: Icon search"
Add targeted icon search feature so users can find available components in the template.
[Feature mockup](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=268%3A2889)

Main audience: web designers and developers
Secondary audience: content owners
Location: In the Icons section of the redesigned Visual Design page. [See Figma mockup](https://www.figma.com/file/pGK

[2022-06-14 23:53] kkoryaka commented on #223
@Courtney-Chittock Updated side nav styles and added sticky property to it. Please review

[2022-06-15 19:45] Courtney-Chittock opened #350 "Improve tab panel mobile behavior"
Currently on mobile tab panels collapse into accordion-style boxes but without accordion styling to tell users the boxes can be expanded and collapsed.

![image](https://user-images.githubusercontent.com/99773875/173904149-abecb6bf-b195-47f7-aca8-756b82ee67b1.png)

To increase affordance and usability of expand/collapse functionality:

- Add carat on the left of the label similar in styling and fu

[2022-06-16 19:25] Courtney-Chittock commented on #305
@kkoryaka Please see [these Figma boards](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=389%3A3215) with my feedback on the illustrations.

[2022-06-16 19:41] Courtney-Chittock commented on #220
@kkoryaka the feature card is not stacking correctly in mobile.
![image](https://user-images.githubusercontent.com/99773875/174151298-0b5e7752-0cbc-4bdb-81e5-0df39c2f093c.png)

Also, we should smooth out the layout for some of these transitional widths, where the narrower columns make the content look very awkward:
![image](https://user-images.githubusercontent.com/99773875/174151427-3cb7678d-e107

[2022-06-16 23:41] #333 closed

[2022-06-16 23:46] ashleydraper opened #351 "Component content audit [card]"
Merge blurb variants and feature card into one card pattern.

- [Card google staging doc](https://docs.google.com/document/d/1mGaXH57kXyLGFcXOnCt8cxa91zeHimBlxC9rq8NIfcA/edit#)
- [Blurb pattern](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/blurbs.html) in dev
- [Feature card](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/feature-card.html) in dev

[2022-06-20 18:11] ashleydraper commented on #216
Posted question to engineering team in [slack](https://cadotgov.slack.com/archives/C01VC9U82H1/p1655339502232099) about how best to communicate steps that speak to comparing ones current version of the state template to the latest version.

Recommendation to have clearer upgrade instructions in the changelog or release **notes.** Could follow the [Spectrum Design System](https://spectrum.adobe.com

[2022-06-20 18:13] kkoryaka commented on #324
@Courtney-Chittock I can show you how you can add more text by using dev tool.

[2022-06-20 18:17] kkoryaka commented on #350
@Courtney-Chittock figma prototype would be nice, but I think I can figure it out without it.

[2022-06-20 19:31] Courtney-Chittock commented on #350
@kkoryaka I'm open to your design input on this.

[2022-06-20 20:16] Courtney-Chittock commented on #324
@kkoryaka I was able to add links in the browser editor. The breadcrumbs look like they do in the Design System Figma board. I think we are good to close this out.

[2022-06-20 21:43] Courtney-Chittock commented on #223
@kkoryaka please see feedback in items 18-25 on the Google sheet [Developer Feedback tab](https://docs.google.com/spreadsheets/d/11j0r3flPCG5wvpa5flClG8x5-e0ZxROl-HQoaTkSsNM/edit#gid=156389168).

[2022-06-20 22:50] ashleydraper opened #352 "Create content standards"
Starting with "Figures with Caption," create web standards for basic/ elemental topics.

[2022-06-20 23:48] kkoryaka commented on #221
@Courtney-Chittock good feedback. Will do that.

[2022-06-20 23:50] kkoryaka commented on #220
@Courtney-Chittock.  Makes sense. Thanks

[2022-06-21 21:39] ashleydraper commented on #351
During the discussion on 6/20/2022, the team decided to label "card" as a component and not pattern within the state template.
We will display this component in its simplest form (i.e. card container with short description), and remove compounding elements that would suggest a pattern.

This component is now with @artuoma and @extinah for review. Feedback has been requested by COB 6/24/2022.

[2022-06-23 16:52] zakiya opened #354 "Missing .svg files in /images/icons folder"
The [State Web Template Icons folder](https://github.com/Office-of-Digital-Innovation/California-State-Web-Template/tree/5.6.2/images/icons) is missing following icons that are in the CaWeb font:

- accessibility
- agriculture
- air-pollution
- air-quality
- air

It seems they were never copied over when the folder changed from [source/icons](https://github.com/Office-of-Digital-Innovation/Califor

[2022-06-23 17:30] zakiya opened #355 "Feature request: Icons only repo"
It would be great if there were an npm package or github repo that only contained the following:

`/images/icons/*.svg`
`/fonts/CaGov.*`

These are the files that are used as the source for the [Icons component on the design system](https://designsystem.webstandards.ca.gov/components/icons/readme/)

ODI would rather not use the entire State Web Template as a dependency because it uses gulp which h

[2022-06-23 20:44] kkoryaka commented on #355
What about cdn location? Will it work? https://california.azureedge.net/cdt/statetemplate/5.6.2/fonts/selection.json for example.

[2022-06-23 20:53] kkoryaka commented on #354
@zakiya added those to beta-dev branch which will later be published to the beta prod site which eventually will become the production.

[2022-06-23 21:31] kkoryaka commented on #350
@Courtney-Chittock I have added mobile behavior to the tabs.
![Screen Shot 2022-06-23 at 2 30 58 PM](https://user-images.githubusercontent.com/31669748/175405870-954f5241-d787-4f35-90f1-de614a5091c5.png)

[2022-06-24 17:38] zakiya commented on #354
@kkoryaka One other minor request! Can you change the I in share-**I**nstagram to lower case? :)

[2022-06-24 19:35] zakiya commented on #355
I like the idea of an npm package because of version tracking and the fact that we're already using that ecosystem. Originally I was using the CDN version of the font. I changed that for the next design system release because of some of security notices.

But it occurs to me ODI could just publish the files in question as a npm repo under the @cagov npm organization. I'm out next week and will rev

[2022-06-25 16:18] kkoryaka commented on #337
@Courtney-Chittock  please review

[2022-06-27 22:27] kkoryaka commented on #312
@ashleydraper this is now updated in staging. Please review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/alert-banner.html

[2022-06-27 23:33] kkoryaka commented on #221
@Courtney-Chittock margin bottom should be now fixed. Also, I removed the going to the top behavior when you click on the link. (I think adding overlay with how to link to outside page is overkill, it will add a lot of extra code but I don't see a lot of value in it because every developer should know how to add url to a  link) https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample

[2022-06-27 23:34] kkoryaka commented on #220
@Courtney-Chittock this one should be fixed: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/feature-card.html

[2022-06-27 23:35] kkoryaka commented on #305
@Courtney-Chittock I have updated illustrations on components, templates, css units, structure and navigation samples pages

[2022-06-28 00:12] kkoryaka opened #376 "Add copy, paste and cut icons to the CAGov font library"
Add new copy, paste and cut icons to the CAGov font library
Example:
![icons](https://user-images.githubusercontent.com/31669748/176060371-f33d9837-16e9-42cc-94c5-6d79f93a3707.jpg)

[2022-06-29 16:17] Courtney-Chittock commented on #220
@kkoryaka the stacking order looks good. The other issues remain. Maybe we can discuss at a Design System meeting?

[2022-06-29 16:28] Courtney-Chittock commented on #221
@kkoryaka the margin looks good. The link behavior is good, One additional small improvement we can make is to increase the space to the left of the carat so the label text isn't getting so close to it at certain widths.

![image](https://user-images.githubusercontent.com/99773875/176487924-a15a40a2-98d2-49ce-a34b-4d396fb8edad.png)

[2022-06-29 17:27] clhenrick opened #379 "Sass variables for Bootstrap v4 breakpoints are incorrect"
The [Sass/SCSS variables for Bootstrap 4's breakpoints](https://github.com/Office-of-Digital-Innovation/California-State-Web-Template/blob/master/source/scss/variables.scss#L386-L391) are different that what are [specified in the Bootstrap v4.x docs](https://getbootstrap.com/docs/4.6/layout/grid/#grid-options).

The Sass variables in this codebase appear to reference some values in the docs for br

[2022-06-29 17:33] Courtney-Chittock commented on #305
@kkoryaka this is looking good. Please address the following feedback:

- Make sure all graphics are the same total size. (In the sample selection on the right, sizes are not consistent).
- Make Accordion graphic smaller on grey background; it is not a full-page component.
- Update Blockquote to resemble actual SWT blockquote design.
- Make Table graphic smaller on grey background; it is not a ful

[2022-06-30 18:50] ashleydraper commented on #220
The specific bug identified in this issue appears to be fixed. Recommend we close the issue.

[2022-06-30 19:19] ashleydraper commented on #323
@kkoryaka Looks great! Just a couple things to note.

1. The "demo and source code" H2 heading should be updated to "sample"
![image](https://user-images.githubusercontent.com/62437425/176759185-f9a0aa66-1cf6-4db9-9d05-0999326b5a5b.png)

2. Please add a break (make new paragraph) in the "how not to use it" section.
![image](https://user-images.githubusercontent.com/62437425/176760066-409a5b73-0f83

[2022-06-30 20:03] ashleydraper commented on #312
@kkoryaka Please review these edits-
![image](https://user-images.githubusercontent.com/62437425/176767864-2f2d9296-b579-41a9-8e47-f67a8ca6da70.png)

[2022-06-30 20:27] ashleydraper commented on #312
@kkoryaka Please review these edits
![image](https://user-images.githubusercontent.com/62437425/176772419-8f6de8bc-c736-4104-b287-632237d26edf.png)

[2022-07-01 15:41] ashleydraper commented on #351
Received edits from Art and Christina. Once the recommendations are worked into the draft, will resend for approval.

[2022-07-05 17:39] kkoryaka commented on #220
@Courtney-Chittock  THis is not design system, remember that we are trying to make it look like DS. We are using bootstrap breakpoints and we need to work around those. Please let me know exactly what your concerns are. You mentioned above that in some breakpoints the text column width look too narrow. I changed column width for medium breakpoint (where window width starts from 768px to 991px) to

[2022-07-05 20:20] kkoryaka commented on #221
@Courtney-Chittock you got it, I have u[dated right padding. Please check it again

[2022-07-05 21:52] kkoryaka commented on #323
@ashleydraper made those edits. Please review again.

[2022-07-05 22:27] Courtney-Chittock commented on #221
@kkoryaka looks good. I will close this out.

[2022-07-05 22:27] #221 closed

[2022-07-05 22:35] kkoryaka commented on #305
@Courtney-Chittock those 4 icons are now fixed based on your redesigned versions. Please review.
![Screen Shot 2022-07-05 at 3 34 29 PM](https://user-images.githubusercontent.com/31669748/177428264-9b16af01-8214-4926-a61b-77b13e8617e3.png)

[2022-07-05 22:54] Courtney-Chittock commented on #305
@kkoryaka looks good, thanks! I think I can close this one out.

[2022-07-05 22:54] #305 closed

[2022-07-05 23:10] Courtney-Chittock commented on #220
@kkoryaka this component needs to be refined to control how the layout reflows at certain breakpoints, but this is not the project for that. Can you please add this to the Design System backlog? Or maybe @yesenia-gtz can?

[2022-07-06 00:26] kkoryaka commented on #312
@ashleydraper this is now updated. Please review once more.

[2022-07-06 00:31] kkoryaka commented on #220
@Courtney-Chittock I have updated image cover behavior. Now it should stretch to the edges of the column. If you see other improvements as far as column width and breakpoints goes let me know,

[2022-07-06 16:45] Courtney-Chittock commented on #220
MUCH improved. Nice work. I think we can close this out.

[2022-07-06 16:45] #220 closed

[2022-07-08 15:34] Courtney-Chittock commented on #350
@kkoryaka this works for me! I will close this ticket.

[2022-07-08 15:34] #350 closed

[2022-07-08 18:08] kkoryaka commented on #341
@Courtney-Chittock please review functionality and assign it back to @Greg-Watanabe for design improvements

[2022-07-08 18:11] kkoryaka commented on #376
@Courtney-Chittock I will ass screenshots and put them here

[2022-07-08 18:17] kkoryaka commented on #306
@ashleydraper it's ready for content

[2022-07-08 18:18] Courtney-Chittock commented on #306
@ashleydraper here is the link to the Figma board: https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=511%3A3236

[2022-07-08 18:42] kkoryaka commented on #376
@Courtney-Chittock here is screenshot. Please review:
![Screen Shot 2022-07-08 at 11 41 56 AM](https://user-images.githubusercontent.com/31669748/178051818-ecd285ca-43c9-409b-8f4c-23051676ead0.png)

[2022-07-08 20:59] kkoryaka commented on #223
@Courtney-Chittock it looks like that overflow bug is now fixed thanks to @xjensen. Please review.

[2022-07-08 22:49] kkoryaka commented on #379
Good catch @clhenrick. It will be updated in our beta release soon (we will keep our custom xl width value in there though). Also, these should not be bootstrap 4 but rather bootstrap 5 breakpoints. Thank you for your input.

[2022-07-12 18:23] ashleydraper commented on #323
@kkoryaka This looks excellent. Great work. I will close the issue.

Cc: @Courtney-Chittock @extinah @artuoma

[2022-07-12 18:35] ashleydraper commented on #323
Whoops, reopening and moving to merge to beta

[2022-07-12 18:44] Courtney-Chittock commented on #293
Here's the [current design](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=616%3A3992). All the Structure pages are on the project Figma board now.

[2022-07-13 23:56] ashleydraper commented on #327
@kkoryaka  This one is ready for dev.

[2022-07-14 00:01] ashleydraper commented on #326
@extinah @artuoma This one is ready for content review.

[countdown component](https://docs.google.com/document/d/1Vas40gy7wU29TzJ5Jxc7_NN-aCMJEIIEupck-gtPak0/edit#heading=h.xv7rpjtvd3w5)

[2022-07-14 22:41] ashleydraper opened #405 "Enhance the blockquote component with additional variants."
Holding off publication on these variants until after v6 launch.

Blockquote with image
Pull quote
Prominent blockquote

Should enhance the [blockquote component](https://docs.google.com/document/d/1a4MKyUL_jrWf_YAIa9zC0HJORtH3bXDgb7AKz_KTOp8/edit#) with these variations post launch.

[2022-07-14 23:10] ashleydraper commented on #326
@Courtney-Chittock This is ready for design, content was reviewed and approved by Art.

[2022-07-14 23:25] ashleydraper commented on #312
@kkoryaka Looking good. Just one more edit and we're good here.
![image](https://user-images.githubusercontent.com/62437425/179117617-873daddd-4b73-4696-b1a4-432c729fea37.png)

[2022-07-15 15:56] Courtney-Chittock commented on #376
@kkoryaka most Paste icons tend to illustrate something being added to the clipboard. Rough example:
![image](https://user-images.githubusercontent.com/99773875/179260119-da672986-4827-48e1-b26f-5b52487ae2af.png)
I would recommend adding that for context, but otherwise looks good!
(Side note: hilarious that floppy disks are still the go-to for Save icons :D)

[2022-07-15 15:59] ashleydraper commented on #325
@Courtney-Chittock Sending this one your way to design the sample variants. We can discuss any code implications during our standup.

Cc: @kkoryaka

[2022-07-15 16:31] Courtney-Chittock commented on #223
@kkoryaka this is brilliant! Thank you @xjensen. That was a concerning bug.

Not sure if this is a new development, or if it just happened at some point along the way, but the scroll bar has come untethered from the main content area at the bottom. Please see [this video](https://stateca.sharepoint.com/:v:/r/sites/statewideinnovation/Shared%20Documents/Design%20Assets/Courtney/Web%20Standards/Beta

[2022-07-15 17:01] ashleydraper commented on #351
@kkoryaka All yours for dev.

[2022-07-15 23:09] Courtney-Chittock commented on #341
Per meeting 7/15, Courtney will work on an icon spreadsheet so we can correct spelling errors and add keywords, and @Greg-Watanabe and @timothyshambra will work to align visual design to project Figma boards ([page mockup](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=165%3A6596) and [feature mockup](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Temp

[2022-07-15 23:32] Courtney-Chittock commented on #311
@kkoryaka I also did my UX review. See #30-35 on the [project tracker](https://docs.google.com/spreadsheets/d/11j0r3flPCG5wvpa5flClG8x5-e0ZxROl-HQoaTkSsNM/edit#gid=156389168).

![image](https://user-images.githubusercontent.com/99773875/179324257-bf109956-9f42-40a6-802c-0a6f77cdbcdc.png)

[2022-07-15 23:32] Courtney-Chittock commented on #311
PS: sorry that I duplicated Ashley's comment above on one of my findings.

[2022-07-18 22:46] extinah commented on #332
Review completed. Looks good :)

[2022-07-18 23:40] artuoma commented on #332
My initial review and feedback is in the doc.

[2022-07-19 16:01] ashleydraper commented on #332
Awesome! Thanks a bunch!

[2022-07-19 18:19] Courtney-Chittock commented on #323
@kkoryaka I completed my UX review. See numbers 36-38 on the [project tracker](https://docs.google.com/spreadsheets/d/11j0r3flPCG5wvpa5flClG8x5-e0ZxROl-HQoaTkSsNM/edit#gid=156389168).

![image](https://user-images.githubusercontent.com/99773875/179820479-e9c46a78-f154-40b1-9c2b-5e05becb1442.png)

[2022-07-19 18:57] ashleydraper opened #406 "Component content audit [featured narrative]"

[2022-07-19 18:58] #406 closed

[2022-07-19 18:59] ashleydraper commented on #406
Merging with blockquote component. Closing issue.

[2022-07-19 19:09] ashleydraper opened #407 "Component content audit [featured search]"
Draft content for the search bar component is ready for review.

[2022-07-19 19:25] ashleydraper opened #408 "Component content audit [form style]"
Drafting content in the [form component](https://docs.google.com/document/d/1JTKuRKCaaUDJb2SyGHtjpBcGpySt7yJG6pAOKD4GeEA/edit#heading=h.xv7rpjtvd3w5) staging doc.

[2022-07-19 22:25] ashleydraper opened #409 "Component content audit [horizontal rule]"
Drafting content for the [horizontal rule](https://docs.google.com/document/d/16Bz8pAphFQIsWxk2DrkHVRnCcrSmgusX8go-TJqSzQA/edit#) component in this google staging doc.

[2022-07-20 00:02] ashleydraper opened #410 "Component content audit [Lists]"
After a lengthy team discussion, we will merge the **list** component with the **news list** pattern into one content pattern. This merge will also absorb the **step list** component.

Together, the variants for the **lists** pattern will include
- Standard lists

- Multi-line lists
- News Lists

For details on this discussion, see State Template standup thread beginning at 3:58PM on 7/19/22.

[2022-07-20 15:12] ashleydraper commented on #410
Draft content can be found in this [lists pattern google staging doc](https://docs.google.com/document/d/1dXEkoN760Q1J3MC1WVE3R5AtjHFIum84WoXsX824pzY/edit#heading=h.xv7rpjtvd3w5).

[2022-07-20 15:15] ashleydraper opened #411 "Component content audit [progress tracker]"
This component will merge the timeline and progress block with 2 variations.

[2022-07-20 15:15] ashleydraper opened #412 "Component content audit [table]"

[2022-07-20 15:15] ashleydraper opened #413 "Component content audit [tab]"

[2022-07-20 15:15] ashleydraper opened #414 "Component content audit [social media icons]"

[2022-07-20 15:15] ashleydraper opened #415 "Component content audit [progress bar]"

[2022-07-20 15:15] ashleydraper opened #416 "Component content audit [number counter]"

[2022-07-20 15:16] ashleydraper opened #417 "Component content audit [modal]"

[2022-07-20 22:05] ashleydraper commented on #417
Draft content for the [modal component](https://docs.google.com/document/d/14z_UcGPcS6JNjYgcYHNaKDnoJEZF-UawClz-F76qPIM/edit#heading=h.xv7rpjtvd3w5) is ready for review.

[2022-07-26 16:08] extinah commented on #407
Christina's review is done. Thanks!

Poking @artuoma :)

[2022-07-26 16:11] extinah commented on #408
This one is a big topic. Can we meet to discuss strategy on this one (or did y'all already do that?)

[2022-07-26 16:14] ashleydraper commented on #408
@extinah We have not, but we should be flowing the path of least resistance on these. If we can smallify this big topic, that would make life a lot easier. Can we use what we have for an MVP and document notes for improvement after launch?

[2022-07-26 18:51] kkoryaka commented on #376
There you go
![Screen Shot 2022-07-26 at 11 50 44 AM](https://user-images.githubusercontent.com/31669748/181088058-2474c30c-84ec-4517-8be1-ab1c762ff631.png)

[2022-07-28 00:32] ashleydraper commented on #410
This draft is ready for Art/Christina review.

[2022-07-28 16:16] ashleydraper opened #420 "Research- DWSN survey"

[2022-07-29 16:28] kkoryaka commented on #223
@Courtney-Chittock  link doesn't work. Just give me the pages links where it happens and I will take care of it

[2022-07-29 16:38] Courtney-Chittock commented on #223
@kkoryaka oops, I fixed the link. This is on any page with a multi-level side nav (Structure, Components, Patterns). Thanks!

[2022-07-29 20:05] kkoryaka commented on #223
I see, @Courtney-Chittock we have to live with those issues because of our page structure and side navigation placement in it there will be some scrolling gaps. Side navigation height calculation happens on page load when sticky position is not in effect yet. To get to that sticky position user needs to scroll through the header, and breadcrumb area. That breadcrumb area creates some gap at the be

[2022-07-29 21:08] kkoryaka commented on #216
@ashleydraper please review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/update.html

[2022-08-01 15:27] kkoryaka commented on #351
@ashleydraper please review https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/cards.html

[2022-08-02 16:07] ashleydraper commented on #216
Sending this issue back to @Courtney-Chittock to mock up design for the marketing section. This section will feel similar to the DWSN presentation on 7/21/2022.

[2022-08-02 16:58] extinah commented on #409
HI there - my review is done. Some comments are included.

[2022-08-02 19:50] kkoryaka commented on #326
@ashleydraper this one is ready for review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/countdown.html

[2022-08-03 22:58] ashleydraper commented on #411
This [draft](https://docs.google.com/document/d/1Z7hz_BBI8itBOXGGcF6Fmlf8SMVz-_35jfhfncIkg9I/edit#)is ready for Art and Christina's review. Assigning to Art and Christina.

[2022-08-04 19:09] Courtney-Chittock commented on #280
Here is the link to the [Visual design content](https://docs.google.com/document/d/1uWiFyaWes1CAttKaMhyIyi54SMPswfGc2z7N3r2F7hM/edit). I completed my review.

[2022-08-04 19:10] Courtney-Chittock commented on #280
@artuoma @extinah it's all you. I suggest a workshop for this page so we can massage and finalize text more quickly.

[2022-08-05 16:04] ashleydraper commented on #326
@kkoryaka

I've decided to leave this title as is and will work on a new title for the number counter component.

Here's what I found in my review.

![image](https://user-images.githubusercontent.com/62437425/183116369-a68d200a-02ef-42d8-bf37-3847c931feea.png)

![image](https://user-images.githubusercontent.com/62437425/183116767-00e56dad-edd3-4b6c-8da9-be96c90a1f52.png)

[2022-08-05 16:05] ashleydraper commented on #326
![image](https://user-images.githubusercontent.com/62437425/183116767-00e56dad-edd3-4b6c-8da9-be96c90a1f52.png)

[2022-08-05 16:37] kkoryaka commented on #325
@ashleydraper @Courtney-Chittock this one is ready for review

[2022-08-05 21:15] kkoryaka commented on #311
@ashleydraper @Courtney-Chittock please review it again

[2022-08-05 22:45] kkoryaka commented on #327
@ashleydraper please review

[2022-08-05 22:54] kkoryaka commented on #323
@Courtney-Chittock please review. As far as changing the URL i put not feasible status for now. We will meet with Art and discuss it.

[2022-08-05 23:07] kkoryaka commented on #326
@ashleydraper please review it again.

[2022-08-09 16:33] kkoryaka opened #453 "Update pages URLs to correspond with site's structure"
Update pages' URLs to correspond with site's structure and hierarchy:
For instance, if a blockquote sample  page has components parent landing page the url should be
siteroot/components/blockquote.html

To change a page url in eleventy please change the permalink in the front matter. That will create corresponding folder in the site output. (No need to change the folders structure in the /pages/ f

[2022-08-09 18:43] kkoryaka commented on #453
@Courtney-Chittock will you provide the sitemap of all live pages with updated URLs?

[2022-08-10 00:05] kkoryaka commented on #332
@ashleydraper please review https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/large-header-banner.html

[2022-08-11 16:59] ashleydraper commented on #409
@artuoma I've taken another content pass and included feedback from the team. Ready for your review.

[horizontal rule](https://docs.google.com/document/d/16Bz8pAphFQIsWxk2DrkHVRnCcrSmgusX8go-TJqSzQA/edit#)

[2022-08-11 17:00] ashleydraper commented on #417
@artuoma I've taken another content pass and included feedback from the team. Ready for your review.

[modal component](https://docs.google.com/document/d/14z_UcGPcS6JNjYgcYHNaKDnoJEZF-UawClz-F76qPIM/edit#heading=h.xv7rpjtvd3w5)

[2022-08-11 18:45] ashleydraper commented on #416
@artuoma The [rolling number counter](https://docs.google.com/document/d/1EIC1aNhbuYCmYWxdLVlVC_efDQs8pWVwtzzjxEct1nw/edit#heading=h.2cyxougan0v) component is ready for review. Take a look.

[2022-08-12 20:41] ashleydraper commented on #415
@artuoma The [progress bar](https://docs.google.com/document/d/1mYrR0uhLpz9aPQrDp3obxXEzv11z2eOS1qKgSkZhDR0/edit#) component is ready for your review.

[2022-08-12 23:26] ashleydraper opened #460 "Component content audit [parallax]"

[2022-08-22 21:39] ashleydraper commented on #414
The **[social media icon](https://docs.google.com/document/d/1WQZ71PA9ZIit5Y48mLNxdgHChrq3qdDN6ZJM57T1VxY/edit#heading=h.wmymts22289n) **component is ready for review.

[2022-08-23 22:04] ashleydraper commented on #413
@artuoma
The [**tabs** component](https://docs.google.com/document/d/1M2eFfCIbwch1p6F4jWzNrwwuZOjaZX8J-dA5GlLGyJc/edit#heading=h.kf35mw7u91bx) is ready for review.

[2022-08-24 15:59] ashleydraper commented on #412
@artuoma
The **[table component](https://docs.google.com/document/d/1wti96QD3bOLNDnVat3PufHeComN2FF7U76S6VWTKG0g/edit#)** is ready for review.

[2022-08-31 19:49] kkoryaka opened #461 "Pipeline improvement"
Update pipeline process so it builds output /_site/  folder on the GitHub deployment web service so we can add the /_site/ folder to gitignore.

[2022-08-31 19:50] kkoryaka commented on #341
@carterm I have resigned it to you.

[2022-08-31 20:56] kkoryaka commented on #340
@carterm i believe this is icons pagination issue

[2022-09-08 17:23] carterm commented on #340
Looking at implementing pagination, which would make the letter grouping obsolete.

[2022-09-09 19:38] kkoryaka opened #466 "Add color scheme specific color to the utility header background to differentiate between the color schemes"
Ass color-s1 (subtle primary color) to  utility header background just enough to feel the difference between different color schemes

![Screen Shot 2022-09-09 at 12 35 30 PM](https://user-images.githubusercontent.com/31669748/189430041-85e594ae-8268-4238-bdc9-dea70019dcbe.png)

![Screen Shot 2022-09-09 at 12 37 16 PM](https://user-images.githubusercontent.com/31669748/189430328-101deba3-a24e-4b3f-

[2022-09-09 20:40] ashleydraper commented on #299
@sharon-rabang Hiya!! Here is where we're tracking progress on the components landing page. I know you've worked on a mock up in Figma, is it now ready for dev?

Here's the [google staging doc](https://docs.google.com/document/d/1EV1vr5HskpNkl9S-Zsq_55JxkvQONiJrb-GDzxEt6aQ/edit#) for reference.

[2022-09-09 21:08] sharon-rabang commented on #299
@ashleydraper Hi! Thanks for adding me to this issue. The website's visual design concepts are still in progress. I will share them with the Design Team for review and feedback on Tue 9/13/22, to find out which option we can move forward with for development.

[2022-09-09 21:11] ashleydraper commented on #299
Awesome! Sounds good.

[2022-09-12 21:35] ashleydraper opened #467 "Card pattern variants"
Add more complex features to the [card component](https://github.com/Office-of-Digital-Innovation/California-State-Web-Template/issues/351) that justify movement to the pattern category.

[2022-09-12 21:55] ashleydraper commented on #332
@kkoryaka Couple thoughts-
![image](https://user-images.githubusercontent.com/62437425/189765205-04e1f6ea-ba0c-4d23-9599-7b1e41d20260.png)

![image](https://user-images.githubusercontent.com/62437425/189765539-2df89692-1227-4396-9c8c-1e74579ccf7b.png)

[2022-09-13 21:42] sharon-rabang commented on #299
@ashleydraper I met with the Design Team (and @kkoryaka) and we opted for no banner graphics on landing pages. The [components landing page](https://www.figma.com/file/br3mL1U1K9snedRBbrK6nx/V6-Visual-Design?node-id=167%3A4659) in Figma is ready for dev.

[2022-09-13 21:44] ashleydraper commented on #299
Excellent decision. I really like this direction. Assigning to Konstantin.

[2022-09-14 18:13] ashleydraper opened #468 "Pattern content audit [pane]"

[2022-09-14 18:13] ashleydraper opened #469 "Pattern content audit [news block]"

[2022-09-14 18:16] ashleydraper opened #470 "Pattern content audit [link grid]"

[2022-09-14 18:39] ashleydraper opened #471 "Pattern content audit [testimonials]"

[2022-09-14 18:39] ashleydraper opened #472 "Pattern content audit [profile banner]"

[2022-09-14 19:06] kkoryaka opened #473 "Create simple v6 eleventy template repository"
Create simple one page v6 eleventy template

[2022-09-15 15:32] extinah commented on #416
@ashleydraper my review is completed. @artuoma reminder to review :) Just agreed with Courtney's comments.

[2022-09-15 16:12] extinah commented on #410
@ashleydraper  we may need a small meeting on this one.
@artuoma I did my review - your input would be nice before we meet. thanks!

[2022-09-16 16:24] kkoryaka opened #474 "Figure with Captions design improvements"
improve Figure with Captions pattern spacing, typography, colors and overall design. Make it work with overall design system look and feel.

Current link: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/figure.html

[2022-09-16 16:26] kkoryaka opened #475 "News Lists design improvements"
improve News Lists pattern spacing, typography, colors and overall design. Make it work with overall design system look and feel.

Current link: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/news-list.html

[2022-09-16 16:29] kkoryaka opened #476 "News article: Design improvements"
improve News Detail pattern spacing, typography, and overall design. Make it work with overall design system look and feel
Current link: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/news-detail.html

[2022-09-16 16:37] kkoryaka opened #477 "Executive profile design improvements"
improve Profile Banners  pattern spacing, typography, colors and overall design. Make it work with overall design system look and feel.

Current link: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/profile-banners.html
Template link: https://template.webstandards.ca.gov/sample/profile-banners.html

Edited to add:

- [x] rework design - angelina
- [x] write content - ashle

[2022-09-16 16:42] kkoryaka opened #478 "Testimonials design improvements"
improve Testimonials pattern spacing, typography, colors and overall design. Make it work with overall design system look and feel

Current link: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/testimonials.html

Please note this parterre is using  block-quote component. https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/blockquotes.html

[2022-09-16 16:48] kkoryaka opened #479 "Card grid design improvements"
Review blurb pattern design and suggest design improvements so it works better with Design System look and feel
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/blurbs.html#no-margin

[2022-09-16 16:51] kkoryaka opened #480 "Hero info design improvements"
Review hero info patter design and suggest improvements that would go better in line with design system look and feel

Current link: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/hero-info.html

[2022-09-16 20:25] ashleydraper commented on #410
List should move to component. Separate the "news list" as its own pattern.

[2022-09-16 20:48] extinah commented on #416
@ashleydraper  review is done by me and Art.

[2022-09-16 21:00] extinah commented on #417
@ashleydraper
Art and I are done with our review. There's some minor items for you to resolve before moving to development. Thanks!

[2022-09-20 17:43] #198 closed

[2022-09-20 17:51] yesenia-gtz commented on #216
@ashleydraper @extinah can we meet as a team to help prioritize content needs for this? perhaps an outline of items to share on page to get this moving.

Plan for:
- Beta "Whats New"
- Evergreen "Whats new" for production release

[2022-09-20 18:57] #36 closed

[2022-09-20 18:58] #10 closed

[2022-09-20 18:59] #29 closed

[2022-09-20 18:59] yesenia-gtz commented on #136
@kkoryaka  OK to close this out?

[2022-09-20 19:00] yesenia-gtz commented on #137
Closing as we are updating components for a11y compliance

[2022-09-20 19:00] #137 closed

[2022-09-20 19:00] #143 closed

[2022-09-20 19:01] yesenia-gtz commented on #160
Closing due to inactivity

[2022-09-20 19:01] #160 closed

[2022-09-20 19:01] #184 closed

[2022-09-20 19:02] yesenia-gtz commented on #298
@kkoryaka Has this been resolved?

[2022-09-20 19:09] yesenia-gtz commented on #222
@ashleydraper is this ok to close? I see a note from @Greg-Watanabe that is is done.

[2022-09-20 19:23] yesenia-gtz commented on #323
@artuoma reassigned to you for review. are we OK with keeping as and moving into dev?

[2022-09-20 19:25] #281 closed

[2022-09-20 19:25] #219 closed

[2022-09-20 19:25] #324 closed

[2022-09-20 19:25] #246 closed

[2022-09-20 19:25] #193 closed

[2022-09-20 19:25] #245 closed

[2022-09-20 19:25] #194 closed

[2022-09-20 19:25] #197 closed

[2022-09-20 19:25] #192 closed

[2022-09-20 19:26] #376 closed

[2022-09-20 19:26] #195 closed

[2022-09-20 19:26] #196 closed

[2022-09-20 19:26] #222 closed

[2022-09-20 19:26] #199 closed

[2022-09-20 19:26] #253 closed

[2022-09-20 19:26] #249 closed

[2022-09-20 19:26] #224 closed

[2022-09-20 19:26] #308 closed

[2022-09-20 19:26] #300 closed

[2022-09-20 19:27] #318 closed

[2022-09-20 19:27] #191 closed

[2022-09-20 19:27] #320 closed

[2022-09-20 19:27] #206 closed

[2022-09-20 19:27] #317 closed

[2022-09-20 19:27] #319 closed

[2022-09-20 19:27] #316 closed

[2022-09-20 19:27] #205 closed

[2022-09-20 19:27] #282 closed

[2022-09-20 19:36] ashleydraper commented on #222
@yesenia-gtz Yes we can close, we are now tracking progress in [issue #410]
(https://github.com/Office-of-Digital-Innovation/California-State-Web-Template/issues/410).

[2022-09-20 21:12] ashleydraper commented on #323
@kkoryaka Can you re-share the link where this is staged? I can't access it for some reason.

[2022-09-20 22:08] extinah commented on #411
@ashleydraper  we did an initial review. requires a quick meeting to discuss some comments.

[2022-09-20 22:10] extinah commented on #411
Thinking to make the step list a content patterns instead. And use progress bar as the component. We can discuss - thanks!

[2022-09-20 22:15] extinah commented on #407
@ashleydraper  We've reviewed this. Added in some comments. Also noting the difference between the global search vs featured search. We think this should all be on one page. See comments. Thanks!

[2022-09-21 17:12] kkoryaka commented on #136
@yesenia-gtz I just closed it. Thanks

[2022-09-21 17:12] #136 closed

[2022-09-21 18:09] kkoryaka commented on #298
@yesenia-gtz general public license is added to the beta v6 release. I am closing this issue.

[2022-09-21 18:09] #298 closed

[2022-09-21 18:11] kkoryaka commented on #323
@ashleydraper here you go https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/breadcrumb.html

[2022-09-21 18:18] ashleydraper commented on #323
@yesenia-gtz This component has already gone to dev. Content looks great, this issue is now ready to move to QA.

[2022-09-21 22:30] Courtney-Chittock commented on #279
@kkoryaka the breadcrumbs on "Template updates" and "Patterns" do not match the updated page titles. Also the H1 on "Patterns" does not match.

[2022-09-21 22:45] yesenia-gtz commented on #279
opening up again, thanks for the catch @Courtney-Chittock !

[2022-09-21 22:56] Courtney-Chittock commented on #216
@yesenia-gtz @ashleydraper @sharon-rabang [here is the Figma page](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=868%3A4289) where I started to design the "What's new" section. It will be on the "Template updates" page, with a link from the homepage.

[2022-09-21 22:59] Courtney-Chittock commented on #307
@ashleydraper [here is the Figma page](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=797%3A4299) with the drafted homepage content. Let me know if I should move it into a Word doc for you.

[2022-09-21 23:14] kkoryaka commented on #299
@ashleydraper The components page is now updated. Please review.

[2022-09-21 23:16] yesenia-gtz commented on #411
Updates:

[2022-09-21 23:30] extinah commented on #411
@kkoryaka
Per Courtney: Konstantin, it looks like there is an outlined and a filled option for the horizontal version. Can we add that for the vertical version?

Also, in mobile the horizontal version should look more like the step list. Right now if just shows an unlinked circle above the heading with no visual connection. Also, can we add some options for the end circle rather than just a blank

[2022-09-21 23:32] kkoryaka commented on #279
@Courtney-Chittock I fixed breadcrumbs and h1. Please review.

[2022-09-21 23:35] extinah commented on #415
Decision: This is a content pattern. We moved step list here, too.

[2022-09-21 23:47] extinah commented on #408
Decision: Let's keep on one page for the MVP and break out in the design system.

[2022-09-21 23:55] ashleydraper commented on #299
@kkoryaka I'm using the components from this [component list](https://docs.google.com/document/d/1EV1vr5HskpNkl9S-Zsq_55JxkvQONiJrb-GDzxEt6aQ/edit) and comparing it against this [staging page](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components.html). They are not the same. Do I have an outdated link?

[2022-09-22 18:52] Courtney-Chittock commented on #279
@kkoryaka I did a refresh but am not seeing a fix on the staging site.

[2022-09-22 20:24] ashleydraper commented on #312
@kkoryaka We removed "banner" from the title of this component on July 14, but I don't see that mocked up. Reassigning to you.

![image](https://user-images.githubusercontent.com/62437425/179791500-1bd8635f-4912-4bf2-9a94-bd909700ef3b.png)

[2022-09-22 22:44] extinah commented on #460
Internal review compelted. Added small comment about causing dizziness. @ashleydraper

[2022-09-22 23:53] thekaveman opened #493 "Invalid icon font file reference"
Hello there 👋 My team has been building the [Cal-ITP Benefits](https://github.com/cal-itp/benefits) application and have used a number of your assets (CSS, etc.) as the basis for our design. Thank you for sharing!

We're in a Python/Django ecosystem and currently using `v6.0.2`; we point directly to your CDN-hosted assets. See e.g. [here in our main template file](https://github.com/cal-itp/benefi

[2022-09-23 18:45] yesenia-gtz commented on #223
@Courtney-Chittock needs review

[2022-09-23 18:51] yesenia-gtz commented on #326
@ashleydraper ready for review

[2022-09-23 18:53] ashleydraper commented on #326
[Staging link](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/countdown.html)

[2022-09-23 18:54] ashleydraper commented on #325
[Staging link](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/blockquotes.html)

[2022-09-23 19:00] ashleydraper commented on #326
@kkoryaka The staged page does not match the google staging doc. See comments.

![image](https://user-images.githubusercontent.com/62437425/192038254-f2cc7d97-b0e3-4ad1-b3b9-6a5921325e13.png)

[2022-09-23 19:11] ashleydraper commented on #312
@kkoryaka A substantial amount of content does not match the [google staging doc](https://docs.google.com/document/d/1eazq2mj8mN93knn59O23nuitDduSCsVpmsLxnD2y5T8/edit#). Can you re-copy and paste?

[2022-09-23 19:22] ashleydraper commented on #351
Completed my review.

![image](https://user-images.githubusercontent.com/62437425/192042182-39fbbee2-2d70-4823-bdb8-b5f3eaef34aa.png)

[2022-09-23 19:34] ashleydraper commented on #311
@kkoryaka Completed my review.

![image](https://user-images.githubusercontent.com/62437425/192043171-6d98d004-bd04-4b45-85ac-af8abaf054a4.png)

![image](https://user-images.githubusercontent.com/62437425/192043950-762a3370-c763-47ae-bd72-0af9680e5631.png)

![image](https://user-images.githubusercontent.com/62437425/192043960-184c10ce-c066-4dd1-ac86-123e64d5468f.png)

[2022-09-23 19:37] ashleydraper commented on #323
@kkoryaka Do the slugs look like this because we're in staging, or what's going on with these?

https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/alert-banner.html

[2022-09-23 19:43] ashleydraper commented on #327
Completed my review. Component looks great. Issue ready to close.

[2022-09-26 17:28] kkoryaka commented on #332
@ashleydraper content is now updated. https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/hero-banner.html
 And responding to your note I can say that banner height is calculated based on device viewport. In reality banner needs to be placed directly under the header and should occupy the rest of the page (like it is on the [homepage](https://as-cdt-pub-migr-betaws-ww-p-001-st

[2022-09-26 18:34] Courtney-Chittock commented on #417
I performed a final review. Just one comment. :)

[2022-09-26 19:42] extinah commented on #216
@yesenia-gtz  be sure to add yourself as an assignee and remove @ashleydraper. She can provide feedback if she wants to (or not) later in the process.

[2022-09-26 21:30] Courtney-Chittock commented on #216
Just to document, the decision is to have "What's new" as a separate page now, with links to it from the homepage and "Template updates" page. I am working on a content draft for this page and will let @yesenia-gtz  and @sharon-rabang make it look purty. :)

[2022-09-26 21:58] kkoryaka commented on #299
@ashleydraper this needs small meeting to go over the list.

[2022-09-26 22:12] kkoryaka commented on #325
@ashleydraper make sure you do hard refresh (which will update css styles). Also,, this page examples are based on figma design. So, I will keep without graphic that you crossed: https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=778%3A4351

[2022-09-26 22:38] kkoryaka commented on #326
@ashleydraper we have two versions (dark and light), I't looks like you want only dark (primary) version. But we don't remove existing versions and code from the template.

We need to discuss it  with @extinah and @artuoma or @yesenia-gtz

[2022-09-26 23:12] kkoryaka commented on #312
@ashleydraper I have updated the content. Please review again: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/alert.html

[2022-09-26 23:19] kkoryaka commented on #351
@ashleydraper please review it again: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/cards.html

[2022-09-26 23:40] kkoryaka commented on #311
@ashleydraper I added periods. However, I don't see any difference between my accordion tabs content and word doc's content. Please review it again and if I missed something reach me out in teams.

[2022-09-28 16:53] Courtney-Chittock commented on #341
Adding @sharon-rabang to this issue. I will debrief her and give her pending design needs during our handoff meeting.

[2022-09-28 17:21] kkoryaka commented on #493
Good catch @thekaveman , that will be fixed in our next 6.0.8 release which will be release at the end of October 2022.

[2022-09-28 17:56] kkoryaka commented on #314
@Greg-Watanabe you can work on this button. use this new icon with it:
![Screen Shot 2022-09-28 at 10 56 26 AM](https://user-images.githubusercontent.com/31669748/192854716-4f1165eb-4ade-48c4-9dec-34ccc0e74fc9.png)

[2022-09-28 18:07] Courtney-Chittock commented on #314
@Greg-Watanabe my friend at the EDD implemented this functionality. Different code base, so maybe not helpful, but I am attaching his development notes just in case they have value to you.

[Implementing copy and paste functions.docx](https://github.com/Office-of-Digital-Services/California-State-Web-Template/files/9667812/Implementing.copy.and.paste.functions.docx)

[2022-09-28 18:21] kkoryaka opened #512 "Update color scheme pages according to figma prototype"
Update color scheme pages layout based on [figma prototype](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=123%3A6139)

https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design/colorscheme-delta.html
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design/colorscheme-eureka.html
https://as-cdt-pub-migr-betaws-ww-p-001-

[2022-09-28 22:44] kkoryaka opened #513 "Go through all Figma pages and check if they have content"

[2022-09-28 22:53] ashleydraper opened #514 "Add pagination component"

[2022-09-29 23:59] sharon-rabang commented on #280
09.28.22: OK to separate three Visual Design sections onto different pages; use simple dropdown menu listed alphabetically.

[2022-09-30 00:17] kkoryaka commented on #473
@artuoma I have create repo with simple and lightweight State Web template eleventy version  https://github.com/Office-of-Digital-Services/California-State-Web-Template-eleventy

[2022-09-30 17:54] ashleydraper commented on #332
Excellent! Thanks @kkoryaka this component looks great, we can advance to the next milestone.

I will note that the left side nave should just read "Patterns" and I also notice there is not yet a copy code button. Wondering if we're still adding that.

![image](https://user-images.githubusercontent.com/62437425/193328602-803708dd-229b-4943-9334-e01464e9266d.png)

[2022-09-30 18:04] ashleydraper commented on #351
Looks good. As a general note, please remove "Available" from the side navigation.

![image](https://user-images.githubusercontent.com/62437425/193330267-88dfca1f-540c-4ddd-8f8f-d82d4db37aa2.png)

[2022-09-30 18:10] kkoryaka commented on #326
@kkoryaka show two in the example tab

[2022-09-30 18:11] kkoryaka commented on #299
@kkoryaka make sure side nav says components not available (repeat H!)

[2022-09-30 18:15] kkoryaka commented on #410
@kkoryaka "step list" is merged with "progress tacker" pattern

[2022-09-30 18:18] ashleydraper commented on #299
![image](https://user-images.githubusercontent.com/62437425/193332366-52d5f6d9-b876-4359-ac04-2e8670e509d0.png)

[2022-09-30 18:38] kkoryaka commented on #216
@kkoryaka meet with @sharon-rabang and talk about implications of the updated design and navigation for this page.

[2022-09-30 18:45] kkoryaka opened #517 "Content design for Get Started landing page"
Make sure that correct content is  applied  to the Get Started landing page

Current page in beta staging:
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/getting-started.html

Word document:
https://docs.google.com/document/d/1UyvomMQRZ5PfFrH-mbmr6ZsVLR-nkQCkPJofrUcaocQ/edit#heading=h.5z0l3zdnl9il

[2022-09-30 18:51] kkoryaka commented on #517
@ashleydraper please check if this is the right content for this page because figma design proposal looks kind of different: https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=18%3A3630

[2022-09-30 18:58] Courtney-Chittock commented on #299
@ashleydraper That's actually not correct. You can lean on the Accordions Figma pages for side menu content. On the landing pages the side nav should not have an H1. Only H2s and H3s. But as you drill down, the H2s from the landing page should still remain on the side menu. The side menu does not change. Sorry if I misunderstood in the meeting.

[2022-09-30 19:19] Courtney-Chittock commented on #351
Please follow the Figma board for side menu content. This is a drilldown page. The side menu should not change from the parent page.

[2022-09-30 19:53] kkoryaka commented on #351
@ashleydraper for the components and patters page  let's focus on the content area and if there any issue with side nav arises let's collaborate on it directly it in the side nav issue [#223](https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/223)

[2022-09-30 19:56] kkoryaka commented on #223
@sharon-rabang @extinah @ashleydraper if you see any issues with side navigation (content, naming, or styles) please don't hesitate to bring it up here

[2022-09-30 22:10] ashleydraper commented on #410
@kkoryaka This component is now ready for dev. If it's already staged, will you please paste the link?

[2022-09-30 23:20] ashleydraper commented on #476
We actually don't have a news detail component. See the [component matrix](https://docs.google.com/spreadsheets/d/11j0r3flPCG5wvpa5flClG8x5-e0ZxROl-HQoaTkSsNM/edit#gid=669951285). Recommend closing this issue.

[2022-09-30 23:25] ashleydraper commented on #280
@sharon-rabang Is this ready for dev, or will you need to mockup the 3 pages first?

[2022-10-01 00:19] ashleydraper commented on #312
Looks good, moving to close.

[2022-10-01 00:22] ashleydraper commented on #311
Looks good, moving to close.

[2022-10-01 00:30] ashleydraper commented on #325
@kkoryaka I see, thank you for the advice to do a hard refresh. Let's chat about this one.

[2022-10-01 00:40] ashleydraper commented on #453
@kkoryaka Here is the updated [component tracker spreadsheet](https://docs.google.com/spreadsheets/d/11j0r3flPCG5wvpa5flClG8x5-e0ZxROl-HQoaTkSsNM/edit#gid=669951285). Use the **proposed URL** column to update page URLs.

[2022-10-03 16:57] sharon-rabang commented on #280
@ashleydraper I set up the 3 separate pages in Figma, but we need to discuss if the Visual design content or description is still needed and where it should go.

[2022-10-03 19:16] ashleydraper commented on #513
Because there are several pages without corresponding google docs/content, I'm closing this issue and opening new issues to track them all separately.

[2022-10-03 19:16] #513 closed

[2022-10-03 19:18] ashleydraper commented on #307
Here is the [homepage google doc](https://docs.google.com/document/d/1GNuegIBwOGUaL3t5iNJ7Q12XEqbsGKPyFLuCdCzvFd8/edit) I'll be updating with content.

[2022-10-03 19:56] ashleydraper commented on #306
[Structure google staging](https://docs.google.com/document/d/1Mnw_Do_Ra8ozhCN-89DVraihOqTBJvjom6p1Zgmb_VI/edit) doc

[2022-10-03 20:25] ashleydraper commented on #280
There are now 3 separate google docs for these pages.

- [Colors](https://docs.google.com/document/d/1E3LB0hMUZF-DTVx8AsPmvVvGzU7cDeffrJeeDi9pJps/edit#)
- [Icons](https://docs.google.com/document/d/1LbgcENsfG_AgQ2sNEjJCtHTl4JxCoBe6hrsyXIAayIQ/edit#heading=h.5st7skvtgqwk)
- [Typography](https://docs.google.com/document/d/11oaHBWMaPXzwPCxEUAB65aSLps3nmyLzzE4tvmimSU0/edit#heading=h.ys22q3my1tv0)

[2022-10-03 20:46] sharon-rabang opened #518 "404 error page"
Create 404 error page

[2022-10-03 20:49] sharon-rabang commented on #518
@ashleydraper The Figma page has been created: [404 error page](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=1304%3A6923l) Please add the popular links when they're available. thanks!

[2022-10-03 20:50] sharon-rabang opened #519 "Site map"
Create a site map page and link in footer.

[2022-10-03 20:52] sharon-rabang commented on #519
@ashleydraper The Figma page has been created: [Sitemap](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=1339%3A6285) Please update the links when they're ready. Thanks!

[2022-10-03 20:54] ashleydraper commented on #518
Sharing the **[404 error page](https://docs.google.com/document/d/14XT0Ox8lQ1Xv1ImGWWDmBikudbaAGsnPhWlElNtkxJU/edit)** google doc. @sharon-rabang

[2022-10-03 20:54] sharon-rabang opened #520 "Favicon"
Create favicon and test in different browsers.

[2022-10-03 21:10] ashleydraper commented on #280
There are some outstanding content questions on the colors and icons pages. Scheduling a call (10/5) to clear these up, then ready for dev.

[2022-10-03 21:13] sharon-rabang commented on #280
[#225 cagov color scheme](https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/225): This issue is related to the new Colors page. Will document the Colors' work in progress in #225, too.

[2022-10-03 21:15] sharon-rabang commented on #225
[#280 Create new Visual Design landing page](https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/280): This issue is related to the new Colors page. Will document the Colors' work in progress in #280, too.

[2022-10-03 21:21] sharon-rabang opened #521 "Apply Web Template website colors to Figma prototypes"
Work with @kkoryaka to apply official Web Template website colors to Figma prototypes.

[2022-10-03 21:23] sharon-rabang commented on #521
Discuss color palette studies and options in Figma to create final Figma Color Styles.
@kkoryaka Let me know when you're available to meet, thanks!

[2022-10-03 21:35] sharon-rabang opened #522 "Project Specifications"
Project Spec doc for Web Template website UX presentation/mapping.

Link to doc: [Project Specifications for V6 State Web Template Website](https://coda.io/d/State-Web-Template_dWUrhoQSm6T/Project-Specifications-for-V6-State-Web-Template_suxO-#V6-State-Web-Template-Pages_tuC0R/_rui-KSE6rVhRu1)

[2022-10-03 22:12] sharon-rabang opened #523 "Site footer redesign"
Discuss Site footer redesign for review and approval. Here's the [Figma prototype](https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=1288%3A7778)

[2022-10-03 22:21] sharon-rabang commented on #523
@ashleydraper Should this start with and go through internal review with Art and Christina?

[2022-10-03 22:34] ashleydraper commented on #306
Splitting out the structural components and flowing for approvals.

@artuoma @extinah Please review the **[utility header](https://docs.google.com/document/d/1XNd6uPBNR704coeuNh16lNNUllmJ6ZTgyE9q4_Ky2ig/edit#heading=h.wmymts22289n)**.

[2022-10-03 22:42] ashleydraper commented on #306
- [ ] Utility header
- [ ] Settings
- [ ] Site header
- [ ] Site navigation
- [ ] Side navigation
- [ ] Global footer

[2022-10-03 23:30] ashleydraper opened #524 "Create About page"
Create an About page for the state template and track copy edits in [this google document](https://docs.google.com/document/d/1lzx-s0uAgfjEJ09atcSN6_s2XwP4N6VSGpyZ6P70MvQ/edit#heading=h.icjnc3foamvi).

[2022-10-03 23:32] ashleydraper opened #525 "Create Contact Us page"
Create a Contact Us page for the state template and track copy edits in [this google doc](https://docs.google.com/document/d/1pGl4gHz1IX8Kn94GQXWUzbHGInjf5f-c08TejsBlquc/edit).

Figma links: [Contact us](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=471%3A8653) | [Contact us error messages](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-

[2022-10-03 23:33] ashleydraper opened #526 "Create CSS Style shortcuts page"
Create a CSS Style shortcuts landing page.
Added 10/19 by christina:

- [ ] Work on CSS IA (it needs a better home)

[2022-10-03 23:59] sharon-rabang commented on #522
Met with Angelina about what this documentation entails and its level of effort at this stage of the project.
Continuing to document our notes and guidelines for Dev in Figma would be better, based on our resources who can help us prioritize our visual design and content needs.
Will keep issue open for now, in case we have another resource who can work on this.

[2022-10-04 03:49] Greg-Watanabe commented on #314
#527

[2022-10-04 16:03] ashleydraper commented on #306
@artuoma @extinah Please review the [site navigation](https://docs.google.com/document/d/1do8n7bgzpuSlPqtcQRgnijS92El8--T5zcbyiqXDuIE/edit#).

[2022-10-04 19:25] ashleydraper commented on #518
The [**404 error page**](https://docs.google.com/document/d/14XT0Ox8lQ1Xv1ImGWWDmBikudbaAGsnPhWlElNtkxJU/edit) is ready for review.

[2022-10-04 19:50] ashleydraper commented on #513
All Figma pages now have a corresponding google doc/folder

[2022-10-04 20:23] extinah commented on #518
My review is done. Minor edits.
Ready for @artuoma

[2022-10-04 20:39] extinah commented on #412
Review - added in suggested content.
@artuoma  ready for your review.

[2022-10-04 20:42] extinah commented on #525
Looks good to me.
@artuoma

[2022-10-04 21:08] extinah commented on #413
Minor edits. Looks good.
@artuoma

[2022-10-04 23:02] sharon-rabang opened #528 "Web Template logo refresh"
Redesign the current logo mark to fit the V6 State Template website's look and feel.
Consider creating a set of 3 or more logos that change upon refresh of the page.
Examples:
- 1 logo design that changes with different colors or patterns
- 3 modular graphic shapes from the homepage's featured banner image
- 3 bear profiles/silhouettes/paw prints or 1 of each, based on the homepage's featured bann

[2022-10-04 23:17] ashleydraper commented on #411
Here is the finalized [staging document](https://docs.google.com/document/d/1Z7hz_BBI8itBOXGGcF6Fmlf8SMVz-_35jfhfncIkg9I/edit#).

[2022-10-05 00:06] extinah commented on #306
I've read and approve utility header (minor edits) and site navigation.
@artuoma

[2022-10-05 16:58] ashleydraper commented on #476
After discussion on 10/5, we will re-add this pattern and rename to **News Article**. This pattern is low priority, but will require content and a visual redesign.

Visit schema.org for content inspo

[2022-10-05 18:04] sharon-rabang commented on #341
Met with @carterm to discuss the Icons page prototype in Figma to prep for its development. Will provide him with updates on any content changes, design revisions, and progress with the key words list.

[2022-10-05 18:34] kkoryaka commented on #521
@sharon-rabang  here is the color scheme file with all the color variables:
https://github.com/Office-of-Digital-Services/California-State-Web-Template/blob/6.0.8/src/scss/colorscheme/colorscheme-oceanside.scss

[2022-10-05 20:21] ashleydraper commented on #479
Per discussion on 10/5, blurb will be renamed as **Card grid**. Card grid will have 4 variants:

- Basic card grid
- News grid
- Card grid with icon
- Card grid with image

Here is the google staging document for the new **[card grid pattern](https://docs.google.com/document/d/1RfZNdp00ByVkpdp3yBJS8ihVtcfrXV4h9EP6uppc80I/edit#heading=h.vks7bf7ezumu)**.

[2022-10-05 20:25] ashleydraper commented on #480
There was a decision to merge hero info with hero banner. This pattern should be removed from development. Assigning to Konstantin to remove.

[2022-10-05 20:54] ashleydraper commented on #280
Tasks

- [ ] Dev to create redirects for all old files with "scheme" in the link to update to "theme" ((/src/scss/colortheme/oceanside.scss), research if this is possible)
- [ ] Content edits for color themes
- [ ] Link for contract ratio evaluation

[2022-10-05 21:52] sharon-rabang commented on #225
Notes from related issue #280:
Had meeting to discuss how we can simplify the Color pages and avoid duplicating content.
- Walked through explorations for feedback.
- Learned the Color Theme pages are actually a single page with code that changes the example colors when selected in the local side navigation. Will keep this approach and do usability testing to find out if seeing examples in differe

[2022-10-06 01:25] ashleydraper commented on #332
Reopening this issue. Per discussion on 10/5, Hero Banner will absorb hero info and feature banner. Hero info is similar enough in name and function that it does not need a separate call out. Feature banner will be added to the Hero banner pattern as a variant.

The google staging doc for the **[Hero banner pattern](https://docs.google.com/document/d/1NMEih8i7Si_m8jbXj1IyrJE9Gtie0I6LxM5a2xiQ5rs/ed

[2022-10-06 04:58] ashleydraper commented on #216
**[What's new](https://docs.google.com/document/d/1Rl-IssNrdLauJfyBEBwbQnM-77YLIEf7MMYFsY3QgJo/edit#)** content is now ready for review. Assigning to Art and Christina.

[2022-10-06 16:28] kkoryaka commented on #326
@ashleydraper page is now updated. Please review it again

[2022-10-06 16:44] ashleydraper opened #533 "Add page feedback button"
Add feature to allow page feedback on every page of the site. Need decision to capture data here or send to Design System.

[2022-10-06 16:51] ashleydraper opened #534 "Add drop down menu on main navigation."
Edit the main navigation to include a drop down menu for **visual design**. Navigation menu should include:

- Template updates
- Get started
- Structure
- Visual design (no landing page)

- Components
- Patterns

[2022-10-06 18:29] sharon-rabang commented on #223
@kkoryaka Thanks!
- Patterns side nav update:
- - Hero banner page name: Will let you know if we'll need to update this name when it gets combined with 'Feature card'.
- - Figure with Captions: Please make 'captions' lower case for sentence case consistency.
- All Patterns page headings: Will review and mark up for sentence case consistency.
- Card grid layout: Thanks for setting this page up! Wil

[2022-10-06 18:33] sharon-rabang commented on #479
@kkoryaka Thanks for setting up the **Card grid** page https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/card-grid.html

@Angsv Let me know when you're ready to discuss the design improvements we can make.

[2022-10-06 21:31] kkoryaka commented on #534
@ashleydraper i have made update to navigation

[2022-10-06 21:34] kkoryaka commented on #512
@Greg-Watanabe UX team requested to change all the mentions of word "scheme" and change it to "theme". in this [commit](https://github.com/Office-of-Digital-Services/California-State-Web-Template/pull/537) I did that. So, now file names and paths changed

[2022-10-06 22:13] kkoryaka commented on #410
@ashleydraper this one is ready for review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/lists.html

[2022-10-06 22:26] kkoryaka commented on #414
@ashleydraper this one is updated please review https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/social-media-icons.html

[2022-10-06 23:07] kkoryaka commented on #417
@ashleydraper this is now updated and ready for review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/modal.html

[2022-10-06 23:40] ashleydraper commented on #417
Looks great! Ready to close.

[2022-10-06 23:51] kkoryaka commented on #460
@ashleydraper this is now ready for review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/parallax.html

[2022-10-07 00:10] kkoryaka commented on #314
@yesenia-gtz This one is ready for review. Click on Source code tab
https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/lists.html

[2022-10-07 16:16] ashleydraper commented on #306
@artuoma @extinah  Please review the **[footer](https://docs.google.com/document/d/1Gg-8bZmmCIv-GV7MjqlO9Lx1a93hKamlnsFlUXTKJeI/edit#)**.

[2022-10-07 18:09] kkoryaka commented on #474
Angelina waned to make quick changes and improve typography. But we not going show it this release. We can add it back into our next production release.

[2022-10-07 18:21] kkoryaka commented on #478
@sharon-rabang add image variation for the blockquote

[2022-10-07 18:22] kkoryaka commented on #325
@sharon-rabang @ashleydraper please add blockquote image variation to it.

[2022-10-07 18:24] kkoryaka commented on #471
Closing this one since we merget it with blockquote

[2022-10-07 18:24] #471 closed

[2022-10-07 18:24] #478 closed

[2022-10-07 18:31] kkoryaka commented on #512
@Greg-Watanabe  after you are done assign it to @sharon-rabang and @ashleydraper for content update

[2022-10-07 18:36] kkoryaka commented on #293
this one is already tracked in #306 Closing this one.

[2022-10-07 18:36] #293 closed

[2022-10-07 18:51] kkoryaka commented on #340
@carterm  suggested that  pagination is going to be in next release (after 20th)
@artuoma has decided that for 20th release we will have search, letters, but no pagination

[2022-10-07 21:20] kkoryaka commented on #407
@ashleydraper I feel like we already covering it in the structural components area here https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/structure/structure-search.html
Do we have to duplicate it? I think we can remove it from the components list

[2022-10-07 22:04] kkoryaka commented on #416
@ashleydraper this is now updated https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/number-counter.html

[2022-10-07 22:22] artuoma commented on #332
@ashleydraper Added my comments!

[2022-10-07 22:37] kkoryaka commented on #480
happy to do it !

[2022-10-07 22:53] ashleydraper commented on #480
@kkoryaka Can you share the link in staging?

[2022-10-07 23:09] ashleydraper commented on #306
@artuoma @extinah Please review the **[settings component](https://docs.google.com/document/d/1cTGfoXdqUiGAt5V9Q_-rZaRVtmayN3nCoX1i2Wn1cO4/edit#)**.

[2022-10-08 00:11] ashleydraper commented on #314
This looks good. Ready to close.

[2022-10-08 00:50] ashleydraper commented on #480
This pattern does not re-designed. We should not close until the example design has been added in dev.

[2022-10-08 00:58] ashleydraper commented on #306
@kkoryaka  Adding you to this issue to begin mocking up the landing page. Here is the [**Structure landing page**](https://docs.google.com/document/d/1Mnw_Do_Ra8ozhCN-89DVraihOqTBJvjom6p1Zgmb_VI/edit) google staging doc.

[2022-10-08 01:05] ashleydraper commented on #460
Looks good. Moving to close.

[2022-10-08 02:48] ashleydraper commented on #410
Looks good. Ready to close.

[2022-10-08 03:04] ashleydraper commented on #414
![image](https://user-images.githubusercontent.com/62437425/194684973-bb8396fb-13c1-426a-b0b3-ec6aeee1f02c.png)

[2022-10-08 03:19] ashleydraper commented on #326
![image](https://user-images.githubusercontent.com/62437425/194685539-1dc1e31f-821b-4cc0-aaab-1cdafa64f938.png)

[2022-10-08 03:22] ashleydraper commented on #534
This is done. Ready to close.

[2022-10-08 03:33] ashleydraper commented on #299
![image](https://user-images.githubusercontent.com/62437425/194686181-d037f439-cde3-4c11-b7c1-60d7c38e1df2.png)

[2022-10-08 03:41] ashleydraper commented on #299
![image](https://user-images.githubusercontent.com/62437425/194686467-fa4d1445-e483-4cf6-955c-97c8d2b371bb.png)

[2022-10-10 16:16] ashleydraper commented on #416
![image](https://user-images.githubusercontent.com/62437425/194910729-2514d742-8bad-426b-8f80-dee9cc6cfa6f.png)

[2022-10-10 20:39] ashleydraper commented on #216
@sharon-rabang Content is approved and final! I've already updated the [**Figma**](**url**) board with the final content, the only design need is on the feedback line at the bottom of the page.

[2022-10-10 20:44] ashleydraper commented on #307
Here's the **[Figma board](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=0%3A1)** for review.

[2022-10-10 20:46] ashleydraper commented on #332
Decision made to hold off on this pattern for the state template. This work will be leveraged for the Design System.

[2022-10-10 21:21] ashleydraper commented on #307
Assigning to @artuoma and @extinah for final review of the [homepage](https://docs.google.com/document/d/1GNuegIBwOGUaL3t5iNJ7Q12XEqbsGKPyFLuCdCzvFd8/edit) content. We reviewed these online, but take a look up close and see what you find.

[2022-10-10 22:26] artuoma commented on #306
@ashleydraper done with all except Search which has been trashed?

[2022-10-10 22:30] ashleydraper commented on #306
@artuoma That link is now updated, but I still have to merge the structural aspect to it.

[2022-10-10 22:35] artuoma commented on #327
@ashleydraper  review done

[2022-10-10 22:37] kkoryaka commented on #326
@ashleydraper this one is fixed

[2022-10-10 22:38] kkoryaka commented on #414
@ashleydraper this one is now fixed

[2022-10-10 22:39] artuoma commented on #523
Looks good - should back to top be on the right so its easier to get to in mobile with a thumb?
![image](https://user-images.githubusercontent.com/20782462/194962620-72c8a402-1c91-44d5-b2fe-5e9130d0ba27.png)

[2022-10-10 22:47] artuoma commented on #307
@artuoma left my feedback

[2022-10-10 22:50] kkoryaka commented on #416
@sharon-rabang said she will work on subtile and provides me the concrete styles.

[2022-10-10 22:50] artuoma commented on #520
@artuoma sounds good to me - moving to UX

[2022-10-10 23:50] kkoryaka commented on #413
@ashleydraper this one is now updated: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/tabs.html

[2022-10-11 14:39] ashleydraper commented on #326
@kkoryaka You have to provide the new staging link.

[2022-10-11 15:58] ashleydraper commented on #414
@kkoryaka I just tagged you in the Figma doc where the social media icons are located. I believe these all exist, can you add them to our sample section.

Once that is done, this issue can close.

![image](https://user-images.githubusercontent.com/62437425/195141418-3bf55687-f592-4152-b2fa-ea5a71adb3d8.png)

[2022-10-11 16:36] ashleydraper commented on #326
Looks good. Ready to close.

[2022-10-11 16:49] ashleydraper commented on #341
@sharon-rabang to update Figma with search text field box and display all icons

[2022-10-11 16:52] ashleydraper commented on #453
Ashley and Konstantin to sidebar on this

[2022-10-11 16:54] sharon-rabang commented on #521
10.10.22: Worked with Konstantin to determine V6 website colors.
10.11.22: Colors are ready for Sharon to apply to Figma prototypes. Sharon will let Konstantin know when their ready for Dev.

[2022-10-11 18:04] kkoryaka commented on #415
this one is the component and should be on the component list.

[2022-10-11 18:49] #414 closed

[2022-10-11 19:25] ashleydraper commented on #327
@kkoryaka Please re-paste **all** the **[content](https://docs.google.com/document/d/1fM8IxV0FZEcsxALCUsZydqSz1U5SZre6Jpf04pfpdT8/edit#)**, I see that edits were made after this component was published. Also, please fix the typo.

![image](https://user-images.githubusercontent.com/62437425/195180808-93c991f0-c165-42f9-9551-57076c39ccc3.png)

[2022-10-11 19:42] kkoryaka commented on #525
@ashleydraper what roles option should we include in the select box?
![Screen Shot 2022-10-11 at 12 42 34 PM](https://user-images.githubusercontent.com/31669748/195184084-8297e96d-a380-4feb-b2c6-8159256a0e12.png)

[2022-10-11 19:48] kkoryaka commented on #525
@carterm could you add azure post service to this one?

[2022-10-11 20:19] kkoryaka commented on #416
@ashleydraper subtitle is now updated (based on @sharon-rabang recommendations) Please review

[2022-10-11 20:29] ashleydraper commented on #413
@kkoryaka  How about just these:

Basic
![image](https://user-images.githubusercontent.com/62437425/195192102-7dec7ad0-08a6-4b49-af47-79b762296a18.png)

Shaded
![image](https://user-images.githubusercontent.com/62437425/195191907-56acfac3-755f-42d6-bec0-a1a5f7e6fe69.png)

[2022-10-11 20:36] ashleydraper commented on #412
@kkoryaka  How about just these:

Basic
![image](https://user-images.githubusercontent.com/62437425/195192159-84082263-35e8-453e-a32b-8b59e81244f9.png)

Shaded
![image](https://user-images.githubusercontent.com/62437425/195191907-56acfac3-755f-42d6-bec0-a1a5f7e6fe69.png)

[2022-10-11 20:45] ashleydraper commented on #416
Looks good. Ready to close.

[2022-10-11 20:56] ashleydraper commented on #413
![image](https://user-images.githubusercontent.com/62437425/195196668-623c4523-7627-4ab2-b3d4-743c4b31b1d3.png)

[2022-10-11 21:27] sharon-rabang commented on #416
Here's the [Typography: Subtitle](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=57%3A5135) prototype in Figma, for reference.

[2022-10-11 21:40] ashleydraper commented on #416
So sorry for all the back and forth on this one. I'm just seeing Sharon's mockup in [Figma](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=57%3A5135). The heading should look like this.

![image](https://user-images.githubusercontent.com/62437425/195203378-ff5bb6a8-ec94-4dfe-95bd-032edc8a71b8.png)

[2022-10-11 21:43] sharon-rabang commented on #416
@ashleydraper FYI - The H1 color will get updated when we apply the v6 website colors in Dev. I'm still working on colors in Figma. :)

[2022-10-11 22:27] ashleydraper commented on #416
Sounds good. Re-closing this issue.

[2022-10-11 22:44] kkoryaka commented on #413
@ashleydraper this one is fixed please review once more

[2022-10-12 05:47] sharon-rabang commented on #521
Figma [Website Template: Color palette](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=72%3A9374)

@kkoryaka All pages in Figma have been updated with these colors and are ready for dev. Please let me know if you have any questions or concerns.

[2022-10-12 05:47] #521 closed

[2022-10-12 15:37] ashleydraper commented on #218
@artuoma @extinah The **[patterns landing page](https://docs.google.com/document/d/1dSaxoIHsuJMXOrFMiVnEQgIrJfAyWmkcPDikllgrH78/edit#)** is ready for review. And you can view it in context in **[Figma](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=45%3A7548)**.

[2022-10-12 16:23] ashleydraper commented on #216
Per discussion on 10/12/22, we will not publish a page level feedback form. This issue is ready for dev.

[2022-10-12 16:49] sharon-rabang opened #568 "Header: Settings banner and Search bar/banner designs"
@kkoryaka The settings banner design and the search bar/banner designs are ready for dev.

Please go to the Figma page for reference: V6 State Web Template official - [V6 components](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A3187)
Let me know if I can help with any questions or concerns. Thanks!

[2022-10-12 16:51] ashleydraper opened #569 "Create an external link icon"
Request JS code from design system team, or check exisiting css snippet to see if it will work for this project.

[2022-10-12 18:50] sharon-rabang commented on #341
@carterm The Figma [Icons page](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=75%3A5977) is ready for dev. Let me know if I can help with any questions. Thanks!

[2022-10-12 19:28] ashleydraper commented on #415
Looks good. Ready to close.

[2022-10-12 19:31] ashleydraper commented on #525
@kkoryaka Let use this list:

- Analytics
- Content
- Design
- Development
- Product
- Program
- Research
- Other

[2022-10-12 19:35] ashleydraper commented on #409
![image](https://user-images.githubusercontent.com/62437425/195432129-4f94d7d8-4043-4636-9b3e-2008ba5bc68d.png)

[2022-10-12 19:43] ashleydraper commented on #411
![image](https://user-images.githubusercontent.com/62437425/195433567-f8fdbd23-da0b-4fa4-bdb8-ab93232c658e.png)

[2022-10-12 19:44] ashleydraper commented on #411
@timothyshambra You can copy that text here.

Step 1. Briefly discuss the step or identify the milestone.
Step 2. Keep the message clear and concise.
Step 3. Do not use the tracker to link to more information.
Step 4. Link to additional information in your body content or tracker caption.

[2022-10-12 19:52] ashleydraper commented on #411
![image](https://user-images.githubusercontent.com/62437425/195435022-9eeb4b30-98ec-4105-a7a4-2c96078e76fb.png)

[2022-10-12 20:02] ashleydraper commented on #411
![image](https://user-images.githubusercontent.com/62437425/195436845-4f58ec3a-644f-4f31-af51-9d734099ed4a.png)

[2022-10-12 20:03] ashleydraper commented on #411
### Give your steps a clear, concise title
The step list is a good fit for lengthy content. Use this space to discuss the step or identify the milestone. If there is information that your visitor must know before completing this step, you can talk about that here too.

### Make your steps actionable
Be sure to tell your visitor exactly what they have to do to complete the step. If the process is n

[2022-10-12 20:06] ashleydraper commented on #411
![image](https://user-images.githubusercontent.com/62437425/195437508-43bd3fa8-cfba-442e-9e84-b78cecaf80a5.png)

[2022-10-12 20:09] ashleydraper commented on #413
Looks good. Ready to close.

[2022-10-12 20:13] kkoryaka commented on #569
@ashleydraper i have added the external link icon feature, please test.

[2022-10-12 20:15] ashleydraper commented on #569
@kkoryaka I don't see it yet, should I give it a minute?

[2022-10-12 21:40] sharon-rabang commented on #512
@Greg-Watanabe These prototype pages are ready for dev in Figma:
- [Colors](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A4466)
- [Color themes - Delta](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A4250)
Please let us know if we can help with any questions. Thanks!

[2022-10-12 22:27] extinah commented on #407
Reviewed and approved by Christina. Thanks.
@artuoma

[2022-10-12 22:30] extinah commented on #218
@ashleydraper This looks great. Nicely done. No changes - approved.
@artuoma Poke!

[2022-10-12 22:58] ashleydraper commented on #409
Looks good. Ready to close.

[2022-10-12 23:03] ashleydraper commented on #327
@timothyshambra I don't see this edit in dev...

[2022-10-12 23:04] ashleydraper commented on #569
Looks good. Ready to close.

[2022-10-12 23:11] ashleydraper commented on #411
![image](https://user-images.githubusercontent.com/62437425/195464325-3ae2f8e0-5ec0-4b3d-8ebb-cdfbb8ec6200.png)

[2022-10-12 23:14] ashleydraper commented on #412
Looks good. Ready to close.

[2022-10-12 23:33] ashleydraper commented on #332
Pasting from Teams thread.

UPDATE on Banner:

I just got clarification on "Hero banner", I was hung up on the "hero" as it is a type of banner, I asked for it to be called "Banner" vs hero banner for v6. This aligns with the patterns we are proposing for Design System. [Updated content here ](https://docs.google.com/document/d/1NMEih8i7Si_m8jbXj1IyrJE9Gtie0I6LxM5a2xiQ5rs/edit#)(Thank you Draper,

[2022-10-13 15:08] sharon-rabang commented on #280
10.12.22: Visual design: [Website Template Color Palette](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=72%3A9374) colors have been applied to all prototype pages in Figma.

Same comments from [#512 Update color scheme pages according to Figma prototype](https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/512):
@Greg-Watana

[2022-10-13 15:10] sharon-rabang commented on #512
@Greg-Watanabe FYI, the same Color page and color theme page comments are in [#280 Create Visual Design landing page that will combine content from Type, Colors, and Icons pages](https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/280).

[2022-10-13 15:54] sharon-rabang opened #577 "Social media share image"
Create Teams share image

- Specs: 1200px-x-627px
- Name: California State Web Template
- Draft content: (TBD)
- Teams uses the meta tag:
<meta property="og:image" content="[http://www.yourdomain.com/image-name.jpg"](http://www.yourdomain.com/image-name.jpg%22)

[2022-10-13 15:59] sharon-rabang commented on #479
Design:
- @Angsv completed card grid design examples
- @sharon-rabang will retouch the sets of images to display with an even tone

[2022-10-13 16:09] sharon-rabang commented on #523
@artuoma Good catch! We deleted 'Back to top' from the footer. Thanks!

[2022-10-13 16:56] sharon-rabang commented on #520
Assigned to @hamiltonryan

[2022-10-13 16:56] sharon-rabang commented on #577
Assigned to @hamiltonryan

[2022-10-13 17:09] kkoryaka commented on #408
@sharon-rabang this is ready for review, i made some adjustments and added couple of more essential elements that were missing. https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/form-elements.html

[2022-10-13 20:45] kkoryaka commented on #216
@ashleydraper this is now ready for review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/whats-new.html

[2022-10-13 22:44] sharon-rabang commented on #408
@kkoryaka The page in dev with your proposed changes and the [Form elements](https://docs.google.com/document/d/1JTKuRKCaaUDJb2SyGHtjpBcGpySt7yJG6pAOKD4GeEA/edit#heading=h.kf35mw7u91bx) Google doc have been reviewed.

Feedback: It's a given that labels are part of form elements, so let's keep the completed content in the Google doc 'as is' for dev in this release. Your proposed changes and the mis

[2022-10-13 22:48] extinah commented on #479
@ashleydraper  Done reviewing content and prototype. Looks good. Minor comments of both the doc and prototype.

@artuoma  Poke!

[2022-10-13 22:52] extinah commented on #306
Settings link doesn't work.

Footer is reviewed and approved.

Is there anything else left to review? :)

[2022-10-13 22:57] ashleydraper commented on #306
Art reviewed the [**settings component**](https://docs.google.com/document/d/1siZ5c2YNAI-JsvBB3bSkSXQ5DOuVef19JJDTSVmtd20/edit#heading=h.rx4gk3lhdug1) and all the others in this bucket. We're done with structure content.

[2022-10-13 23:03] ashleydraper commented on #306
@sharon-rabang All content has been reviewed, approved, and pasted in Figma. We now need some redesign on the visual examples. Let me know when you'd like to tackle this as I see there is some copy in the examples.

[2022-10-13 23:15] yesenia-gtz commented on #526
@artuoma  are we able to move this page over as is?

https://template.webstandards.ca.gov/shortcuts.html

[2022-10-13 23:15] ashleydraper commented on #216
Looks good. Ready to close.

[2022-10-13 23:17] yesenia-gtz commented on #332
Adding label for V6 production. OK to have available by December release.

[2022-10-13 23:23] yesenia-gtz commented on #472
@ashleydraper @artuoma does this relate to https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/332 ? cane we close this out?

[2022-10-13 23:25] yesenia-gtz commented on #477
@kkoryaka @sharon-rabang moving this one to be completed by Prod release milestone

[2022-10-13 23:27] yesenia-gtz commented on #476
@ashleydraper @sharon-rabang Moving this Prod release milestone if time allows

[2022-10-13 23:28] ashleydraper commented on #472
@yesenia-gtz  Not for that reason, but yes we can close. The profile banner in prod is more like our card, unless @artuoma has more on this, I think we can close.

[2022-10-13 23:31] yesenia-gtz commented on #533
Can we link to https://webstandards.ca.gov/contact-us/ and call it day?

[2022-10-13 23:31] ashleydraper commented on #351
@kkoryaka The card component should be moved back with patterns.

[2022-10-13 23:34] yesenia-gtz commented on #528
No need to have a logo refresh. @artuoma can we close this out?

[2022-10-13 23:35] #528 closed

[2022-10-13 23:37] ashleydraper commented on #533
No. I could better explain by sharing my screen, but here's the gist..

![image](https://user-images.githubusercontent.com/62437425/195730371-4511aabe-8d08-49e4-a30a-fbe8dda979dd.png)

[2022-10-13 23:37] ashleydraper commented on #533
![image](https://user-images.githubusercontent.com/62437425/195730401-b3154205-99d0-4304-8f59-e3003e729ae9.png)

[2022-10-13 23:38] ashleydraper commented on #533
@yesenia-gtz This is obviously just showing a way of gathering feedback data, but the interface is different from the form on https://webstandards.ca.gov/contact-us/.

[2022-10-13 23:39] yesenia-gtz commented on #474
@Angsv what is the estimate lift for this? if other priorities that take over this, can we hold for the Production release if time allows?

cc @artuoma

[2022-10-13 23:39] ashleydraper commented on #407
This component is now being tracked in issue #306. Ready to close here.

[2022-10-13 23:40] #216 closed

[2022-10-13 23:40] #472 closed

[2022-10-13 23:43] yesenia-gtz commented on #533
For v6, we can link to contact form. No need to do more than that for this release. We can see what feedback looks like through the form

[2022-10-13 23:43] #533 closed

[2022-10-13 23:45] Angsv commented on #518
[404 error page](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=150%3A5281) is ready for review. I've attached the SVG file to this comment, if you need the original Illustrator file or another format, let me know.
![polygon_bear_hard_hat](https://user-images.githubusercontent.com/95935944/195731448-e675b98f-2b2d-4a86-b9d2-82b0a4fd92c9.svg)

[2022-10-13 23:47] ashleydraper commented on #479
@kkoryaka Happy to move this to dev. Here are the content and design docs:
- [Card grid in Google docs](https://docs.google.com/document/d/1RfZNdp00ByVkpdp3yBJS8ihVtcfrXV4h9EP6uppc80I/edit)
- [Figma wireframe](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=45%3A7548)

[2022-10-13 23:48] sharon-rabang commented on #306
@ashleydraper How about Monday? I'm focusing on the side nav design tomorrow.

[2022-10-13 23:50] ashleydraper commented on #306
Sounds like a plan!

[2022-10-13 23:51] yesenia-gtz commented on #225
Moving to current sprint

[2022-10-13 23:57] ashleydraper commented on #332
Updated issue name to "Banner."

Please review and edit in the **[google staging doc](https://docs.google.com/document/d/1NMEih8i7Si_m8jbXj1IyrJE9Gtie0I6LxM5a2xiQ5rs/edit)**.

[2022-10-13 23:58] Angsv commented on #474
@yesenia-gtz I'll get this into figma tomorrow by noon-ish

[2022-10-14 00:01] yesenia-gtz commented on #474
Moving to current sprint, thank you!

[2022-10-14 00:04] ashleydraper commented on #518
Looks great @Angsv! Thank you!

@kkoryaka This is ready for dev. Here are the content and design links you'll need:
- [Figma wireframe](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=150%3A5281)
- [Google staging doc](https://docs.google.com/document/d/14XT0Ox8lQ1Xv1ImGWWDmBikudbaAGsnPhWlElNtkxJU/edit)

[2022-10-14 00:04] kkoryaka commented on #341
@sharon-rabang please review: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design/icons.html

[2022-10-14 00:26] ashleydraper commented on #470
Moving the [**link grid**](https://docs.google.com/document/d/1pQN5tNBUJZK8V3R1Uc-jX5-TkDNFk7ID8abskr3-h8w/edit#) content forward for review.

@sharon-rabang Flagging for your attention. The example will need some redesign.

[2022-10-14 00:29] ashleydraper commented on #280
@sharon-rabang If this issue is ready for dev, remember to assign it to the developer and move it to their column.

[2022-10-14 00:30] ashleydraper commented on #280
@Greg-Watanabe @kkoryaka Here are the google staging docs for content:

- [Colors](https://docs.google.com/document/d/1E3LB0hMUZF-DTVx8AsPmvVvGzU7cDeffrJeeDi9pJps/edit#)

- [Icons](https://docs.google.com/document/d/1LbgcENsfG_AgQ2sNEjJCtHTl4JxCoBe6hrsyXIAayIQ/edit#heading=h.5st7skvtgqwk)

- [Typography](https://docs.google.com/document/d/11oaHBWMaPXzwPCxEUAB65aSLps3nmyLzzE4tvmimSU0/edit#heading=h

[2022-10-14 00:33] ashleydraper opened #586 "Template updates page"
Creating this issue to track progress of the [**template updates**](https://docs.google.com/document/d/15_Qr6ahAbD_L4S-pnl8707AWRRRsS8RZI3EAeFKGRbM/edit) page.

[2022-10-14 00:36] ashleydraper commented on #586
And never mind, this is complete. Moving to close, nothing to see here :D

[2022-10-14 14:14] sharon-rabang commented on #225
Moving this issue to 'Ready for dev' since it's related to [#280](https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/280) and [#512](https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/512).

Notes from 10.12.22: Visual design: [Website Template Color Palette](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-off

[2022-10-14 14:51] #420 closed

[2022-10-14 14:57] yesenia-gtz commented on #340
@kkoryaka I thought this was in progress?  Why move to ice box? Do we need to hold off for production release in dec?

cc @artuoma

[2022-10-14 15:07] yesenia-gtz commented on #340
[kkoryaka](https://github.com/kkoryaka) commented [7 days ago](https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/340#issuecomment-1271972026)
@carterm suggested that pagination is going to be in next release (after 20th)
@artuoma has decided that for 20th release

@artuoma per the comment above: Please be sure to loop me into product decisions. We should meet the d

[2022-10-14 15:09] yesenia-gtz commented on #341
@artuoma @kkoryaka @sharon-rabang @extinah please see my comment on https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/340#issuecomment-1279133116

We should meet the design recommendations to include pagination below icon section for December production release. This was discussed and clarified in our team call on 9/23.

[2022-10-14 16:00] yesenia-gtz opened #587 "Side navigation (component)"
To be included in December production release as part of [Update structure landing page to include structural components samples and code](https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/306):

- [ ] [Side navigation](https://docs.google.com/document/d/1hN7vXwYNvhaYJ2MsLYPlPPokBBQ_6Gtrs-XZnqaIkOA/edit#)

Focus area:

- UX recommendations
- Design updates
- Conten

[2022-10-14 16:04] yesenia-gtz commented on #587
FYI @artuoma @extinah @ashleydraper @kkoryaka  this item will not be available for beta release, we are aiming for Production release for completion.

[2022-10-14 16:06] yesenia-gtz commented on #306
FYI Side navigation / Structural components #587 will not be available to beta release, goal to include updated design by production release in December

[2022-10-14 16:11] yesenia-gtz commented on #341
@sharon-rabang  review https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design/icons.html with the understanding that we will need to add in the pagination for December production release. Figma file will need to be updated to reflect the design recommendation proposed by Courtney 9/23.

[2022-10-14 16:14] #323 closed

[2022-10-14 16:21] yesenia-gtz commented on #279
@extinah can you review this for IA accuracy? See Courtney's note above

https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/

[2022-10-14 16:22] kkoryaka commented on #225
@sharon-rabang i am closing this one. there will be a new issue for header colors update

[2022-10-14 16:43] yesenia-gtz commented on #225
@kkoryaka can you please link the new issue you mentioned would be opened above here?

[2022-10-14 16:45] kkoryaka opened #588 "Update utility header, settings bar and search bar colors"
Update utility header, settings bar and search button colors based on figma prototype
![Screen Shot 2022-10-14 at 9 30 00 AM](https://user-images.githubusercontent.com/31669748/195898968-51af3a62-0d6e-4466-aae9-f0af0a2c3e2d.png)

[2022-10-14 16:47] Angsv commented on #474
Figure with Captions has been added to the Figma patterns - ready for review/final approval

[2022-10-14 16:50] extinah commented on #332
This looks great. Reviewed and approved - no changes! :)

[2022-10-14 16:50] ashleydraper commented on #480
We don't have the design yet, but it will live **[here](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=109%3A5016)**.

[2022-10-14 16:51] extinah commented on #470
Looks great - approved. Thanks!
@ashleydraper

[2022-10-14 17:04] yesenia-gtz commented on #332
@kkoryaka ready for dev

[2022-10-14 17:06] yesenia-gtz commented on #480
Assigning to you and @sharon-rabang pushing this to December production release milestone.

[2022-10-14 17:08] yesenia-gtz commented on #512
@Greg-Watanabe To be completed by Beta release 11/4

[2022-10-14 17:09] yesenia-gtz commented on #518
To be completed by Beta release 11/4

[2022-10-14 17:11] yesenia-gtz commented on #523
To be completed by Beta release 11/4

[2022-10-14 17:13] yesenia-gtz commented on #461
@kkoryaka moving this to Production release milestone to focus on beta dev efforts

[2022-10-14 18:00] #586 closed

[2022-10-14 18:00] #412 closed

[2022-10-14 18:00] #569 closed

[2022-10-14 18:01] #409 closed

[2022-10-14 18:01] #415 closed

[2022-10-14 18:01] #416 closed

[2022-10-14 18:02] #326 closed

[2022-10-14 18:02] #534 closed

[2022-10-14 18:02] #410 closed

[2022-10-14 18:02] #314 closed

[2022-10-14 18:04] yesenia-gtz commented on #466
@sharon-rabang is this complete and OK to close out?

[2022-10-14 18:04] yesenia-gtz commented on #473
@kkoryaka is this OK close out?

[2022-10-14 18:04] #312 closed

[2022-10-14 18:05] #311 closed

[2022-10-14 18:05] #417 closed

[2022-10-14 18:34] kkoryaka commented on #299
@sharon-rabang @ashleydraper going through this page and icons design

[2022-10-14 18:39] kkoryaka commented on #470
@artuoma will review it and tag @ashleydraper

[2022-10-14 18:43] kkoryaka commented on #279
@ashleydraper please take a look at the order and assign it to devs when you are done.

[2022-10-14 18:50] kkoryaka commented on #568
@sharon-rabang and @kkoryaka & @artuoma will meet and collaborate on those.

[2022-10-14 18:52] kkoryaka commented on #480
this one was deleted from banner variation. Closing it

[2022-10-14 18:52] #480 closed

[2022-10-14 18:54] kkoryaka commented on #475
This item needs to be in v6 production @ashleydraper

[2022-10-14 19:01] sharon-rabang commented on #466
@yesenia-gtz This is still in progress and part of [#512](https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/512), [#280](https://github.com/Office-of-Digital-Services/California-State-Web-Template/issues/280).

As discussed at today's stand-up, I will work with @kkoryaka to work on feedback from @artuoma.

[2022-10-14 19:18] artuoma commented on #332
Review completed - minor edits @ashleydraper

[2022-10-14 19:41] extinah commented on #520
@yesenia-gtz  this can be moved to the dec release

[2022-10-14 19:57] yesenia-gtz commented on #520
Milestone updated for Production release Dec 16

[2022-10-14 20:13] yesenia-gtz commented on #470
@artuoma assigning you to this, once you are done reviewing assign to Ashley

[2022-10-14 20:16] yesenia-gtz commented on #520
@hamiltonryan  updated assignment to you, I didn't realize you weren't added to project board, apologies for that.

[2022-10-14 20:18] hamiltonryan commented on #520
No problem, thankfully I could still see and and work on the items, I was going to ask you after your training today, so that worked out well

[2022-10-14 20:53] yesenia-gtz commented on #332
@ashleydraper ready for you, see Art's edits in doc

[2022-10-14 22:27] kkoryaka commented on #588
new direction based on our latest meeting  The utility header color is now will be s1 light, but the search button will be grey
![Screen Shot 2022-10-14 at 3 26 45 PM](https://user-images.githubusercontent.com/31669748/195952826-05ef4d86-0e69-43e4-bf96-8a2354cdbd8f.png)

[2022-10-14 22:31] kkoryaka commented on #218
@ashleydraper please review https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns.html

[2022-10-14 22:32] kkoryaka commented on #408
@sharon-rabang this is now updated. I have added arrows. Please review. https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/components/form-elements.html

[2022-10-14 22:42] yesenia-gtz commented on #218
@kkoryaka I noticed the staging layout is not matching the figma layout. Is this still a work in progress? [Figma link here](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A1061)

Side by side below
![Screen Shot 2022-10-14 at 3 41 11 PM](https://user-images.githubusercontent.com/98193284/195954122-9a5ec629-2faa-4753-aab6-a151a9559860.png)

CC:@artuoma

[2022-10-15 00:01] sharon-rabang commented on #341
@yesenia-gtz @kkoryaka @carterm Here is the the updated dev specs/documentation for this recommendation for dev review in [Figma: Dev specs/documentation](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=177%3A7569)

Here is the update Icons page in Figma: [Icons page](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id

[2022-10-15 00:01] sharon-rabang commented on #340
@yesenia-gtz @kkoryaka @carterm Here is the the updated dev specs/documentation for this recommendation for dev review in [Figma: Dev specs/documentation](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=177%3A7569)

Here is the update Icons page in Figma: [Icons page](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id

[2022-10-15 00:14] sharon-rabang commented on #408
@kkoryaka Thanks for updating the Label and Text field examples with the arrows, and for placing them in the Example/Source tabs.
Feedback: The blue callouts and arrows need to be darker, and the arrows need to be without gaps for website design consistency. Please develop the [Forms elements](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=137%3A5469) pag

[2022-10-15 00:25] yesenia-gtz commented on #473
I see no response so I am closing

[2022-10-15 00:25] #473 closed

[2022-10-15 00:26] #225 closed

[2022-10-15 00:31] kkoryaka commented on #479
@ashleydraper @sharon-rabang this is now updated: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/patterns/card-grid.html

[2022-10-15 00:32] kkoryaka commented on #218
@yesenia-gtz you probably clicked to soon before it deployed

[2022-10-15 00:37] yesenia-gtz commented on #341
@artuoma @kkoryaka the staging site does not match the figma design, not sure what is happening with this. Seems like a lot of design is not being included in the build, why is this? example below.
![Screen Shot 2022-10-14 at 5 32 47 PM](https://user-images.githubusercontent.com/98193284/195960966-af9a8ca8-7951-4956-9b60-bac382c81d87.png)
 Please ensure development is completed  to design spec bef

[2022-10-15 00:47] yesenia-gtz commented on #218
@kkoryaka thanks for the heads up! Just did a hard refresh and I am seeing a few content differences, but looks like content on staging matched [google staging doc](https://docs.google.com/document/d/1dSaxoIHsuJMXOrFMiVnEQgIrJfAyWmkcPDikllgrH78/edit#)

![Screen Shot 2022-10-14 at 5 43 30 PM](https://user-images.githubusercontent.com/98193284/195961271-6accc7b6-64f4-4986-9f6c-fa1f897a4826.png)

ALL

[2022-10-17 15:29] sharon-rabang commented on #470
@ashleydraper The example has been redesigned in Figma. The redesign is based on the other Pattern examples for consistency.

[2022-10-17 15:49] sharon-rabang commented on #479
@kkoryaka @ashleydraper Design looks good! Can we make 2 minor fixes?
Basic card example:
- @kkoryaka Can we make the card titles Oceanside Primary #046B99?
- @ashleydraper In the second card's content, can we change the last sentence to "Font style can be customized."? Customizing the font 'size' may lead to inconsistencies.

[2022-10-17 15:52] ashleydraper commented on #479
@sharon-rabang  You bet. I'll check it out and propose new content.

[2022-10-17 16:16] sharon-rabang commented on #341
@kkoryaka @sharon-rabang Worked on the Search icons section to:
- Update the search bar design
- Place the the info alert box under the Search icons description, where it won't conflict with the search functions.
- @sharon-rabang Updated the [Figma: Dev specs/documentation](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=177%3A7569) and [Icons page](https:

[2022-10-17 16:18] ashleydraper commented on #479
@kkoryaka Here's is the new content, I will also drop in the google doc

### Card title

Use the content found at the button link to inspire your card title.

### Title
Cards use the [heading](https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/visual-design/typography.html) text style for titles. Keep them short, concise, and consistent.

[2022-10-17 16:23] sharon-rabang commented on #568
10.14.22: Met and agreed to keep the header colors light and use a gray search bar. @sharon-rabang will update all of the headers and screenshots of the headers in Figma.

[2022-10-17 16:23] sharon-rabang commented on #466
10.14.22: Met and agreed to keep the header colors light and use a gray search bar. @sharon-rabang will update all of the headers and screenshots of the headers in Figma.

[2022-10-17 16:24] sharon-rabang commented on #512
10.14.22: Met and agreed to keep the header colors light and use a gray search bar. @sharon-rabang will update all of the headers and screenshots of the headers in Figma.

[2022-10-17 16:24] sharon-rabang commented on #280
10.14.22: Met and agreed to keep the header colors light and use a gray search bar. @sharon-rabang will update all of the headers and screenshots of the headers in Figma.

[2022-10-17 21:10] kkoryaka opened #596 "Update README file"
Update read me file so it would have the links the latest repositories and different  template frameworks

# California-State-Template-Website

The California State Web Template is an HTML template and website standard offered by the California Department of Technology to state agencies and departments within the State of California and beyond. Please visit webstandards.ca.gov for more information

[2022-10-17 21:24] kkoryaka commented on #453
@ashleydraper URLs are now updated. please review.

[2022-10-17 21:25] kkoryaka commented on #341
@sharon-rabang this is now updated in staging. please review it again

[2022-10-17 22:19] sharon-rabang commented on #341
@kkoryaka Looking good, thanks! Here are some fixes to make under the Search icons section:
- Search bar:
-- Change the input text label to "Browse icons" (In searching mode you are looking for a specific result, while in browsing mode you are looking for general ideas or multiple answers.)
-- Reduce the height of the "x" container to align it with the rest of the input text label's outline contai

[2022-10-17 23:10] extinah commented on #470
@ashleydraper  This says it's ready for my review - I already reviewed an approved. Did someone have a specific question?

[2022-10-18 14:50] sharon-rabang commented on #568
@kkoryaka The heading settings banner colors have been updated and are ready for dev.

Please go to the Figma page for reference: V6 State Web Template official - [V6 design components](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A3187)
Let me know if I missed anything, thanks!

[2022-10-18 14:51] sharon-rabang commented on #466
@kkoryaka The heading settings banner colors have been updated and are ready for dev.

Please go to the Figma page for reference: V6 State Web Template official - [V6 design components](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A3187)
Let me know if I missed anything, thanks!

[2022-10-18 14:53] sharon-rabang commented on #512
@Greg-Watanabe FYI - The heading banner colors have been updated and are ready for dev.

Please go to the Figma page for reference: V6 State Web Template official - [V6 design components](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A3187)
Let me know if I missed anything, thanks!

[2022-10-18 14:56] sharon-rabang commented on #280
@Greg-Watanabe FYI - The heading banner colors have been updated in Figma and are ready for dev. Sharing update here since it relates to the Color themes page.

Please go to the Figma page for reference: V6 State Web Template official - [V6 design components](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A3187)
Let me know if I missed anything, thanks

[2022-10-18 14:57] sharon-rabang commented on #307
@timothyshambra  FYI - The heading banner colors have been updated in Figma and are ready for dev. Sharing update here since it relates to the homepage.

Please go to the Figma page for reference: V6 State Web Template official - [V6 design components](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=2%3A3187)
Let me know if I missed anything, thanks!

[2022-10-18 15:18] ashleydraper commented on #470
@timothyshambra This one ready for dev. Find the design mock up in [Figma](https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=46%3A4771).

[2022-10-18 15:21] ashleydraper commented on #332
@sharon-rabang Content is approved, this pattern is ready for design.

[2022-10-18 15:55] ashleydraper commented on #279
@kkoryaka @timothyshambra I think I'll be able to review this better once the homepage is developed. Where are we on that?

[2022-10-18 17:01] ashleydraper commented on #523
@kkoryaka Tracking progress in #525, remove "contact us" link from footer.

[2022-10-18 18:18] yesenia-gtz commented on #351
@kkoryaka @ashleydraper @artuoma @extinah

**Re Card timeline:**
I’ve looked over the Content on the card page in production. I don’t see anything jarring in content that would need to be addressed.  The content structure is consistent with what’s in the pattern section already. **No new content or content updates are needed for Beta release on 11/4, move over page with content as is for beta rele

[2022-10-18 18:21] sharon-rabang commented on #306
@ashleydraper All visual examples have been updated and are in place. Now we can just review them for their content and anything I missed.

[2022-10-18 18:54] hamiltonryan commented on #520
@kkoryaka The favicon is ready to go. Do you want that in a PNG or SVG, and where would the best place to post that for you be?

[2022-10-18 18:55] hamiltonryan commented on #577
@Greg-Watanabe The share image is ready to go.  Do you need a PNG or SVG of that, and where would you like me to share that?

[2022-10-18 20:00] hamiltonryan commented on #520
https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=312%3A8207

[2022-10-18 20:00] yesenia-gtz commented on #520
@kkoryaka assigning to you to delegate to engineering as appropriate.

[2022-10-18 20:01] hamiltonryan commented on #577
https://www.figma.com/file/nVVip6nhCxHQnzPUnVf1bb/V6--State-Web-Template-official?node-id=312%3A8208

[2022-10-18 20:46] yesenia-gtz commented on #340
@artuoma  who should be working on this? I see both Konstantin and Carter assigned. Please advise.

[2022-10-18 21:20] kkoryaka commented on #341
@cartem please add showing results container and logic
![Screen Shot 2022-10-18 at 2 19 46 PM](https://user-images.githubusercontent.com/31669748/196547081-5feae7bd-ec8b-4a68-958c-65fc04df99fe.png)

[2022-10-18 21:35] yesenia-gtz opened #601 "Create feedback survey for beta launch"
Need a baseline survey to get feedback on Beta launch for research November 4-11